{# Widgets #}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% if type == 'date' or type == 'time' %}
    {% elseif type == 'hidden' %}
        <div>
    {% elseif type == 'file' %}
        <div class="clearfix" btn-file-container><div class="col-lg-2"><span class="input-group-btn"><span class="btn btn-default btn-file">Browse
    {% else %}
        <div class="col-lg-9">
    {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if type == 'file' %}
        </span></span></div><div class="col-lg-7"><input type="text" class="form-control col-lg-4" readonly /></div>
    {% endif %}
    {% if type == 'date' or type == 'time' %}
    {% else %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div class="col-lg-9">
            <div {{ block('widget_container_attributes') }} class="row">
                <div class="col-lg-6">
                    {{ form_errors(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <div class="col-lg-6">
                    {{ form_errors(form.time) }}
                    {{ form_widget(form.time) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block hidden_widget %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock hidden_widget %}

{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    <div {% if no_container_class is not defined %}class="col-lg-9"{% endif %}>
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
	    <div class="clearfix">
            {{ block('form_rows_compound') }}
        </div>
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
{% spaceless %}
    <div>
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices %}
        {% set required = false %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    <div class="col-lg-9">
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}><div class="col-lg-9">
    {% for child in form %}<div class="{{ multiple ? 'checkbox' : 'radio' }}">
        <label>
            {{ form_widget(child) }}
            {{ child.vars.label|humanize|trans({}, translation_domain) }}
        </label>
        </div>
    {% endfor %}
    </div></div>
{% endspaceless %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) and 'collection' not in form.vars.block_prefixes and 'collection' not in form.parent.vars.block_prefixes %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if 'collection' in form.vars.block_prefixes %}
            <div class="form-group col-lg-12">
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-lg-3 control-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% if 'collection' in form.vars.block_prefixes %}
            </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# Rows #}

{% block form_row %}
{% spaceless %}
    {% if compound %}
        {{ block('form_row_compound') }}
    {% else %}
        {{ block('form_row_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block form_row_compound %}
{% spaceless %}
    <div>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row_compound %}

{% block form_row_simple %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row_simple %}
{% endblock choice_widget_expanded %}

{% block datetime_row %}
{% spaceless %}
    {{ block('form_row_simple') }}
{% endspaceless %}
{% endblock %}

{% block cm_cmbundle_eventdate_row %}
{% spaceless %}
    <div class="well well-sm">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block _cm_cmbundle_event_eventDates_row %}
{% spaceless %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{ 'Event Dates' | trans }}</h3></div>
        <div class="panel-body" {{ block('widget_container_attributes') }}>
            {{ block('form_rows') }}
            <a href="#" class="btn btn-default add_date_link"><i class="glyphicon glyphicon-plus"></i> Add a date</a>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{# Misc #}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="col-lg-push-3 col-lg-6 red">
        {% for error in errors %}
            <li class="text-danger">{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}