{% if requests|length == 0 %}
    {{ "There are no requests."|trans }}
{% else %}
    {% for request in requests %}
        <li class="media object">
            {% if request.entity is not null %}
                {{ show_img_box(request.entity.image.img|imagine_filter('avatar'), {width: 50, offset: request.entity.image.imgOffset, link: request.entity.image.id is not null ? path('image_show', {id: request.entity.image.id}) : null, box_attributes: {class: 'pull-left'}}) }}
            {% else %}
                {{ show_img_box(request.fromUser.img|imagine_filter('avatar'), {width: 50, offset: request.fromUser.imgOffset, link: path('user_show', {slug: request.fromUser.slug}), default: 'user', box_attributes: {class: 'pull-left'}}) }}
            {% endif %}

            <div class="media-body ajax-link-target">
                
                <p>{{ request_tag(request) }}</p>

                {% if request.isNewOrPending %}
                    <div>
                        {% if request.entityId is not null %}
                            {% set object = request.entity %}{% set objectId = request.entityId %}
                        {% elseif request.groupId is not null %}
                            {% set object = request.group %}{% set objectId = request.groupId %}
                        {% else %}
                            {% set object = request.object %}{% set objectId = request.objectId %}
                        {% endif %}
                        {{ request_update(request) }}
                    </div>
                {% endif %}
            </div> 
        </li>
    {% endfor %}

    {% if requests.paginationData.current < requests.paginationData.last %}
        <div class="well well-small" load_more>
            <a href="{{ path('request_index', { 'page': requests.getPaginationData.next }) }}">{{ 'Load more'|trans }}</a>
        </div>
    {% endif %}
{% endif %}