{% if requests|length == 0 %}
    {{ "There are no requests."|trans }}
{% else %}
    {% for request in requests %}
        <li class="media object">
            {{ show_img_box(request.fromUser.img|imagine_filter('50'), {'width': 50, 'height': 50, 'offset': request.fromUser.imgOffset,  'link': path('user_show', {'slug': request.fromUser.slug}), 'default': 'user', 'box_attributes': {'class': 'pull-left'}})|raw }}
            <div class="media-body ajax-link-target">
                
                {{ request.id }}: {{ request_tag(request)|raw }}

                {% if request.isNewOrPending %}
                    <div class="pull-right">
                        {% if request.entityId is not null %}
                            {% set object = request.entity %}{% set objectId = request.entityId %}
                        {% elseif request.groupId is not null %}
                            {% set object = request.group %}{% set objectId = request.groupId %}
                        {% else %}
                            {% set object = request.object %}{% set objectId = request.objectId %}
                        {% endif %}
                        <a href="{{ path('request_update', {'choice': 'accept', 'id': request.id}) }}" class="btn btn-mini ajax-link" data-loading-text="{{ 'Loading'|trans }}"><i class="glyphicon glyphicon-ok"></i> {{ 'Accept'|trans }}</a>
    
                        <a href="{{ path('request_update', {'choice': 'refuse', 'id': request.id}) }}" class="btn btn-mini ajax-link" data-loading-text="{{ 'Loading'|trans }}"><i class="glyphicon glyphicon-remove"></i> {{ 'Refuse'|trans }}</a>
                    </div>
                {% endif %}
            </div> 
        </li>
    {% endfor %}

    {% if requests.paginationData.current < requests.paginationData.last %}
        <div class="well well-small load_more">
            <a href="{{ path('request_index', { 'page': requests.getPaginationData.next }) }}">{{ 'Load more'|trans }}</a>
        </div>
    {% else %}
        <div class="well well-small"><span>{{ 'There are no more requests.'|trans }}</span></div>
    {% endif %}
{% endif %}