{% extends '::base.html.twig' %}

{% block title %}Circuito Musica{% endblock %}

{% block initialJavascript %}
    <script>
        // Object.defineProperty(console, '_commandLineAPI', { get : function() { throw 'We disabled it, Chrome user!' } });

        var documentURL = document.URL;
        history.replaceState(documentURL, document.title, documentURL);
        window.onpopstate = function() {
            if (typeof history.state === 'string' && documentURL.indexOf(history.state) != documentURL.length - history.state.length) {
                window.location.reload(true);
            }
        };
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic'>
    {% stylesheets filter='cssrewrite'
        'css/jquery-ui.min.css'
        'lib/bootstrap/css/bootstrap.min.css'
        'lib/bootstrap/css/bootstrap-theme.min.css'
        'lib/glyphicons/css/glyphicons.css'
        'lib/blueimp-gallery/css/blueimp-gallery.min.css'
        'lib/jasny-bootstrap/css/jasny-bootstrap.min.css'
        'lib/tokenfield/css/tokenfield-typeahead.min.css'
        'lib/tokenfield/css/bootstrap-tokenfield.min.css'
        'bundles/cm/css/common.css'
        'bundles/cm/css/main.css'
    %}
        <link rel='stylesheet' type='text/css' href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block icon %}{{ asset('favicon.ico') }}{% endblock %}

{% block header %}
    <div class="container">
        <a href="{{ path('wall_index') }}" id="logo"><img src="{{ asset('images/layout/logo.png') }}" class="img-responsive" alt="Circuito Musica" /></a>
    </div>
{% endblock %}

{% block menu %}
    <nav id="menu" class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="container">

                <ul class="nav navbar-nav pull-left">
                    <li><a href="{{ path('wall_index') }}">{{ icon('Home') }}</a></li>
                    <li><a href="{{ path('event_index') }}">{{ 'Events'|trans }}</a></li>
                    <li><a href="{{ path('disc_index') }}">{{ 'Discs'|trans }}</a></li>
                    <li><a href="{{ path('article_index') }}">{{ 'Articles'|trans }}</a></li>
                    <li><a href="{{ path('multimedia_index') }}">{{ 'Miultimedia'|trans }}</a></li>
                    <li><a href="#{#{{ path('user_index') }}#}">{{ 'Users'|trans }}</a></li>
                    <li><a href="{{ path('page_index') }}">{{ 'Pages'|trans }}</a></li>
                    <li><a href="{{ path('group_index') }}">{{ 'Groups'|trans }}</a></li>
                    <li class="dropdown">
                        <a href="{{ path('user_locale') }}">{{ 'Locales'|trans }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_locale', {'_locale': "en" }) }}">En</a></li>
                            <li><a href="{{ path('user_locale', {'_locale': "fr" }) }}">Fr</a></li>
                            <li><a href="{{ path('user_locale', {'_locale': "it" }) }}">It</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    {% if is_granted('ROLE_USER') %}
                        {{ render(controller('CMBundle:User:menu', {path: app.request.pathInfo} )) }}
                    {% else %}
                        <li class="dropdown menu-tab">
                            <a href="{{ path('fos_user_security_login') }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'Login'|trans }}</a>
                            <div class="dropdown-menu dropdown-menu-right login-dropdown">
                                <div class="dropdown-menu-body">
                                    <div class="row">
                                        <div class="col-md-6">{{ render(controller('FOSUserBundle:Security:login')) }}</div>
                                        <div class="col-md-6">{{render(controller('FOSUserBundle:Registration:register')) }}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

{% block container %}
    {% block bodyHeading %}{% endblock %}
    
    <div class="row">
    
        {% set noColumns = noColumns|default(false) %}
        {% set inAccountPage = inAccountPage|default(false) %}
        {# LEFT COLUMN #}
        {% if not noColumns and inAccountPage %}
            <div class="col-md-3 col-lg-2">
                {% block accountSidebar %}
                {% endblock %}
            </div>
        {% endif %}

        <div class="col-md-{% if inAccountPage %}9 col-lg-10{% else %}8{% endif %}">
            {# FLASH #}
            {% block layoutBody %}{% block body %}{% endblock %}{% endblock %}
        </div>

        {# RIGHT COLUMN #}
        {% if not noColumns and not inAccountPage %}
            {#{% if sticky is not defined %}
                {% set sticky = true %}
            {% endif %}#}
            <div class="col-md-4"{#{% if sticky %} sticky{% endif %}#}>
                {% block sidebar %}
                    <img src="{{ asset('/bundles/cm/images/layout/banner.jpg') }}" alt="Symfony!" />
                {% endblock %}
            </div>
        {% endif %}

    </div> <!-- END ROW -->
{% endblock %}

{% block footer %}
    {% if not noFooter|default(false) %}
        <div class="container"> 
            <div id="footer">
                Circuito Musica &copy; 2006-{{ "now"|date("Y") }}
                <div class="pull-right">
                    {{ "Contacts"|trans }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var script  = "{{ app.request.scriptname }}";
        var culture = "{{ app.request.locale }}";
        var typeaheadHintRoute = "{{ path('user_typeahead_hint') }}";
        //i18n.init({lng: culture});
    </script>
    {% javascripts
        'js/jquery-2.0.3.min.js'
        'js/jquery-ui.min.js'
        'js/i18n/jquery-ui-i18n.min.js'
        'lib/bootstrap/js/bootstrap.min.js'
        'lib/autosize/jquery.autosize.min.js'
        'lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js'
        'lib/jasny-bootstrap/js/jasny-bootstrap.min.js'
        'lib/i18next/i18next-1.7.2.min.js'
        'lib/typeahead/handlebars-v1.3.0.js'
        'lib/typeahead/typeahead.min.js'
        'lib/tokenfield/js/bootstrap-tokenfield.min.js'
        'js/jquery.hcsticky-min.js'
        'js/jquery.cycle2.min.js'
        'js/jquery.cycle2.scrollVert.min.js'
        'js/jquery.form.min.js'
        'bundles/cm/js/common.js'
        'bundles/cm/js/interface.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if is_granted('ROLE_CLIENT') or
        (is_granted('ROLE_WRITER') and app.request.get('_route') in ['article_edit', 'article_new']) or
        app.request.get('_route') in ['page_biography_edit'] %}
        {% javascripts
            'lib/tinymce/tinymce.min.js'
            'lib/tinymce/jquery.tinymce.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    
{% endblock %}