{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
  {% for event in events %}
    <article class="blog">
      <header>
        <h2>{{ event.id }} {{ event.title }}</h2>
        <h3>{{ event.subtitle }}</h3>
      </header>
      <div>
      	<p>{{ event.extract }}</p>
      	<ul>
      		{% for date in event.eventDates %}
      			<li>{{ date.start | date }}</li>
      		{% endfor %}
      	</ul>
      </div>
    </article>
  {% endfor %}
{% endblock %}