<div class="col-lg-7 text-right">
    <div class="btn-group btn-group-sm">
        <a href="{{ path('multimedia_index') }}" class="{{ app.request.attributes.get('_route') == 'multimedia_index' ? 'btn btn-default active' : 'btn btn-default'}}">{{ show_icon('List')|raw }} {{ 'List'|trans }}</a>
        <a href="{{ path('multimedia_new') }}" class="{{ app.request.attributes.get('_route') == 'multimedia_new' ? 'btn btn-default active' : 'btn btn-default'}}">{{ show_icon('Plus')|raw }} {{ 'Create' | trans }}</a>
    </div>
</div>