{% extends "CMBundle:User:accountLayout.html.twig" %}



{% block section %}
    {% if app.request.get('_route') == 'page_new' %}
        {{ 'Add a page'|trans }}
    {% elseif app.request.get('_route') == 'page_edit' %}
        {{ 'Basic information for "%page%"'|trans({'%page%': page}) }}
    {% endif %}
{% endblock %}



{% block headingButtons %}
    <a href="{{ path('page_show', {slug: page.slug}) }}" class="btn btn-default btn-sm">{{ icon('Page') }} {{ 'View page'|trans }}</a>
{% endblock %}



{% block breadcrumbs %}
    <li><a href="{{ path('user_pages') }}">{{ 'Pages'|trans }}</a></li> 
    {% if app.request.get('_route') == 'page_new' %}
        <li class="active">{{ 'Add a page'|trans }}</li>
    {% elseif app.request.get('_route') == 'page_edit' %}
        <li><a href="{{ path('page_show', {slug: page.slug}) }}">{{ page }}</a></li>
        <li class="active">{{ 'Edit'|trans }}</li>
    {% endif %}
{% endblock %}



{% block main %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.imgFile) }}
                {{ form_row(form.imgOffset) }}

                {{ form_row(form.coverImgFile) }}
                {{ form_row(form.coverImgOffset) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.name) }}
                {{ form_row(form.pageTags) }}
                {{ form_row(form.website) }}
                {% if form.posts is defined %}{{ form_row(form.posts) }}{% endif %}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}