{% extends 'CMBundle:Page:layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        {{ render(controller('CMBundle:Fan:fanButton', {'userId': page.id, 'object': page|class_name})) }}
        {{ include('CMBundle:PageUser:requestAdd.html.twig') }}
    {% endif %}

    {{ include('CMBundle:Page:top.html.twig', {'inPage': 'image'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li><?php echo link_to(__('Users'), '@page_list') ?></li>
      <li class="active"><?php echo $page ?></li>
    </ul>#}


    <div class="box">
        <div class="box-top">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><h3><a href="{{ path('page_images', {'slug': page.slug}) }}">{{ show_icon('Image')|raw }}{{ 'Images'|trans }}</a></h3></li>
                <li><h3><a href="{{ path('page_albums', {'slug': page.slug}) }}">{{ show_icon('Image')|raw }}{{ 'Albums'|trans }}</a></h3></li>
                <li><h3><a href="{{ path('page_entities_albums', {'slug': page.slug}) }}">{{ show_icon('Image')|raw }}{{ 'Entities images'|trans }}</a></h3></li>
            </ul>
        </div>
        <div class="">
            {% for image in images %}
                {% if loop.index % 4 == 1 %}<div class="row">{% endif %}
                    <div class="col-lg-3">
                        {{ show_img_box(image.getImg|imagine_filter('350'), {'width': 150, 'height': 150, 'link': '', 'link_attributes': {'class': 'pull-left img-thumbnail'}})|raw }}
                        <p>{{ image.text }}</p>
                    </div>
                {% if loop.index % 4 == 0 or loop.index == images|length %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'pageFans', array('page' => $page)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}
