{% extends 'CMBundle:Form:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css"> #columnMask, #columnCenter { overflow: visible; } </style>
{% endblock %}

{% block body %}

    {#<?php include_partial('colonnaProfiloEdit', array('page' => $page)) ?>#}

    <div id="columnCenterTop">
        <div class="profiloTopButtons">
            <a href="{{ path('page_show', {'slug': page.slug}) }}" class="pulsante">{{ icon('Back')|raw }} {{ 'Back to the page'|trans }}</a>                    
        </div> 
        <h3>
            {{ icon('Page')|raw }}
            <span>{{ page }} <img src="/images/layout/triangolino_sx.png" /> {{ 'Members'|trans }}</span>
        </h3>
    </div>


    <div id="columnCenter">


        {#<div class="navigazione">
            <div class="breadcrumbs">
                <?php echo link_to('Home', '@homepage') ?> &gt; 
                <?php echo link_to(__('Pages'), '@page_list') ?> &gt; 
                <?php echo link_to($page, $page->getLinkShow()) ?> &gt; 
                <?php echo __('Members') ?>
            </div>
        </div>#}



        <form action="" method="post" class="form-horizontal">

            <div class="object element form-group">

                {{ 'Founder'|trans }}:
                <div class="immagine">
                    {{ show_img_box(page.creator.img|imagine_filter('medium'), {'width': 75, 'height': 75, 'offset': page.creator.imgOffset, 'default': 'user', 'box_attributes': {'class': 'pull-left'}})|raw }}
                </div>

                <div class="contenuto">
                    <h3><a href="{{ path('user_show', {'slug': page.creator.slug}) }}" title="{{ 'Founder'|trans }}">{{ page.creator }}</a></h3>
                </div>
            </div>


            <div class="form-group protagonist_typeahead" typeahead-callback="{{ path('page_member_add', {'pageId': page.id, 'user_id': 'USER_ID'}) }}">
                <div class="col-lg-12 collection-items">
                    <div id="protagonists_finder_container" class="form-group">
                        <label class="control-label col-lg-3">Add new member</label>
                        <div class="col-lg-9"><input type="text" id="protagonists_finder" class="form-control" /></div>
                    </div>                    {% for member in members %}

                        {{ include('CMBundle:Page:member.html.twig') }}

                    {% else %}
                        <p>{{ 'There are no page members'|trans }}</p>
                    {% endfor %}
                </div>
            </div>

            <a href="{#{{ path('page_invite_email', {'slug': page.slug}) }}#}" class="btn btn-default">{{ 'Invite members to page by email?'|trans }}</a>



            <input class="btn btn-default" type="submit" value="{{ 'Save page settings'|trans }}" class="pulsante-attivo" />

        </form>



    </div>

{% endblock %}