{% if protagonist_new_id is not defined %}
    {% set protagonist_new_id = 0 %}
{% endif %}
{% for field in pageUsers %}
    {% if skip is not defined or loop.index0 >= protagonist_new_id %}
        {% set pageUser = field.vars.data %}
        {% set user = pageUser.user %}
        <div protagonist_new_id="{{ loop.index0 }}" class="collection-item protagonists_user media ajax-link-target alert alert-{% if pageUser.status == constant('CM\\CMBundle\\Entity\\PageUser::STATUS_ACTIVE') %}success{% else %}warning{% endif %}" user_id="{{ user.id }}">
            {{ form_errors(field) }}
            {{ show_img_box(user.img|imagine_filter('medium'), {width: 58, offset: user.imgOffset, box_attributes: {class: 'img-thumbnail pull-left'}})|raw }}
            <div class="media-body">
                {% if user.id != app.security.token.user.id %}<a class="protagonists_remove close" aria-hidden="true" id="protagonists_remove_{{ loop.index0 }}">&times;</a>{% endif %}
                <h4 class="media-heading">{{ user }}</h4>
                <div class="row">
                    <div class="col-md-9">
                        {{ form_widget(field.pageUserTags) }}
                    </div>
                    <div class="col-md-3">
                        {% if user.id == app.security.token.user.id %}
                            <label class="checkbox-inline control-label"><input type="checkbox" disabled checked>{{ 'You are admin'|trans }}</label>
                            {% do field.admin.setRendered %}
                        {% else %}
                            {{ form_widget(field.admin) }}
                        {% endif %}
                    </div>
                    {{ form_rest(field) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}