{% extends 'CMBundle::layout.html.twig' %}

{% block heading %}
    {{ include('CMBundle:Page:top.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('CMBundle:Page:membersMini.html.twig') }}

    {% if is_admin(page) %}
        <a href="{{ path('pageuser_members_settings', {slug: page.slug}) }}">{{ 'Manage members'|trans }}</a>
    {% endif %}

    <div class="row" id="wall"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
         '@CMBundle/Resources/public/js/wall.js'
    %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}