{% extends 'CMBundle:Page:layout.html.twig' %}

{% block body %}

    {{ include('CMBundle:PageUser:requestAdd.html.twig') }}

    {{ include('CMBundle:Page:top.html.twig', {'inPage': 'profile'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li><?php echo link_to(__('Users'), '@page_list') ?></li>
      <li class="active"><?php echo $page ?></li>
    </ul>#}


    <div class="box">
        <div class="box-heading">
                    <a href="{{ path('page_biography', {'slug': page.slug}) }}">{{ show_icon('Biography')|raw }} {{ 'Biography'|trans }}</a>
            <h3>{{ show_icon('Biography')|raw }} <a href="{{ path('page_biography', {'slug': page.slug}) }}">{{ 'Biography'|trans }}</a> <small><a href="{{ path('page_biography', {'slug': page.slug}) }}">{{ 'show complete biography'|trans }}</small></a></h2>
        </div>
        <div class="media objects">
            {{ show_img_box(page.img|imagine_filter('350'), {'width': 200, 'offset': page.imgOffset, 'default': 'page', 'box_attributes': {'class': 'pull-left img-thumbnail'}}) | raw }}
            <div class="meda-body">
                <h4>
                    {{ page }}
                </h4>
                {% if biography is not null %}{{ entity_short_text(biography)|raw }}{% endif %}
            </div>
        </div>
    </div>

    {{ include('CMBundle:Page:membersMini.html.twig') }}

    {% if is_admin(page) %}
        <a href="{{ path('page_members_settings', {'slug': page.slug}) }}">{{ 'Manage members'|trans }}</a>
    {% endif %}


    {{ include('CMBundle:Wall:posts.html.twig', {'slug': page.slug}) }}
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'pageFans', array('page' => $page)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}
