{% extends 'CMBundle::layout.html.twig' %}

{% block heading %}
    {{ include('CMBundle:Page:top.html.twig') }}
{% endblock %}

{% block body %}
    <div data-ajax-url="{{ path('page_biography', {slug: page.slug, simple: true}) }}"></div>

    {{ include('CMBundle:Page:membersMini.html.twig') }}

    {% if is_admin(page) %}
        <a href="{{ path('page_members_settings', {slug: page.slug}) }}">{{ 'Manage members'|trans }}</a>
    {% endif %}

    <div data-ajax-url="{{ path('wall_page', {slug: page.slug, simple: true}) }}"></div>
{% endblock %}

{% block sidebar %}
    <div data-ajax-url="{{ path('fan_page_sidebar', {slug: page.slug}) }}"></div>

    <div data-ajax-url="{{ path('event_next_dates', {object: 'page', objectId: page.id, limit: 3}) }}"></div>
{% endblock %}