<div class="profile-header">
    <div class="profile-header-row">
    
        <div class="profile-header-cover">
            {% if page.coverImg != '' %}
                {{ show_img_box(page.coverImg|imagine_filter('large'), {ratio: 2.4, offset: page.coverImgOffset}) }}
            {% endif %}
            <div class="profile-header-buttons btn-toolbar" role="toolbar">
                {% if is_granted('ROLE_USER') %}
                    {{ render(controller('CMBundle:Fan:button', {userId: page.id, object: page|class_name})) }}
                    <a href="{{ path('message_new', {userId: user.id}) }}" class="btn btn-default" {{ modal({remote: path('message_new', {userId: user.id}), callback: '$initRecipients()'}) }}>{{ icon('Message') }} {{ 'Send a message'|trans }}</a>
                {% endif %}
            </div>
        </div>
        
        <div class="profile-header-info">
            <div class="profile-header-picture thumbnail">
                {{ show_img_box(page.img|imagine_filter('medium'), {width: 120, offset: page.imgOffset}) }}
            </div>
            <h2>{{ page }}</h2>
            <h3 class="text-muted"{% if page.tags|length > 3 %} {{ tooltip(page.tags) }}{% endif %}>
                {{ page.tags[:3]|join(', ')|trim }}{% if page.tags|length > 3 %}...{% endif %}
            </h3>
        </div>

    </div>
    
    <div class="profile-menu">
        {% spaceless %}
            <a href="{{ path('page_show', {slug: page.slug}) }}"{% if controller_name() == 'page' %} class="active"{% endif %}>{{ icon('User') }} {{ 'Profile'|trans }}</a>
            <a href="{{ path('page_wall', {slug: page.slug}) }}"{% if controller_name() == 'wall' %} class="active"{% endif %}>{{ icon('Wall') }} {{ 'Wall'|trans }}</a>
            <a href="{{ path('page_biography', {slug: page.slug}) }}"{% if controller_name() == 'biography' %} class="active"{% endif %}>{{ icon('Biography') }} {{ 'Biography'|trans }}</a>
            <a href="{{ path('page_events', {slug: page.slug}) }}"{% if controller_name() == 'event' %} class="active"{% endif %}>{{ icon('Event') }} {{ 'Events'|trans }}</a>
            <a href="{{ path('page_images', {slug: page.slug}) }}"{% if controller_name() == 'image' %} class="active"{% endif %}>{{ icon('Image') }} {{ 'Images'|trans }}</a>
            <a href="{{ path('page_multimedia', {slug: page.slug}) }}"{% if controller_name() == 'multimedia' %} class="active"{% endif %}>{{ icon('Multimedia') }} {{ 'Multimedia'|trans }}</a>
            <a href="{{ path('page_discs', {slug: page.slug}) }}"{% if controller_name() == 'disc' %} class="active"{% endif %}>{{ icon('Disc') }} {{ 'Discs'|trans }}</a>
        {% endspaceless %}
    </div>
</div>