{% if protagonistNewId is not defined %}
    {% set protagonistNewId = 0 %}
{% endif %}
{% for field in entityUsers %}
    {% if skip is not defined or loop.index0 >= protagonistNewId %}
        {% set entityUser = entity.entityUsers[(entity.entityUsers|keys)[loop.index0]] %}
        {% set user = entityUser.user %}

        {% if newEntry|default(false) %}
            {% if target is defined and target|length == 2 and target.type == 'page' %}
                {% if attribute(target.obj.pageUsers[loop.index0 - protagonistNewId], joinEntityType) == constant('CM\\CMBundle\\Entity\\PageUser::JOIN_NO') %}
                    {% set requestText = (user.sexArray('he') ~ ' will not recive a request and this element will not be visible to ' ~ user.sexArray('his') ~ ' profile due to ' ~ user.sexArray('his') ~ ' page settings') %}
                    {% set alertClass = 'alert-danger' %}
                {% elseif attribute(target.obj.pageUsers[loop.index0 - protagonistNewId], joinEntityType) == constant('CM\\CMBundle\\Entity\\PageUser::JOIN_YES') %}
                    {% set requestText = ('this element will be automatically added to ' ~ user.sexArray('his') ~ ' profile due to ' ~ user.sexArray('his') ~ ' page settings') %}
                    {% set alertClass = 'alert-success' %}
                {% elseif attribute(target.obj.pageUsers[loop.index0 - protagonistNewId], joinEntityType) == constant('CM\\CMBundle\\Entity\\PageUser::JOIN_REQUEST') %}
                    {% set requestText = (user.sexArray('he') ~ ' will recive a request to add this element to ' ~ user.sexArray('his') ~ ' profile') %}
                    {% set alertClass = 'alert-warning' %}
                {% endif %}
            {% else %}
                {% if user.id == app.security.token.user.id %}
                    {% set requestText = ('this element will appear on your profile') %}
                    {% set alertClass = 'alert-success' %}
                {% else %}
                    {% set requestText = (user.sexArray('he') ~ ' will recive a request to add this element to ' ~ user.sexArray('his') ~ ' profile') %}
                    {% set alertClass = 'alert-warning' %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if entityUser.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_PENDING') %}
                {% set requestText = (user.sexArray('he') ~ ' has not accepted the request yet') %}
                {% set alertClass = 'alert-warning' %}
            {% elseif entityUser.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_ACTIVE') and user.id == app.security.token.user.id %}
                {% set requestText = ('this element appears on your profile') %}
                {% set alertClass = 'alert-success' %}
            {% elseif entityUser.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_ACTIVE') %}
                {% set requestText = ('this element appears on ' ~ user.sexArray('his') ~ ' profile') %}
                {% set alertClass = 'alert-success' %}
            {% elseif entityUser.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_REQUESTED') %}
                {% set requestText = (user.sexArray('he') ~ ' has sent a request to be added to the protagonists') %}
                {% set alertClass = 'alert-info' %}
            {% elseif entityUser.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_REFUSED_ADMIN') %}
                {% set requestText = (user.sexArray('his') ~ ' request has been denied and this element does not appear on ' ~ user.sexArray('his') ~ ' profile') %}
                {% set alertClass = 'alert-danger' %}
            {% elseif entityUser.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_REFUSED_ENTITY_USER') %}
                {% set requestText = (user.sexArray('he') ~ ' has denied the request and this element does not appear on ' ~ user.sexArray('his') ~ ' profile') %}
                {% set alertClass = 'alert-danger' %}
            {% endif %}
        {% endif %}

        <div protagonist_new_id="{{ loop.index0 }}" class="collection-item protagonists_user media alert {{ alertClass }}" user_id="{{ user.id }}" {% if target is defined and target|length == 2 %}{{ target.type }}_id="{{ target.obj.id }}"{% endif %}>
            {{ form_errors(field) }}
            {{ show_img_box(user.img|imagine_filter('medium'), {width: 58, offset: user.imgOffset, box_attributes: {class: 'img-thumbnail pull-left'}})|raw }}
            <div class="media-body">
                {% if user.id != app.security.token.user.id %}<a class="protagonists_remove close" aria-hidden="true" id="protagonists_remove_{{ loop.index0 }}">&times;</a>{% endif %}
                <h4 class="media-heading">{{ user }} <small>({{ requestText|trans }})</small></h4>
                <div class="row">
                    <div class="col-md-9">
                        {{ form_widget(field.entityUserTags) }}
                    </div>
                    <div class="col-md-3">
                        {% if user.id == app.security.token.user.id %}
                            <label class="checkbox-inline control-label"><input type="checkbox" disabled checked>{{ 'You are admin'|trans }}</label>
                            {% do field.admin.setRendered %}
                        {% else %}
                            {{ form_widget(field.admin) }}
                        {% endif %}
                    </div>
                    {{ form_rest(field) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}