<div class="box">
    <div class="box-heading">
        <h2>{{ icon('User') }} {{ 'Publisher'|trans }}</h2>
    </div>

    <div class="box-body">
         <div class="media">
            {{ show_img_box(publisher|default_img|imagine_filter('avatar'), {width: 50, offset: publisher.imgOffset, box_attributes: {class: 'pull-left img-rounded'}}) }}
            <div class="media-body">
                <h4 class="media-heading">{{ publisher }}</h4>

                {% if publisher.userTags is defined and publisher.userTags|length > 0 %}
                    <small>{{ publisher.userTags|join(', ')|trim }}</small>
                {% endif %}
            </div>
        </div>

        {{ biography|short_text({max: 200}) }}
    </div>
</div>  