<div class="box post">
    <div class="box-heading">
        <h2>{{ icon('User') }} {{ 'Publisher'|trans }}</h2>
    </div>

    <div class="box-body">
         <div class="media post-heading">
            {{ show_img_box(publisher|default_img|imagine_filter('avatar'), {width: 50, offset: publisher.imgOffset, link: path(type ~ '_show', {slug: publisher.slug}), box_attributes: {class: 'pull-left img-rounded'}}) }}
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ path(type ~ '_show', {slug: publisher.slug}) }}">{{ publisher }}</a></h4>

                <small class="text-muted"{% if publisher.tags|length > 3 %} {{ tooltip(publisher.tags) }}{% endif %}>
                    {{ publisher.tags[:3]|join(', ')|trim }}{% if publisher.tags|length > 3 %}...{% endif %}
                </small>
            </div>
        </div>

        {{ biography|short_text({max: 200}) }}
    </div>
</div>  