{% if is_granted('ROLE_USER') and object.getUserId() != app.security.token.user.id and attribute(object, 'entity') is defined %}
    {% set protagonistStatus = -1 %}
    {% for entityUser in object.entity.entityUsers %}
        {% if entityUser.user.id == app.security.token.user.id %}
            {% set protagonistStatus = entityUser.status %}
        {% endif %}
    {% endfor %}

    {% if protagonistStatus == 0 %} {# pending #}
        
        <div class="btn-group btn-group-sm ajax-link-target">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicons crown"></i> {{ 'You have been added as protagonsit' | trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('user_request_update', {'choice': 'accept', 'object' : object.object | get_class_name , 'objectId': object.entity.id, 'callback': 'protagonist_button'}) }}" class="ajax-link"><i class="glyphicon glyphicon-ok"></i> {{ 'Accept' | trans }}</a></li>
                <li><a href="{{ path('user_request_update', {'choice': 'refuse', 'object' : object.object | get_class_name , 'objectId': object.entity.id, 'callback': 'protagonist_button'}) }}" class="ajax-link"><i class="glyphicon glyphicon-remove"></i> {{ 'Refuse' | trans }}</a></li>
            </ul>
        </div>

    {% elseif protagonistStatus == 1 %} {# active #}

        <div class="btn-group btn-group-sm ajax-link-target">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicons crown"></i> {{ 'You are a protagonist' | trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('entityuser_delete', {'entityId': object.entity.id, 'callback': 'protagonist_button'}) }}" class="ajax-link">{{ 'Cancel participation' | trans }}</a></li>
            </ul>
        </div>

    {% elseif protagonistStatus == 2 %} {# requested #}

        <div class="btn-group btn-group-sm ajax-link-target">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicons crown"></i> {{ 'Request sent' | trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('user_request_delete_object', {'object': object.object | get_class_name , 'objectId': object.entity.id, 'callback': 'protagonist_button'}) }}" class="ajax-link">{{ 'Cancel request' | trans }}</a></li>
            </ul>
        </div>

    {% elseif protagonistStatus == 3 %} {# refused_admin #}
        
        <span class="btn btn-default disabled"><i class="glyphicons crown"></i> {{ 'Your request has been refused' | trans }}</span>

    {% elseif protagonistStatus == 4 %} {# refused_entity_user #}
        
        <span class="btn btn-default disabled"><i class="glyphicons crown"></i> {{ 'You refused the protagonist request' | trans }}</span>
        
    {% else %}
        
        <a href="{{ path('user_request_add', {'object': object.object | get_class_name , 'objectId': object.entity.id, 'callback': 'protagonist_button'}) }}" class="btn btn-default ajax-link ajax-link-target" data-loading-text="{{ 'Loading' | trans }}" data-toggle="tooltip" data-container="body" title="{{ 'Send a request to join and to show this element on your profile' | trans }}" data-placement="left"><i class="glyphicons crown"></i> {{ 'Request protagonist' | trans }}</a>
        
    {% endif %}
{% endif %}