<div>
    {% if app.environment == 'dev' %}
        {% set attr = attr|default({})|merge({novalidate: 'novalidate'}) %}
    {% endif %}
    {{ form_start(form, attr|default({})|merge({action: path('fos_user_registration_register'), method: 'post'})) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        {{ form_row(form) }}
        <div class="text-right">
            <input type="submit" value="{{ 'Register'|trans }}" class="btn btn-primary" />
        </div>
    {{ form_end(form) }}
</div>