{% extends "CMBundle:User:accountLayout.html.twig" %}
{% set inProfilePage = true %}

{% block title %}{{ 'Basic informations'|trans }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Options') }} <span>{{ block('title') }}</h2>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}