{% set button = button|default(false) %}
{% set selector = selector|default(null) %}

{% if not post.userLikesIt(app.user, is_granted('ROLE_USER')) %}
    <a href="{{ path('like', {type: post|class_name|lower, id: post.id, button: button, selector: selector}) }}"
        class="iLikeIt{{ is_granted('ROLE_USER') ? '' : ' unlogged' }}{% if button %} btn btn-default{% endif %}"
        {% if button and selector is not null %} social-selector="{{ selector }}"{% endif %}
        {% if button %} {{ tooltip(post.likes.toArray, {closure: '$v->getUser()', limit: 20}) }}{% endif %}
    >
        {% if button %}
            {{ icon('Like') }}{% if post.likes|length > 0 %} {{ post.likes|length }}{% endif %}
        {% else %}
            {{ 'Like'|trans }}
        {% endif %}
    </a>
{% else %}
   <a href="{{ path('unlike', {type: post|class_name|lower, id: post.id, button: button, selector: selector}) }}"
       class="iLikeIt{{ is_granted('ROLE_USER') ? '' : ' unlogged' }}{% if button %} btn btn-default active{% endif %}"
       {% if button and selector is not null %} social-selector="{{ selector }}"{% endif %}
       {% if button %} {{ tooltip(post.likes.toArray, {closure: '$v->getUser()', limit: 20}) }}{% endif %}
    >
        {% if button %}
            {{ icon('Like') }}{% if post.likes|length > 0 %} {{ post.likes|length }}{% endif %}
        {% else %}
            {{ 'Unlike'|trans }}
        {% endif %}
    </a>
{% endif %}