{% set button = button|default(false) %}
{% set selector = selector|default(null) %}
{% if not post.userLikesIt(app.user, is_granted('ROLE_USER')) %}
    <a href="{{ path('like', {type: post|class_name|lower, id: post.id, button: button, selector: selector}) }}" class="iLikeIt{{ is_granted('ROLE_USER') ? '' : ' unlogged' }}{% if button %} btn btn-default{% endif %}"{% if button and selector is not null %} social-selector="{{ selector }}"{% endif %} {{ tooltip(post.likes, {closure: '$v->getUser()->getFullname()', limit: 20}) }}>{{ (button ? icon('Like') : 'Like'|trans|raw) }} {{ post.likes|length }}</a>
{% else %}
   <a href="{{ path('unlike', {type: post|class_name|lower, id: post.id, button: button, selector: selector}) }}" class="iLikeIt{{ is_granted('ROLE_USER') ? '' : ' unlogged' }}{% if button %} btn btn-default active{% endif %}"{% if button and selector is not null %} social-selector="{{ selector }}"{% endif %} {{ tooltip(post.likes, {closure: '$v->getUser()->getFullname()', limit: 20}) }}>{{ (button ? icon('Like') : 'Unlike'|trans|raw) }} {{ post.likes|length }}</a>
{% endif %}