<!DOCTYPE html>
{% set meta = meta|default({description: ''|trans }) %}
<html{% if meta.itemtype is defined %} itemscope itemtype="http://schema.org/{{ meta.type }}"{% endif %}>

    <head>
        <meta charset="UTF-8" />            
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ meta.description }}" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ block('title') }}">
        <meta itemprop="description" content="{{ meta.description }}">
        {% if meta.image is defined %}<meta itemprop="image" content="{{ app.request.schemeAndHttpHost ~ meta.image }}">{% endif %}

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="product">
        {#<meta name="twitter:site" content="@publisher_handle">#}
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="{{ meta.description }}">
        {% if meta.creator is defined %}<meta name="twitter:creator" content="@author_handle">{% endif %}
        {% if meta.image is defined %}<meta name="twitter:image" content="{{ app.request.schemeAndHttpHost ~ meta.image }}">{% endif %}

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        {% if meta.image is defined %}<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ meta.image }}" />{% endif %}
        <meta property="og:description" content="{{ meta.description }}" />
        <meta property="og:site_name" content="Circuito Musica" />

        {% block initialJavascripts %}{% endblock %}

        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{% block icon %}{% endblock %}" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <div id="body">
            <div id="header">
                {% block header %}{% endblock %}
            </div>

            <div id="menu-container">
                {% block menu %}{% endblock %}
            </div>
          
            <div class="container">
                {% block container %}{% endblock %}
            </div> 

            {% block footer %}{% endblock %}


            <div id="blueimp-gallery-container">
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <div class="info">
                        <div class="title"></div>
                        <div class="prev-container"><a href="" class="prev">{{ icon('Prev') }}</a></div>
                        <div class="next-container"><a href="" class="next">{{ icon('Next') }}</a></div>
                        <span class="sequence"></span>
                    </div>
                    
                    <a class="close">×</a>
                </div>

                <div class="sidebar"></div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
