<div class="box box-system">
    <div class="box-heading">
        <h2>{{ icon('Login') }} {{ 'Login'|trans }}</h2>
    </div>

    <div class="box-body">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#login">{{ 'Login'|trans }}</a></li>
            <li><a href="#register">{{ 'Register'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="login">
                {{ render(controller('CMUserBundle:Security:login', {'template': 'CMUserBundle:Security:form.html.twig'})) }}
            </div>
            <div class="tab-pane" id="register">
                {{ render(controller('FOSUserBundle:Registration:register', {'template': null})) }}
            </div>
        </div>

    </div>
</div>

