<div class="box box-system">
    <div class="box-heading">
        <h2>{{ icon('Login') }} {{ 'Login'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ render(controller('CMUserBundle:Security:login', {'template': 'CMUserBundle:Security:form.html.twig'})) }}
    </div>

    <div class="box-heading">
        <h2>{{ icon('Register') }} {{ 'Register'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ render(controller('FOSUserBundle:Registration:register', {'template': null})) }}
    </div>
</div>

