{% if is_granted('ROLE_USER') %}
    <div class="box">
        <div class="box-body">
            <div class="object post media">
                {{ show_img_box(app.user.img|imagine_filter('avatar'), {width: 50, offset: app.user.imgOffset, link: path('user_show', {slug: app.user.slug}), default: 'user', box_attributes: {class: 'pull-left'}}) }}
                <div class="media-body">
                    <div class="row comment_new">
                            {{ form_start(commentForm) }}
                                {{ form_widget(commentForm.comment, {downward: true}) }}
                            {{ form_end(commentForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{{ include('CMBundle:Wall:posts.html.twig') }}

{% if posts.paginationData is defined and posts.paginationData.current < posts.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: posts.getPaginationData.next})) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}