{% extends 'CMBundle::layout.html.twig' %}

{% set noColumns = true %}

{% block title %}{{ 'The classical music portal'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block container %}
    <ul class="nav nav-tabs">
        <li{% if app.request.get('_route') == 'wall_index' %} class="active"{% endif %}><a href="{{ path('wall_index') }}">{{ 'All'|trans }}</a></li>
        <li{% if app.request.get('_route') == 'wall_vips' %} class="active"{% endif %}><a href="{{ path('wall_vips') }}">{{ 'VIP'|trans }}</a></li>
        <li{% if app.request.get('_route') == 'wall_fans' %} class="active"{% endif %}><a href="{{ path('wall_fans') }}">{{ 'Fan'|trans }}</a></li>
        <li{% if app.request.get('_route') == 'wall_connections' %} class="active"{% endif %}><a href="{{ path('wall_connections') }}">{{ 'Connections'|trans }}</a></li>
        <li{% if app.request.get('_route') == 'wall_editorial' %} class="active"{% endif %}><a href="{{ path('wall_editorial') }}">{{ 'Editorial'|trans }}</a></li>
    </ul>

    <div class="row" id="wall"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
         '@CMBundle/Resources/public/js/wall.js'
    %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}