{% if not inEntity and relatedObjects is not defined %}
    {% set relatedObjects = related_object(post.object, post.objectIds) %}
{% endif %}

<div class="media object post"{% if updateMore|default(false) and loop is defined and loop.first %}update_more="{{ path(app.request.attributes.get('_route')|replace({'_update': ''})~'_update', app.request.attributes.get('_route_params')|merge({ 'lastUpdated': post.updatedAt.timestamp })) }}"{% endif %}>
    {{ show_img_box(post.publisher.img|imagine_filter('small'), {'width': 50, 'height': 50, 'offset': post.publisher.imgOffset,  'link': path(post.publisherRoute ~ '_show', {'slug': post.publisher.slug}), 'box_attributes': {'class': 'pull-left'}, 'default': 'user'}) }}

    <div class="media-body">

        <p class="small">
            {% if not inEntity %}
                {{ post_text(post, relatedObjects) }}
            {% else %}
                {{ entity_post_text(post) }}
            {% endif %}
        </p>
    
        {{ include('CMBundle:'~(post.object|class_name)~':post.html.twig') }}

        <small class="text-muted">
            {{ icon((post.object|class_name)~'_'~(post.type)) }}
            {{ post.updatedAt|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}
        </small>

        {% if not inEntity %}
            {% if (post.object|class_name == 'Like' or post.object|class_name == 'Comment') and relatedObjects.imageId is not null %}
                {{ include('CMBundle::social.html.twig', {'post': relatedObjects.image, 'isImage': true}) }}
            {% elseif (post.object|class_name == 'Like' or post.object|class_name == 'Comment') %}
                {{ include('CMBundle::social.html.twig', {'post': relatedObjects.post}) }}
            {% elseif post.object|class_name == 'Biography' %}
                {{ include('CMBundle::social.html.twig', {'post': post.entity.post}) }}
            {% elseif (post.object|class_name) == 'Fan' %}
            {% else  %}
                {{ include('CMBundle::social.html.twig') }}
            {% endif %}
        {% endif %}
        
    </div>
</div>
