{% if relatedObjects is not defined %}
    {% set relatedObjects = related_object(post.object, post.objectIds) %}
{% endif %}

<li class="media object post{% if post.entity is not null and not post.entity.visible %} object-hidden{% endif %}"{% if loop is defined and loop.index == 1 %}update_more="{{ path(app.request.attributes.get('_route')|replace({'_update': ''})~'_update', app.request.attributes.get('_route_params')|merge({ 'lastUpdated': post.updatedAt.timestamp })) }}"{% endif %}>
    {{ show_img_box(post.publisher.img|imagine_filter('350'), {'width': 50, 'height': 50, 'offset': post.publisher.imgOffset,  'link': path('user_show', {'slug': post.publisher.slug}), 'link_attributes': {'class': 'pull-left'}, 'default': 'user'})|raw }}

    <div class="media-body">

        <p>{{ post_text(post, relatedObjects)|raw }}</p>

        {{ include('CMBundle:'~(post.object|class_name)~':post.html.twig') }}
        
        <p class="text-muted">
            {{ show_icon((post.object|class_name)~'_'~(post.type))|raw }}
            <small>
                {{ post.updatedAt|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}
                {% if post.entity is not null and post.entity.entityUsers|length > 0 %}
                    &middot; {{ 'with'|trans }}
                    {% for protagonist in post.entity.entityUsers  %}
                        {{ protagonist.user }}{% if loop.index > 1 and loop.index + 1 == post.entity.entityUsers|length %} and {% elseif loop.index < post.entity.entityUsers|length %}, {% else %}.{% endif %}
                    {% endfor %}
                {% endif %}
                {#<?php if (!$post->getProtagonists()->isEmpty()): ?>
                    &middot; <?php echo __('with') ?> <?php include_component('protagonist', 'protagonists', array('post' => $post)) ?>
                <?php endif ?>#}
            </small>
        </p>

        {% if (post.object|class_name) == 'Comment' or (post.object|class_name) == 'Like' or (post.object|class_name) == 'Biography' %}
            {{ include('CMBundle::social.html.twig', {'post': post.entity.post}) }}
        {% elseif (post.object|class_name) == 'Fan' %}
        {% else  %}
            {{ include('CMBundle::social.html.twig') }}
        {% endif %}

    </div>
</li>