<div class="media">
    
    {{ show_img_box(image.publisher.img|imagine_filter('avatar'), {width: 50, offset: image.publisher.imgOffset, link: path(image.publisherType ~ '_show', {slug: image.publisher.slug}), box_attributes: {class: 'pull-left img-rounded'}, publisher_box: image.publisher}) }}

    <div class="media-body">

        <a href="{{ path(image.publisherType ~ '_show', {slug: image.publisher.slug}) }}">{{ image.publisher }}</a>

        <div class="text-muted small">
            {{ icon((image|class_name)) }}
            {{ '%date% at %time%'|trans({'%date%': image.updatedAt|humanize_day, '%time%': image.updatedAt|format_date('HH:mm')}) }}
        </div>
    </div>
</div>

<div class="image-description">{{ image.text }}</div>

{{ include('CMBundle::social.html.twig', {post: image, isImage: true}) }}