{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block section %}{{ 'Education'|trans }}{% endblock %}

{% form_theme form _self %}

{% block _cm_cmbundle_education_collection_educations_entry_widget %}
    <div class="well well-sm education-form">
        <p class="clearfix{% if form.vars.data is null or form.vars.data.school is null and form.school.vars.errors|length == 0 %} hidden{% endif %}"><button type="button" class="close" aria-hidden="true" remove-link>&times;</button></p>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.school) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.teacher) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.course) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.dateFrom) }}
            </div>
            <div class="col-sm-5">
                {{ form_row(form.dateTo) }}
            </div>
            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" class="current-input" value="0">{{ 'Current'|trans }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form_row(form.mark) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.markScale) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.laude) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.honour) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.courseType) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.degreeType) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.description) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Education') }} {{ block('section') }}</h2>
        </div>

        <div class="box-body">
            {{ form(form) }}
                
            <div class="text-right">
                <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
                <button type="submit" name="commit" class="btn btn-primary">{{ 'Save'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}