{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block body %}

    <div class="box">
        <div class="box-heading">
            <h3>{{ icon('Education') }} <span>{{ 'Education'|trans }}</span></h3>
        </div>

        <div class="box-body">
            {{ form(form) }}
        </div>
    </div>


    {% for education in educations %}
        {{ include('CMBundle:Education:object.html.twig') }}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            /* EDUCATION */
            $(document).on('submit', 'form', function(event) {
                event.preventDefault();

                $(event.currentTarget).ajaxSubmit({
                    success: function(data, statusText, xhr, form) {
                        $('.education:first').before(data);
                        form[0].reset();
                    }
                });
            });
        });
    </script>
{% endblock %}