{% for notification in notifications %}
    <li class="media object{% if notification.status == 0 %} unread{% endif %}">
        
        {% if notification.post.entity is not null and notification.post.entity.image is not null %}
            {{ show_img_box(notification.post.entity.image|default_img|imagine_filter('avatar'), {width: 50, offset: notification.fromUser.imgOffset, link: path('user_show', {slug: notification.fromUser.slug}), box_attributes: {class: 'pull-left'}}) }}
        {% else %}
            {{ show_img_box(notification.fromUser|default_img|imagine_filter('avatar'), {width: 50, offset: notification.fromUser.imgOffset,  link: path('user_show', {slug: notification.fromUser.slug}), box_attributes: {class: 'pull-left'}}) }}
        {% endif %}
        
        <div class="media-body ajax-link-target">
            {{ notification_tag(notification, box|default(false)) }}
            {#<?php echo $notification->getRawValue()->getText() ?>#}
            <div class="small text-muted">{{ icon(notification.object|class_name) }} {{ '%date% at %time%'|trans({'%date%': notification.createdAt|humanize_day, '%time%': notification.createdAt|format_date('HH:mm')}) }}</div>
        </div> 
    </li>
{% else %}
    <li class="object">{{ "There are no notifications."|trans }}</li>
{% endfor %}

{% if notifications.paginationData.current < notifications.paginationData.last %}
    <div class="well well-sm" load_more>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: notifications.getPaginationData.next })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}