<div class="btn-group ajax-link-target">
    
    {% if relation is null %}
       
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'Request a relation'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ 'Request a relation'|trans }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_add', {'object': 'Relation', 'objectId': app.user.id, 'userId': user.id, 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_STUDENT')}) }}" class="ajax-link">{{ 'student'|trans }}</a></li>
            <li><a href="{{ path('request_add', {'object': 'Relation', 'objectId': app.user.id, 'userId': user.id, 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_TEACHER')}) }}" class="ajax-link">{{ 'teacher'|trans }}</a></li>
            <li><a href="{{ path('request_add', {'object': 'Relation', 'objectId': app.user.id, 'userId': user.id, 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_AGENT')}) }}" class="ajax-link">{{ 'agent'|trans }}</a></li>
            <li><a href="{{ path('request_add', {'object': 'Relation', 'objectId': app.user.id, 'userId': user.id, 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_CLIENT')}) }}" class="ajax-link">{{ 'client'|trans }}</a></li>
        </ul>

    {% elseif relation.accepted and inverse.accepted %}

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'inverse'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ ('%user% is your ' ~ inverse)|trans({'%user%': user.firstName}) }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_delete', {'id': request.id}) }}" class="ajax-link">{{ 'Cancel relation'|trans }}</a></li>
        </ul>

    {% elseif relation.accepted and not inverse.accepted %}

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'inverse'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ ('You said %user% is your ' ~ inverse)|trans({'%user%': user.firstName}) }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_delete', {'id': request.id}) }}" class="ajax-link">{{ 'Cancel relation'|trans }}</a></li>
        </ul>

    {% elseif not relation.accepted and inverse.accepted %}

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'relation'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ ('%user% said you are *FIXME* ' ~ relation)|trans({'%user%': user.firstName}) }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_update', {'choice': 'accept', 'id': request.id}) }}" class="ajax-link">{{ 'Accept'|trans }}</a></li>
            <li><a href="{{ path('request_delete', {'id': request.id}) }}" class="ajax-link">{{ 'Refuse'|trans }}</a></li>
        </ul>

    {% endif %}
</div>