<div class="btn-group ajax-link-target relations-menu">

    <button type="button" class="btn btn-{{ btnColour }} dropdown-toggle ajax-link-target" data-toggle="dropdown">{{ icon('Relation') }} {{ reqText|trans }}</button>
    <ul class="dropdown-menu relation-menu-body">
        {% for relationType in relationTypes %}
            {% set relationFrom = null %}
            {% set relationTo = null %}
            {% for relation in relationType.relations %}
                {% if relation.fromUserId == app.user.id %}
                    {% set relationFrom = relation %}
                {% else %}
                    {% set relationTo = relation %}
                {% endif %}
            {% endfor %}

            <li>
                {% if (relationFrom is null and relationTo is null) or relationTo is null %}
                    <a href="{{ path('relation_add', {userId: user.id, relationTypeId: relationType.id}) }}" class="ajax-link">
                        <span class="checkbox" checked="false"><span class="glyphicon"></span></span>
                        {{ relationType|trans }}
                    </a>
                {% elseif relationTo.accepted == constant('CM\\CMBundle\\Entity\\Relation::ACCEPTED_NO') %}
                    <a href="{{ path('relation_delete', {id: relationTo.id}) }}" class="ajax-link">
                        <span class="checkbox" checked="true"><span class="glyphicon"></span></span>
                        {{ relationType|trans }} ({{ 'pending'|trans }})
                    </a>
                {% elseif relationTo.accepted == constant('CM\\CMBundle\\Entity\\Relation::ACCEPTED_UNI') %}
                    {{ relationType|trans }} ({{ 'pending'|trans }})
                    <a href="{{ path('relation_update', {choice: 'accept', id: relationTo.id}) }}" class="ajax-link">{{ 'Accept'|trans }}</a>
                    <a href="{{ path('relation_update', {choice: 'refuse', id: relationTo.id}) }}" class="ajax-link">{{ 'Refuse'|trans }}</a>
                {% elseif relationTo.accepted == constant('CM\\CMBundle\\Entity\\Relation::ACCEPTED_BOTH') %}
                    <a href="{{ path('relation_delete', {id: relationTo.id}) }}" class="ajax-link">
                        <span class="checkbox" checked="true"><span class="glyphicon"></span></span>
                        {{ relationType|trans }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</div>

{#
<div class="btn-group ajax-link-target">
    
    {% if relations is null %}
       
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'Request a relation'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ 'Request a relation'|trans }}</li>
            <li class="divider"></li>

            {% for relationType in relationTypes if relationType.userId is null %}
                <li><a href="{{ path('request_add', {'object': 'Relation', 'objectId': app.user.id, 'userId': user.id, 'type': relationType.inverseTypeId}) }}" class="ajax-link">{{ relationType|trans }}</a></li>
            {% endfor %}

            <li class="divider"></li>

            {% for relationType in relationTypes if relationType.userId is not null %}
                <li><a href="{{ path('request_add', {'object': 'Relation', 'objectId': app.user.id, 'userId': user.id, 'type': relationType.inverseTypeId}) }}" class="ajax-link">{{ relationType|trans }}</a></li>
            {% endfor %}
        </ul>

    {% elseif relation.accepted and inverse.accepted %}

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'inverse'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ ('%user% is your ' ~ inverse)|trans({'%user%': user.firstName}) }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_delete', {'id': request.id}) }}" class="ajax-link">{{ 'Cancel relation'|trans }}</a></li>
        </ul>

    {% elseif relation.accepted and not inverse.accepted %}

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'inverse'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ ('You said %user% is your ' ~ inverse)|trans({'%user%': user.firstName}) }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_delete', {'id': request.id}) }}" class="ajax-link">{{ 'Cancel relation'|trans }}</a></li>
        </ul>

    {% elseif not relation.accepted and inverse.accepted %}

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Relation') }} {{ 'relation'|trans }}</button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ ('%user% said you are *FIXME* ' ~ relation)|trans({'%user%': user.firstName}) }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('request_update', {'choice': 'accept', 'id': request.id}) }}" class="ajax-link">{{ 'Accept'|trans }}</a></li>
            <li><a href="{{ path('request_delete', {'id': request.id}) }}" class="ajax-link">{{ 'Refuse'|trans }}</a></li>
        </ul>

    {% endif %}
</div>
#}