{% set relationTo = null %}
{% for relation in relationType.relations %}
    {% if relation.fromUserId == app.user.id %}
        {% set relationTo = relation %}
    {% endif %}
{% endfor %}

<div class="ajax-link-target">
    {% if relationTo is null %}
        <li>
            <a href="{{ path('relation_add', {userId: user.id, relationTypeId: relationType.id}) }}" class="ajax-link">
                <span class="checkbox" checked="false"><span class="glyphicon"></span></span>
                {{ relationType|trans }}
            </a>
        </li>
    {% elseif relationTo.accepted == constant('CM\\CMBundle\\Entity\\Relation::ACCEPTED_UNI') %}
        <li>
            <a href="{{ path('relation_delete', {id: relationTo.id}) }}" {{ modal({title: 'Cancel relation request'|trans, text: 'Are you sure you want to cancel this relation request?'|trans}) }} class="ajax-link">
                <span class="checkbox" checked="true"><span class="glyphicon"></span></span>
                {{ relationType|trans }} ({{ 'pending'|trans }})
            </a>
        </li>
    {% elseif relationTo.accepted == constant('CM\\CMBundle\\Entity\\Relation::ACCEPTED_NO') %}
        <li class="divider"></li>
        <li>
            <p>{{ '%user% added you to %his% %type%.'|trans({'%user%': user.firstName, '%his%': user.sexArray('his'), '%type%': relationType}) }}</p>
            <div>
                <a href="{{ path('relation_update', {choice: 'accept', id: relationTo.id}) }}" class="ajax-link btn btn-primary">{{ 'Accept'|trans }}</a>
                <a href="{{ path('relation_update', {choice: 'refuse', id: relationTo.id}) }}" class="ajax-link btn btn-default">{{ 'Refuse'|trans }}</a>
            </div>
        </li>
        <li class="divider"></li>
    {% elseif relationTo.accepted == constant('CM\\CMBundle\\Entity\\Relation::ACCEPTED_BOTH') %}
        <li>
            <a href="{{ path('relation_delete', {id: relationTo.id}) }}" class="ajax-link" {{ modal({title: 'Relation delete'|trans, text: 'Are you sure you want to delete this relation?'|trans}) }}>
                <span class="checkbox" checked="true"><span class="glyphicon"></span></span>
                {{ relationType|trans }}
            </a>
        </li>
    {% endif %}
</div>