{% extends 'CMBundle::layout.html.twig' %}

{% block heading %}
    {{ include('CMBundle:User:top.html.twig') }}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Relation') }} <span>{{ relationType|trans }}</span> <small>{{ relations|length }}</small></h2>
        </div>

        <div class="box-body">
            {% for relation in relations %}
                {{ include('CMBundle:Relation:object.html.twig') }}
            {% else %}
                <p>{{ '%user% has no relations yet.'|trans({'%user%': user.firstName}) }}</p>
            {% endfor %}

            {% if relations.paginationData.current < relations.paginationData.last %}
                <div class="well well-small load_more">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: relations.getPaginationData.next })) }}">{{ 'Load more'|trans }}</a>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block sidebar %}

{#    <div data-ajax-url="{{ path('fan_user_sidebar', {slug: user.slug}) }}"></div>

    <div data-ajax-url="{{ path('event_next_dates', {object: 'user', objectId: user.id, limit: 3}) }}"></div>#}
{% endblock %}