{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block body %}
    {% if suggestions|length != 0 %}
        <div class="box">
            <div class="box-body">
                {% for suggestion in suggestions %}
                    <div class="">
                        {{ show_img_box(suggestion.user.img|imagine_filter('small'), {width: 50, offset: suggestion.user.imgOffset, link: path('user_show', {slug: suggestion.user.slug}), box_attributes: {class: 'pull-left'}}) }}
                        <div class="">
                            <h4 class="">
                                <a href="{{ path('user_show', {'slug': suggestion.user.slug}) }}">{{ suggestion.user|trans }}</a>
                            </h4>

                            <div class="btn-group relations-menu">

                                <button type="button" class="btn btn-danger btn-xs dropdown-toggle relation-button" data-toggle="dropdown"><span>{{ icon('Relation') }} {{ 'Request a relation'|trans }}</span></button>
                                <ul class="dropdown-menu relation-menu-body">
                                    {% for relationType in relationTypes %}
                                        <div class="relation-type">
                                            <li>
                                                <a href="{{ path('relation_add', {userId: suggestion.user.id, relationTypeId: relationType.id}) }}">
                                                    <span class="checkbox" checked="false"><span class="glyphicon"></span></span>
                                                    {{ relationType|trans }}
                                                </a>
                                            </li>
                                        </div>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}