{% extends 'CMBundle:Form:layout.html.twig' %}

{% block bodyHeading %}
    {{ include('CMBundle:User:top.html.twig', {'inPage': 'profile'}) }}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') and false and app.user == user %}
        <div class="box">
            <div class="box-heading">
                <h3>{{ icon('Relation') }} <span>{{ 'Relations'|trans }}</span></h3>
            </div>

            <div class=" text-center">
                <div class="form-group protagonist_typeahead">

                    <div id="protagonists_finder_container" class="form-group">
                        <label class="control-label col-lg-3">Add new relation</label>
                        <div class="col-lg-9">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Relation <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li typeahead-callback="{{ path('request_add', {'object': 'Relation', 'objectId': user.id, 'userId': 'USER_ID', 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_STUDENT')}) }}" name="{{ 'student'|trans|capitalize }}"><a href="#">{{ 'student'|trans }}</a></li>
                                        <li typeahead-callback="{{ path('request_add', {'object': 'Relation', 'objectId': user.id, 'userId': 'USER_ID', 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_TEACHER')}) }}" name="{{ 'teacher'|trans|capitalize }}"><a href="#">{{ 'teacher'|trans }}</a></li>
                                        <li typeahead-callback="{{ path('request_add', {'object': 'Relation', 'objectId': user.id, 'userId': 'USER_ID', 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_AGENT')}) }}" name="{{ 'agent'|trans|capitalize }}"><a href="#">{{ 'agent'|trans }}</a></li>
                                        <li typeahead-callback="{{ path('request_add', {'object': 'Relation', 'objectId': user.id, 'userId': 'USER_ID', 'type': constant('CM\\CMBundle\\Entity\\Relation::TYPE_CLIENT')}) }}" name="{{ 'client'|trans|capitalize }}"><a href="#">{{ 'client'|trans }}</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" id="protagonists_finder" class="form-control">
                            </div><!-- /input-group -->
                        </div>
                    </div>

                    {% if relations|length > 0 %}
                        <p class="text-center text-muted">{% if relations|length == 1 %}{{ '%user% has one relation.'|trans({'%user%': user}) }}{% else %}{{ '%user% has %count% relations.'|trans({'%user%': user, '%count%': relations|length}) }}{% endif %} 
                    {% endif %}
                    


                </div>

        </div>
    {% endif %}

    {% if pendingRelations is not null %}
        <div class="box">
            <div class="box-heading">
                <h3>{{ icon('Pending relation') }} <span>{{ 'Relations'|trans }}</span></h3>
            </div>

            {{ pendingRelations|length }}

        </div>
    {% endif %}

    {% for relationType in relationTypes if relationType.id in relations|keys %}
        {% if loop.index is odd %}<div class="row">{% endif %}

        <div class="col-md-6">
            <div class="box">
                <div class="box-heading">
                    <h2>{{ icon('Relation') }} <span>{{ relationType|trans }}</span> <small>{{ relationType.relations|length }}</small></h2>
                </div>

                <div class="box-body">
                    {% for relation in relations[relationType.id] %}
                        {{ include('CMBundle:Relation:object.html.twig') }}
                    {% endfor %}
                </div>

            </div>
        </div>

        {% if loop.index is even %}</div>{% endif %}
    {% endfor %}

{% endblock %}

{% block sidebar %}

{#    <div data-ajax-url="{{ path('fan_user_sidebar', {slug: user.slug}) }}"></div>

    <div data-ajax-url="{{ path('event_next_dates', {object: 'user', objectId: user.id, limit: 3}) }}"></div>#}
{% endblock %}