<li class="media comment{{ (hide is defined and hide) ? ' hidden' : '' }}"{% if can_manage(comment) %} data-toggle-hover{% endif %}>

    {% if can_manage(comment) %}
        <a href="{{ path('comment_delete', {'id': comment.id}) }}" class="close{% if can_manage(comment) %} invisible{% endif %}" data-placement="left" data-toggle="popover" data-content="<p>{{ 'Are you sure you want to delete this comment?'|trans }}</p><a href='{{ path('comment_delete', {'id': comment.id}) }}' class='btn btn-primary'>{{ 'Delete'|trans }}</a> <span class='btn popover-close'>{{ 'Cancel'|trans }}</span>">{{ icon('Remove')|raw }}</a>
       {# {{ delete_link(path('comment_delete', {'id': comment.id}), 'comment', {'data-placement': 'left', 'class': 'close', 'text': '&times;', 'icon': false}) }} #}
    {% endif %}

    {{ show_img_box(comment.user.img|imagine_filter('50'), {'width': 32, 'height': 32, 'offset': comment.user.imgOffset, 'default': 'user', 'box_attributes': {'class': 'pull-left'}})|raw }}

    <div class="media-body">
        <a href="{{ path('user_show', {'slug': comment.user.slug}) }}" {{ user_box(comment.user) }} >{{ comment.user }}</a> {{ comment.comment }}
        <div class="text-muted">
            {{ '%date% at %time%'|trans({'%date%': comment.createdAt|format_date('d MMMM Y'), '%time%': comment.createdAt|format_date('HH:mm')}) }}
        </div>
    </div>
    
</li>