<li class="media comment{{ (hide is defined and hide) ? ' hide' : '' }}">

    {% if false %} {# TODO: user->canManage($comment) #}
       {# {{ delete_link(path('comment_delete', {'id': comment.id}), 'comment', {'data-placement': 'left', 'class': 'close', 'text': '&times;', 'icon': false}) }} #}
    {% endif %}

    {{ show_img_box(comment.user.img | imagine_filter('350'), {'width': 32, 'height': 32, 'offset': comment.user.offset, 'default': 'user', 'box_attributes': {'class': 'pull-left'}}) | raw }}

    <div class="media-body">
        <a href="{{ path('user_show', {'slug': comment.user.slug}) }}" >{{ comment.user }}</a> {{ comment.comment }}
        <div class="text-muted">
            {{ '%date% at %time%' | trans({'%date%': comment.createdAt | format_date('d MMMM Y'), '%time%': comment.createdAt | format_date('HH:mm')}) }}
        </div>
    </div>

    
</li>