{% if dates[0].start | date('U') <= 'now' | date ('U') %}
	<div class="ajax-link-target text-center" style="margin-top: 20px;">
	    <a href=" {{ path('event_calendar', { 'year': month.prev_year, 'month': month.prev_month }) }}" class="btn btn-default ajax-link"><i class="glyphicon glyphicon-calendar"></i> {{ dates[0].start | date_modify('-1 month') | format_date('MMMM Y') | capitalize }}</a>
	</div>
{% endif %}


<div class="box">
	<div class="box-top">
		<h2 class="text-center">{{ dates[0].start | format_date('MMMM Y') | capitalize }}</h2>
	</div>
	
	<table class="table table-bordered events" style="table-layout: fixed;">
	
		<thead>
			<tr>
			    {% for day in month.weekdayNames %}
			        <th>{{ day | trans | capitalize }}</th>
			     {% endfor %}
{#
				<?php foreach(sfDateTimeFormatInfo::getInstance($sf_user->getCulture())->getDayNames() as $dayName): ?>
					<th><?php echo ucfirst($dayName) ?></th>
				<?php endforeach ?>
#}
			</tr>
		</thead>
		
		<tbody>
			<tr>
			    {% for i in 0..month.maxday + month.startday - 1 %}
			        {% if i % 7 == 0 %}
			            <tr>
			        {% endif %}
			        {% if i < month.startday %}
			            <td style="background: #f7f7f7;"></td>
			        {% else %}
						<td>
							<div><small><strong>{{ i - month.startday + 1 }}</strong></small></div>
							<ul class="media-list objects">
								{% for date in dates %}
									{% if date.start | date('d') == i - month.startday + 1 %}
										<li class="object">
										    <a href="{{ path('event_show', { 'id': date.getEvent.id, 'slug': date.getEvent.getSlug }) }}">
												{{ date.event | slice(0, 340) }}
											</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</td>
					{% endif %}
					{% if i % 7 == 6 %}
						</tr>
			        {% endif %}
			    {% endfor %}
				
				{% for i in 0..((month.maxday + month.startday) / 7) | ceil * 7 - (month.maxday + month.startday) if i > 0 %}
					<td style="background: #f7f7f7;"></td>
				{% endfor %}
				
			 </tr>
        </tbody>
        
	</table> 
</div>



{% if dates[dates | length - 1].start | date('U') >= 'now' | date ('U') %}
	<div id="load_more_posts" class="well well-small">
	    <a href=" {{ path('event_calendar', { 'year': month.next_year, 'month': month.next_month }) }}"><i class="glyphicon glyphicon-calendar"></i> {{ dates[0].start | date_modify('+1 month') | format_date('MMMM Y') | capitalize }}</a>
	</div>
{% endif %}