{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ "Calendar"|trans }}{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-lg-5">
			<h2>{{ block('title') }}</h2>
		</div>
		{{ include('CMBundle:Event:menu.html.twig') }}
	</div>

    {{ render(controller('CMBundle:Event:sponsored')) }}
	
	{{ render(controller('CMBundle:Event:calendarMonth', { 'year': year, 'month': month } )) }}
	
{% endblock %} 