{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ "Calendar"|trans }}{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-lg-5">
			<h2>{{ block('title') }}</h2>
		</div>
		{{ include('CMBundle:Event:menu.html.twig') }}
	</div>

    <div data-ajax-url="{{ path('event_sponsored') }}"></div>
	
    <div data-ajax-url="{{ path('event_calendar_month', {year: year, month: month, loadMore: true}) }}"></div>
	
{% endblock %} 