<div id="event-dates" class="box">
    <div class="box-heading">
        <h2>{{ icon('Calendar') }} {{ 'Dates'|trans }}</h2>
    </div>
    <div class="box-body">
        {% set count = 0 %}
        {% for date in dates if date.start >= date('now') %}
            {% set count = loop.index %}
            {% if loop.index == 2 %}
                </div>
                <div class="box-heading">
                    <h3>
                        {{ 'Next dates'|trans }}
                        {% if dates|length > 1 %}
                            <small><a href="#event-date-next" class="pull-right box-collapser collapsed" data-toggle="collapse" data-parent="#event-dates" text-alt="{{ 'Hide'|trans }}">{{ 'Show all (%count%)'|trans({'%count%': dates|length}) }}</a></small>
                        {% endif %}
                    </h3>
                </div>
                <div class="box-body">
            {% endif %}
            <div class="event-date object">
                <p>
                    {{ icon('Calendar') }} {{ date.start|format_date(null, null, null, constant('IntlDateFormatter::LONG')) }}
                    {{ icon('Time') }} {{ date.start|format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
                </p>
                <div id="event-date-{{ loop.index }}">
                    <p>{{ icon('Map') }} {{ date.location }}, <small class="text-muted">{{ date.address }}</small></p>
                    <div class="event-date-map">
                        <div class="event-date-map-img">
                            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ date.coordinates|e }}&zoom=14&size=640x125&markers={{ date.coordinates|e }}&sensor=false&hl={{ app.request.locale }}" class="img-responsive" />
                        </div>
                        <a href="https://maps.google.com/maps?daddr={{ date.coordinates|e }}&hl={{ app.request.locale }}&sll={{ date.coordinates|e }}&sz=14&z=14" target="_blank" class="btn btn-lg btn-default" {{ tooltip('Get directions'|trans, {placement: 'left'}) }}><span class="glyphicon glyphicon-road"></span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% if dates|length - count > 0 %}
        <div class="box-heading">
            <h3>
                {{ 'Past dates'|trans }}
                <small><a href="#event-date-past" class="pull-right box-collapser collapsed" data-toggle="collapse" data-parent="#event-dates" text-alt="{{ 'Hide'|trans }}">{{ 'Show all (%count%)'|trans({'%count%': dates|length - count}) }}</a></small>
            </h3>
        </div>
        <div class="collapse" id="event-date-past">
            <div class="box-body">
                {% for date in dates if date.start < date('now') %}
                    <div class="event-date object">
                        <p>
                            {{ icon('Calendar') }} {{ date.start|format_date(null, null, null, constant('IntlDateFormatter::LONG')) }}
                            {{ icon('Time') }} {{ date.start|format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
                        </p>
                        <div id="event-date-past-{{ loop.index }}" class="event-date-map collapse">
                            <p>{{ icon('Map') }} {{ date.location }}, <small class="text-muted">{{ date.address }}</small></p>
                            <div class="event-date-map-img">
                                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ date.coordinates|e }}&zoom=14&size=640x125&markers={{ date.coordinates|e }}&sensor=false&hl={{ app.request.locale }}" class="img-responsive" />
                            </div>
                                <a href="https://maps.google.com/maps?daddr={{ date.coordinates|e }}&hl={{ app.request.locale }}&sll={{ date.coordinates|e }}&sz=14&z=14" target="_blank" class="btn btn-lg btn-default" {{ tooltip('Get directions'|trans, {placement: 'left'}) }}><span class="glyphicon glyphicon-road"></span></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
