{% extends 'CMBundle::layout.html.twig' %}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/collections.less'
        '@CMBundle/Resources/public/css/typeahead.js-bootstrap.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
        {{ form(form) }}
{#
        {{ form_row(form.translations) }}
        {{ form_row(form.visible) }}
#}

{#
        <h3>Dates:</h3>
        <ul class="tags">
            {{ form_widget(form.event_dates) }}
            {{ form_row(form.event_dates) }}
            {% for date in form.event_dates %}
                date: <li>{{ form_widget(date) }}</li>
            {% endfor %}
        </ul>
#}
{#
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
            var typeaheadHintRoute = "{{ path('user_typeahead_hint') }}";
        </script>
        {% javascripts
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@CMBundle/Resources/public/js/typeahead.min.js'
            '@CMBundle/Resources/public/js/form.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}