{% extends 'CMBundle::layout.html.twig' %}

{% form_theme form 'CMBundle:Form:bootstrap.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CMBundle/Resources/public/css/typeahead.js-bootstrap.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.translations) }}
        {{ form_row(form.entityCategory) }}

        <div class="form-group protagonist_typeahead">
            <div class="form-group col-lg-12"><label class="control-label col-lg-3 control-label required">{{ "Protagonists" | trans }}</label></div>
            <div class="col-lg-12 collection-items">
                <div class="cm_cmbundle_event_entityUsers_control_group">
                    <div id="protagonists_finder_container" hidden><label class="control-label col-lg-3">Add new protagonist</label><input type="text" id="protagonists_finder" class="form-control col-lg-9" /></div>
                    {{ include('CMBundle:EntityUser:addEntityUsers.html.twig', {'entityUsers': form.entityUsers}) }}
                </div>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
            var typeaheadHintRoute = "{{ path('user_typeahead_hint') }}";
        </script>
        {% javascripts
            '@CMBundle/Resources/public/js/hogan-2.0.0.min.js'
            '@CMBundle/Resources/public/js/typeahead.min.js'
            '@CMBundle/Resources/public/js/uploadCollection.js'
            '@CMBundle/Resources/public/js/form.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}