{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
	{{ form(form) }}
{#
	<form action="{{ path('cm_event_create') }}" method="post" {{ form_enctype(form) }} class="blogger">
	    {{ form_row(form.getTitle) }}
	    {{ form_row(form.getSubtitle) }}
	    {{ form_row(form.getExtract) }}
	    {{ form_row(form.getText) }}
	    {{ form_row(form.visible) }}
	    {{ form_widget(form.event_dates) }}
		<h3>Dates:</h3>
    	<ul class="tags">
    		{{ form_widget(form.event_dates1) }}
    		{{ form_widget(form.event_dates2) }}
    		{{ num }}
    		{{ form_row(form.event_dates) }}
        	{% for date in form.event_dates %}
            	date: <li>{{ form_widget(date) }}</li>
			{% endfor %}
		</ul>
		<p>
	        <input type="submit" value="Submit">
	    </p>
	</form>
#}
{% endblock %}