{% extends 'CMBundle::layout.html.twig' %}



{% block title %}
	{% if app.request.get('_route') == 'event_index' %}
		{{ "Events"|trans }}
	{% elseif app.request.get('_route') == 'event_archive' %}
		{{ "Events Archive"|trans }}
	{% endif %}
{% endblock %}



{% block body %}
{# 	<pre>{{ dump(app.request.query.get('page')) }}</pre> #}

	<div class="row">
		<div class="col-lg-5">
			<h2>{{ block('title') }}</h2>
		</div>
		{{ include('CMBundle:Event:menu.html.twig') }}
	</div>
	
	
	
	<div class='box'>
		{{ include('CMBundle:Event:objects.html.twig', { 'events': events } ) }}
	</div>
	
{% endblock %}