{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
  {% for event in events %}
    <article class="blog">
      <header>
        <h2><a href="{{ path('event_show', {'_locale': locale, 'id': event.id, 'slug': event.getSlug}) }}">{{ event.id }} {{ event.getTitle }}</a></h2>
        <h3>{{ event.getSubtitle }}</h3>
      </header>
      <div>
      	<p>{{ event.getExtract }}</p>
      	<ul>
      		{% for date in event.eventDates %}
      			<li>{{ date.start | date }}</li>
      		{% endfor %}
      	</ul>
      </div>
      <div>
      	{% if event.getImages | length > 0 %}
	  		<img src='{{- uploaded_images_full_dir -}}/{{- event.getImages[0].img }}' width=200 />
	  	{% endif %}
      </div>
    </article>
  {% endfor %}
{% endblock %}