{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ "Events"|trans }}{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-lg-5">
			<h2>{{ block('title') }}</h2>
		</div>
{# 		<?php include_partial('menu', array('categories' => $categories)) ?> #}
	</div>
	
	
	
	<div class='box'>
		<ul class="media-list objects">
			{% for key, event in events %}
			
				{% if key == 0 or event.eventDates[0].start | date('Y/m/d') != events[key-1].eventDates[0].start | date('Y/m/d') %}
					</ul>
					<div class="box-top">
						<h2>{{ event.eventDates[0].start | date('Y/m/d') }}</h2>
					</div>
					<ul class="media-list objects">
					
				{% endif %}
{# 				<?php if ($i == 0 || format_datetime($posts->getResults()->get($i)->getEventDates()->getFirst()->getStart(), 'D') != format_datetime($posts->getResults()->get($i-1)->getEventDates()->getFirst()->getStart(), 'D')): ?> #}
				<li class="object">
					<div class="media">
						
						{% if event.getImages | length > 0 %}
							<img src='{{- uploaded_images_full_dir -}}/{{- event.getImages[0].img }}' class="pull-left thumbnail" width=200 />
						{% endif %}
{# 						<?php show_img_box($post->getImages()->getFirst(), array('width' => 200, 'height' => 140, 'link' => $post->getRawValue()->getEntity()->getLinkShow(), 'link_attributes' => array('class' => 'pull-left thumbnail'))) ?>	 #}
					
						<div class="media-body">
							
							<h4><a href="{{ path('event_show', {'_locale': locale, 'id': event.id, 'slug': event.getSlug}) }}">{{ event.id }} {{ event.getTitle }}</a></h4>
{# 							<h4><?php echo link_to($post->getEntity(), $post->getRawValue()->getEntity()->getLinkShow()) ?></h4> #}
							
							
				    	<ul>
				    		{% for date in event.eventDates %}
				    			<li>{{ date.start | date }}</li>
				    		{% endfor %}
				    	</ul>
{#
							<p class="text-muted">
								ore <?php echo format_datetime($post->getEventDates()->getFirst()->getStart(), 'H:mm') ?> &middot; 
								<?php echo $post->getEventDates()->getFirst()->getLocation() ?> <small>(<?php echo $post->getEventDates()->getFirst()->getAddress() ?>)</small><br/>
							
								<?php echo __('with') ?> <?php include_component('protagonist', 'protagonists', array('post' => $post)) ?>
							</p>
#}
					
							<p>{{ event.getExtract }}</p>
{# 							<?php echo $post->getRawValue()->getEntity()->getShortText() ?> #}
							
							
{# 							<?php include_partial('utility/bottom', array('post' => $post)) ?> #}
					
						</div><!-- END Media Body -->
					
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}