{% extends 'CMBundle::layout.html.twig' %}

{% block title %}
    {% if app.request.get('_route') == 'event_index' %}
        {{ "Events"|trans }}
    {% elseif app.request.get('_route') == 'event_archive' %}
        {{ "Events Archive"|trans }}
    {% elseif app.request.get('_route') == 'event_category' %}
{#         {{ category.getPlural | capitalize }} #}
    {% endif %}
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col-lg-5">
            <h2>{{ block('title') }}</h2>
        </div>
        {{ include('CMBundle:Event:menu.html.twig') }}
    </div>
    
    <div class='box infinite-scroll'>
        {{ include('CMBundle:Event:objects.html.twig') }}
    </div>
{% endblock %}