<pre>{% for key, param in posts.getPaginationData %}
	{{ key }}: {{ param }}<br/>
{% endfor %}</pre>

{% for key, post in posts %}

    {% set event = post.getEvent %}

	{% if key == 0 or event.eventDates[0].start | date('Y/m/d') != posts[key-1].getEvent.eventDates[0].start | date('Y/m/d') %}
{# 		<?php if ($posts->getPage().'_'.$i != '1_0'): ?> #}
			</ul>
{# 		<?php endif ?> #}
		<div class="box-top">
			<h2><i class="glyphicon glyphicon-calendar"></i> {{ event.eventDates[0].start | format_date(null, null, null, constant('IntlDateFormatter::LONG')) }}</h2>
		</div>
		<ul class="media-list objects">
	{% endif %}
	
	{{ include('CMBundle:Event:object.html.twig', { 'event': event } ) }}

	<p>Iteration {{ loop.index }} in {{ loop.length }}: date {{ event.eventDates[0].start | format_date(null, null, null, constant('IntlDateFormatter::LONG')) }}</p>
	
{% endfor %}
		</ul>



{% if posts.paginationData.current < posts.paginationData.last %}
	<div id="load_more_posts5" class="well well-small">
		<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'page': app.request.attributes.get('_route_params').page ? app.request.attributes.get('_route_params').page + 1 : 2})) }}">{{ 'Load more' | trans }}</a>
	</div>
{% endif %}