{#
<pre>{% for key, param in dates.getPaginationData %}
    {{ key }}: {{ param }}<br/>
{% endfor %}</pre>
#}



{% for key, date in dates %}

    {% if key == 0 or date.start | date('Y/m/d') != dates[key-1].start | date('Y/m/d') %}
    
        {% if dates.getPaginationData.current != 1 or key != 0 and loop.index > 1 %}
            </ul>
        {% endif %}
        
        <div class="box-top">
            <h3><i class="glyphicon glyphicon-calendar"></i> <span>{{ date.start | format_date(null, null, null, constant('IntlDateFormatter::LONG')) }}</span></h3>
        </div>
        
        <ul class="media-list objects">
    {% endif %}
    
    {{ include('CMBundle:Event:object.html.twig' ) }}
    
{% endfor %}
        </ul>

{% if dates.paginationData.current < dates.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ 'page': dates.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
    </div>
{% endif %}