<li class="object">
    <div class="media">
        
        {% if date.event.image is not null %}
            <a href="{{ path('event_show', { id: date.event.id, slug: date.event.getSlug }) }}" class="pull-left img-thumbnail">
                {{ show_img_box(date.event.image|default_img|imagine_filter('medium'), {width: 200, height: 133, offset: date.event.imgOffset}) }}
            </a>
        {% endif %}
    
        <div class="media-body">
        
            {% set publisher = date.event.post.publisher %}
            
            <h4><a href="{{ path('event_show', {id: date.event.id, slug: date.event.getSlug}) }}">{{ date.event.getTitle }}</a></h4>
            <h5>
                {{ "Published by %publisher% in %category%"|trans({'%publisher%': '<a ' ~ publisher_box(publisher) ~ ' href="'~path(date.event.post.publisherType ~ '_show', {slug: publisher.slug})~'">'~publisher~'</a>', '%category%': '<a href="'~path('event_category', {categorySlug: date.event.category.getSlug})~'">'~date.event.category~'</a>' })|raw }}
            </h5>

            <p class="text-muted">
                {{ icon('Time') }} {{ date.start|format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
                {{ icon('Map') }} {{ date.location }} <small>({{ date.address }})</small>
            </p>
    
            <p>{{ date.event.getExtract|raw }}</p>

{#             {{ include('CMBundle::social.html.twig', {post: date.event.post}) }} #}
    
        </div><!-- END Media Body -->
    
    </div>
</li>