{% for key, date in dates %}

    {% if key == 0 or date.start | date('Y/m/d') != dates[key-1].start | date('Y/m/d') %}
    
        {% if dates.getPaginationData.current != 1 or key != 0 and loop.index > 1 %}
            </ul>
        {% endif %}
        
        <div class="box-heading">
            <h2>{{ icon('Event') }} <span>{{ date.start | format_date(null, null, null, constant('IntlDateFormatter::LONG')) }}</span></h2>
        </div>
        
        <ul class="box-body media-list">
    {% endif %}
    
    {{ include('CMBundle:Event:object.html.twig' ) }}
    
{% endfor %}
        </ul>

{% if dates.paginationData.current < dates.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ 'page': dates.getPaginationData.next })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}