<li class="object">
    <div class="media">
        
        {% if date.getEvent.getImages | length > 0 %}
            <a href="{{ path('event_show', { 'id': date.id, 'slug': date.getEvent.getSlug }) }}" class="pull-left thumbnail">
                <img src='{{ asset(uploaded_images_full_dir~'/'~date.getEvent.getImages[0].img) }}' width=200 />
            </a>
        {% endif %}
{#                         <?php show_img_box($post->getImages()->getFirst(), array('width' => 200, 'height' => 140, 'link' => $post->getRawValue()->getEntity()->getLinkShow(), 'link_attributes' => array('class' => 'pull-left thumbnail'))) ?>     #}
    
        <div class="media-body">
        
            {% set publisher = date.event.posts[0].publisher %}
            
            <h4><a href="{{ path('event_show', {'id': date.event.id, 'slug': date.getEvent.getSlug}) }}">{{ date.getEvent.getTitle }}</a></h4>
            <h5>
                {{ "Published by %publisher% in %category%" | trans({'%publisher%': '<a href="'~path(date.event.posts[0].publisherRoute, {'slug': date.event.posts[0].publisher.slug})~'">'~date.event.posts[0].publisher~'</a>', '%category%': '<a href="'~path('event_category', { 'category_slug': date.event.entityCategory.getSlug })~'">'~date.event.entityCategory~'</a>' }) | raw }}
            </h5>
                        
            <p class="text-muted">
                <i class="glyphicon glyphicon-time"></i> {{ date.start | format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
                <i class="glyphicon glyphicon-map-marker"></i> {{ date.location }} <small>({{ date.address }})</small>
            </p>
    
            <p>{{ date.getEvent.getExtract | raw }}</p>

            {{ include('CMBundle::social.html.twig', {'post': date.event.post}) }}
    
        </div><!-- END Media Body -->
    
    </div>
</li>