{#
<div class="post-image-container">
    <img src="{{ post.entity.image|default_img|imagine_filter('medium') }}" class="img-responsive" />
</div>
#}



<div class="media object post-content">

    {% if post.entity.image is not null %}
        <a href="{{ path('event_show', {id: post.entity.id, slug: post.entity.getSlug}) }}" class="pull-left">
            <img src="{{ post.entity.image|default_img|imagine_filter('medium') }}" />
        </a>
    {% endif %}

    <div class="media-body">
    
        <h4><a href="{{ path('event_show', {id: post.entity.id, slug: post.entity.getSlug}) }}">{{ post.entity }}</a></h4>
        {% if post.entity.getSubtitle is not null %}<h5>{{ post.entity.getSubtitle }}</h5>{% endif %}

        {{ entity_short_text(post.entity, {more: true}) }}

    </div><!-- END Media Body -->

</div><!-- END Object -->