<div class="post-image-container">
    <img src="{{ post.entity.image|default_img|imagine_filter('full') }}" class="img-responsive"/>
</div>



<div class="media" style="display: none;">

    {% if post.entity.images|length > 0 %}
{#         {{ show_img_box(post.entity.image|default_img|imagine_filter('medium'), {'width': 150, 'height': 150, 'link': '', 'link_attributes': {'class': 'pull-left img-thumbnail'}})|raw }} {# TODO: add image show link #} #}
    {% endif %}

    <div class="media-body">
    
        <h4><a href="{{ path('event_show', {id: post.entity.id, slug: post.entity.getSlug}) }}">{{ post.entity }}</a></h4>
        {% if post.entity.getSubtitle is not null %}<h5>{{ post.entity.getSubtitle }}</h5>{% endif %}

        {{ entity_short_text(post.entity) }}

    </div><!-- END Media Body -->

</div><!-- END Object -->