{% extends 'CMBundle::layout.html.twig' %}

{% block bodyHeading %}
    <div class="row">
        <div class="col-lg-8">
            <h2>{{ event.getTitle }}</h2>
            {% if event.getSubtitle is not null %}<h3>{{ event.getSubtitle }}</h3>{% endif %}
        </div>
        <div class="col-lg-4 text-right pull-right">
            {% if is_granted('ROLE_USER') %}
                <div class="btn-group">
                    {{ include('CMBundle:Like:likeActions.html.twig', {post: event.post, button: true, selector: '#social'}) }}
                    <a href="{# {{ path('post_show', {'post_id': postId}) }} #}" class="comment_new-show {{ is_granted('ROLE_USER') ? '' : 'unlogged' }} btn btn-default">{{ icon('Comment') }}</a>
                </div>
            {% endif %}
            {% if can_manage(event) %}
                <div class="btn-group">
                    <a href="{{ path('event_edit', {'id': event.id, 'slug': event.getSlug}) }}" class="btn btn-default">{{ "Edit"|trans }}</a>
                    <a href="{{ path('event_delete', {'id': event.id}) }}" class="btn btn-default">{{ "Delete"|trans }}</a>
                </div>
            {% endif %}
            {{ include('CMBundle:EntityUser:requestAdd.html.twig', {'entity': event}) }}
        </div>
    </div>
{% endblock %}



{% block body %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Info') }} {{ 'Details'|trans }}</h2>
        </div>
        <div class="box-body">
            <div class="object">
                <p>
                    {{ "Created by %publisher%"|trans({'%publisher%': '<a ' ~ user_box(event.post.publisher) ~ ' href="' ~ path(event.post.publisherType ~ '_show', {'slug': event.post.publisher.slug}) ~ '">' ~ event.post.publisher~'</a>'})|raw }}
                    &middot;
                    <a href="{{ path('event_category', { 'categorySlug': event.category.getSlug }) }}">{{ event.category|capitalize }}</a>
                </p>
            </div>
            <div class="media object">
                <a href="{{ path('event_show', {'id': event.id, 'slug': event.getSlug}) }}" class="pull-left"><img src="{{ event.getImage|default_img|imagine_filter('medium') }}" width=200 /></a>
                <div>
                    <div class="text-justify">{{ event.getText|raw }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div data-ajax-url="{{ path('wall_entity', {id: event.id}) }}"></div>
{% endblock %}



{% set sticky = false %}
{% block sidebar %}
    <div data-ajax-url="{{ path('event_dates', {id: event.id}) }}"></div>
    
    <div data-ajax-url="{{ path('image_entity', {id: event.id, type: event|class_name}) }}"></div>
    
    <div data-ajax-url="{{ path('multimedia_entity', {id: event.id, type: event|class_name}) }}"></div>
    
    <div data-ajax-url="{{ path('entityuser_protagonists', {id: event.id}) }}"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language={{ app.request.locale }}"></script>
    {{ parent() }}
{% endblock %}