{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
    <h2>{{ event.getTitle }}</h2>
    {% if event.getSubtitle is not null %}<h3>{{ event.getSubtitle }}</h3>{% endif %}
    
    <div class="box">
        {% if can_manage(event) %}
            <div class="objects clearfix">
                <div class="media">
                    <div class="btn pull-left alert-info"><a href="{{ path('event_edit', {'id': event.id, 'slug': event.getSlug}) }}">{{ "Edit"|trans }}</a></div>
                    <div class="btn pull-right alert-danger"><a href="{{ path('event_delete', {'id': event.id}) }}">{{ "Delete"|trans }}</a></div>
                </div>
            </div>
        {% endif %}
        <div class="objects clearfix">
            <div class="media object">
                {% if event.getImages|length > 0 %}
                    <a href="{{ path('event_show', {'id': event.id, 'slug': event.getSlug}) }}" class="pull-left img-thumbnail"><img src="{{ event.getImages[0].img|imagine_filter('350') }}" width=200 /></a>
                {% endif %}
                <div>
                    <div class="text-justify">{{ event.getText|raw }}</div>
                </div>
            </div>
        </div>
        <div class="objects clearfix">
            {{ include('CMBundle:EntityUser:requestAdd.html.twig', {'entity': event}) }}
            <ul>
                {% for protagonist in event.entityUsers if protagonist.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_ACTIVE') %}
                    <li>
                        {{ protagonist.id }} : {{ protagonist.user }}
                        {% for userTag in protagonist.userTags %}
                            <ul>
                                <li>{{ tags[userTag] }}</li>
                            </ul>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="objects objects-alt clearfix">
            <div id="event_dates">
                {% for date in event.eventDates %}
                    <div class="event_date">
                        <a href="#event_date-{{ loop.index }}" data-toggle="collapse" data-parent="#event_dates">
                            {{ date.start|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}
                        </a>
                        <div id="event_date-{{ loop.index }}" class="collapse">
                            <div gmap-show coords="{{ date.coordinates }}" style="width:100%; height:200px;"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="objects clearfix">
            {% for image in event.getImages %}
                <img src="{{ image.img|imagine_filter('350') }}" width=200 />
            {% endfor %}
        </div>
        <div class="objects clearfix">
            {{ include('CMBundle::social.html.twig', {'post': event.post}) }}
        </div>
    </div> 
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language={{ app.request.locale }}"></script>
    {{ parent() }}
{% endblock %}