{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
    <article class="blog">
      <header>
        <h2>{{ event.id }} {{ event.getTitle }}</h2>
        <h3>{{ event.getSubtitle }}</h3>
        {% if can_manage(event) %}<a href="{{ path('event_edit', {'id': event.id, 'slug': event.getSlug}) }}">{{ "Edit" | trans }}</a>{% endif %}
      </header>
      <div>
          <p>{{ event.getExtract }}</p>
          <ul>
              {% for protagonist in event.entityUsers %}
                  <li>
                      {{ protagonist.user }}
                      {% for userTag in protagonist.userTags %}
                          <ul>
                              <li>{{ tags[userTag] }}</li>
                          </ul>
                      {% endfor %}
                  </li>
              {% endfor %}
          </ul>
          <ul>
              {% for date in event.eventDates %}
                  <li>{{ date.start | date }}</li>
              {% endfor %}
          </ul>
      </div>
     <div>
          {% for image in event.getImages %}
              <img src="{{ asset(uploaded_images_full_dir~'/'~image.img) }}" width=200 />
          {% endfor %}
      </div>
    </article>

    {{ include('CMBundle::social.html.twig', {'post': event.posts[0]}) }}

    <div>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cm/js/uploadCollection.js') }}"></script>
{% endblock %}