{% if biography is not null and biography.getText != '' %}
    <div class="box">
        <div class="box-heading">
            <h2>
                {% if simple|default(false) %}
                    <a href="{{ path('user_biography', {'slug': user.slug}) }}">{{ icon('Biography') }} {{ 'Biography'|trans }}</a> <small><a href="{{ path('user_biography', {'slug': user.slug}) }}">{{ 'show complete biography'|trans }}</small></a>
                {% else %}
                    {{ icon('Biography') }} {{ 'Biography'|trans }}<small><a href="{{ path('file_biography_pdf', {'slug': user.slug})}}">{{ 'download the pdf version'|trans }}</a></small>
                {% endif %}
            </h2>
        </div>
        
        <div class="box-body">
            <div class="object">
                {% if simple|default(false) %}
                    {{ biography|short_text }}
                {% else %}
                    <img src='{{ asset(user.img|imagine_filter('medium')) }}' width=200 class="img-thumbnail pull-left" />
                    <h3>
                        {{ user }}
                        <small>{{ user.userTags|join(', ')|trim }}</small>
                    </h3>

                    {{ biography }}               
                
                    {% if is_granted('ROLE_USER') and biography is not null and biography.post is not null %}
                        {{ include('CMBundle::social.html.twig', {'post': biography.post}) }}
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}