{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ '%group%&#39;s biography' | trans({'%group%': group}) | raw }}{% endblock %}

{% block body %}

    {{ include('CMBundle:Group:top.html.twig', {'inPage': 'biography'}) }}                                                          


 
    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li><?php echo link_to(__('Users'), '@group_list') ?></li>
      <li><?php echo link_to($group, $group->getRawValue()->getLinkShow()) ?></li>
      <li class="active"><?php echo __('Biography') ?></li>
    </ul>#}



    <div class="box">
        <div class="box-top">
            <h3>{{ show_icon('Biography') | raw }} <span>{{ block('title') }}</span></h3>
        </div>
        <div class="objects">
            <div class="media object">
                <a href="{{ path('group_biography', {'slug': group.slug}) }}" class="pull-left img-thumbnail"><img src='{{ asset(group.img|imagine_filter('350')) }}' width=200 class="media-object" /></a>
                <div>
                    <div class="text-justify">{{ biography }}</div>                
                
                    {% if is_granted('ROLE_USER') and biography is not null and biography.post is not null %}
                        {{ include('CMBundle::social.html.twig', {'post': biography.post}) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_USER') and biography is not null and biography.post is not null %}
        {{ include('CMBundle::social.html.twig', {'post': biography.post}) }}
    {% endif %}



    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'groupFans', array('group' => $group)) ?>
    <?php end_slot() ?>#}
{% endblock %}