{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block section %}{{ 'Biography'|trans }}{% endblock %}

{% block main %}

    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Biography') }} {{ block('section') }}</h2>
        </div>
        <div class="box-body">
            {{ form(form) }}
                
            <div class="text-right">
                <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
                <button type="submit" name="commit" class="btn btn-primary">{{ 'Save'|trans }}</button>
            </div>
        </div>
    </div>
    
{% endblock %}