<div class="box box-partner" style="border: 2px solid {{ box.colour }}">
    <div class="box-heading">
{#         <h2 style="background: url({{ asset('/bundles/cm/uploads/boxes/' ~ box.logo) }});">{{ box.page }}</h2> #}
    </div>

    <div class="box-body">
        <div class="objects cycle-slideshow" data-cycle-slides="> div" data-cycle-log="false">
            {% if box.type == constant('CM\\CMBundle\\Entity\\HomepageBox::TYPE_EVENT') %}
                {% for object in objects %}
                    <div class="object">
                        {{ show_img_box(object.event.images[0].img|imagine_filter('medium'), {width: 350, height: 210,  link: path('event_show', {id: object.event.id, slug: object.event.getSlug})}) }}
                        <h3><a href="{{ path('event_show', {id: object.event.id, slug: object.event.getSlug}) }}">{{ object.event }}</a></h3>
{#                             <img src="{{ object.event.images[0].img|imagine_filter('medium') }}" class="img-responsive"/> #}
                    </div>
                {% endfor %}
            {% elseif box.type == constant('CM\\CMBundle\\Entity\\HomepageBox::TYPE_ARTICLE') %}
                {% for object in objects %}
                    {{ object|class_name }}
                {% endfor %}
            {% elseif box.type == constant('CM\\CMBundle\\Entity\\HomepageBox::TYPE_DISC') %}
                {% for object in objects %}
                    {{ object|class_name }}
                {% endfor %}
            {% elseif box.type == constant('CM\\CMBundle\\Entity\\HomepageBox::TYPE_RUBRIC') %}
                {% for object in objects %}
                    {{ object|class_name }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>