<div class="box box-system">
    <div class="box-heading">
        <h2>{{ icon('Login') }} {{ what|default('Login')|trans }}</h2>
    </div>

    <div class="box-body">
        {% if error %}<div>{{ error|trans }}</div>{% endif %}
        
        <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
            </div>

            <div class="form-group">
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
            </div>

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
</div>