<html><body><div id="last_bacheca_posts_box" class="box">
    <h2>{{ 'Latest Posts'|trans }}</h2>   
    
    <p class="destra"><a href="{{ path('wall_index') }}">{{ show_icon('Wall') }} {{ 'Go to the Wall'|trans }}</a>
    
    <div id="last_bacheca_posts_box-container">
    
        {% for post in posts %}

            {% if relatedObjects is not defined %}
                {% set relatedObjects = related_object(post.object, post.objectIds) %}
            {% endif %}
         
            <div class="oggetto elemento">
                
                <div class="immagine-utente">
                    {{ show_img_box(post.publisher.img|imagine_filter('50'), {'width': 50, 'height': 50, 'offset': post.publisher.imgOffset,  'link': path(post.publisherRoute ~ '_show', {'slug': post.publisher.slug}), 'link_attributes': {'class': 'pull-left'}, 'default': 'user'}) }}
                </div> 
                
                <div class="contenuto">
                    {{ post_text(post, relatedObjects) }}
                </div>
                
            </div>             
        
        {% endfor %}
        
    </div>                                                                                    
    
</div>
</body></html>