{% for object in objects %}

    <div class="article oggetto elemento">     

        {% if object.img is not null %}
            <div class="immagine">
                <a href="{{ path('homepage_show', {'id': object.id}) }}"><img src="{{ object.img|imagine_filter('350') }}" class="recent_article_box-photo" /></a>
            </div>
        {% endif %}


        <div class="contenuto">
            <h4>
                {{ 'Published by %user% il %date%'|trans({'%user%': '<a href="' ~ path('user_show', {'slug': object.post.user.slug}) ~ '">' ~ object.post.user ~ '</a>', '%date%': object.createdAt|format_datetime(null, null, null, constant('IntlDateFormatter::LONG'))})|raw }} &middot; {# comments #}
                <!--&middot; piace a <?php //echo formatLikeUser($oggetto->getWhoLikesIt() + $oggetto->getILikeIt().__(' persone'), $oggetto) ?>-->
                {#<a href="<?php echo url_for('@homepage_show?id='.$oggetto->getStampaId()) ?>#commenti"><?php echo format_number_choice('[0]0 commenti|[1]1 commento|(1,+Inf]%nb% commenti', array('%nb%' => $oggetto->getNbComments()), $oggetto->getNbComments()) ?></a>  #}                                                                                                                                                                                                           
            </h4>

            <h2><a href="{{ path('homepage_show', {'id': object.id}) }}">{{ object.getTitle }}</a></h2>
            {% if object.getSubtitle is not empty %}{{ object.getSubtitle }}{% endif %} 
    
            {{ entity_short_text(object)|raw }}
            {#<?php echo show_extract($oggetto->getStampa()->getRawValue()->getNotizia(), $oggetto->getStampa()->getRawValue()->getEstratto()) ?>#}
        </div>

    </div>

{% else %}    
    <div class="errore">{{ 'There are no articles in this category'|trans }}</div>
{% endfor %}



{% if objects.paginationData.current < objects.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ 'page': objects.getPaginationData.next })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}