<div id="box_radio_classica" class="row box_home partner_box partner_box-full">

    <h2>Radio Classica</h2> 
        
    <div class="partner_box-left">
        {% for article in articles %}
            <div class="oggetto">

                {% if article.images|length > 0 %}
                    <div class="image-container">{{ show_img_box(article.images[0].img|imagine_filter('small'), {'width': 50, 'height': 50, 'offset': article.images[0].imgOffset, 'link': path('homepage_show', {'id': article.id})}) }}</div>
                {% endif %}
                <h3><a href="{{ path('homepage_show', {'id': article.id}) }}">{{ article.getTitle }}</a></h3> 
            
                <h4>{{ article.getSubtitle }}</h4>
            </div>    
        {% endfor %}
    </div>

    <div class="partner_box-right">
        <h3>Prossime Trasmissioni</h3>
        <div class="partner_box-ticker">
            <div class="partner_box-ticker-block">
                {% for date in events %}
                    {% if loop.index % 7 == 0 %}
                        </div><div class="partner_box-ticker-block">
                    {% endif %}
                        <div class="oggetto">             
                            <span class="date">{{ date.start|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}</span> - 
                            <a href="{{ path('event_show', {'id': date.event.id, 'slug': date.event.getSlug}) }}">{{ date.event.getTitle }}</a>
                        </div> 
                {% endfor %}
            </div>
        </div>
    </div>     

</div> 