<div id="box_recensioni" class="row box_home box_home-full box_home-slide3">
    <h2>{{ 'Reviews'|trans }}</h2>  
                                  
    <div class="box_home-oggetti-container">
        <div class="box_home-oggetti box_home-oggetti-3">
            
            {% for object in objects %}
                
                {% if loop.index % 3 == 0 %}    
                    </div><div class="box_home-oggetti"> 
                {% endif %}
         
                <div class="box_home-oggetto">                        
                    
                    {% if object.img is not null %}
                        {{ show_img_box(object.img|imagine_filter('medium'), {'width': 150, 'offset': object.imgOffset, 'link': path('homepage_show', {'id': object.id}), 'link_attributes': {'class': 'pull-left'}}) }}
                    {% else %}
                        <a href="<?php echo url_for('@homepage_show?id='.$oggetto->getStampa()->getId()) ?>" class="immagine">
                            <img src="/images/default_recensione.jpg" width="150" />         
                        </a>
                    {% endif %}
                    <h5>
                        {{ 'Published by %user% il %date%'|trans({'%user%': '<a href="' ~ path('user_show', {'slug': object.post.user.slug}) ~ '">' ~ object.post.user ~ '</a>', '%date%': object.createdAt|format_datetime(null, null, null, constant('IntlDateFormatter::LONG'))})|raw }} &middot; {# comments #}
                        {#Pubblicato da <?php echo link_to($oggetto->getStampa()->getUser(), $oggetto->getStampa()->getUser()->getRawValue()->getLinkShow()) ?>           
                        il <?php echo format_datetime($oggetto->getStampa()->getCreatedAt(), 'D') ?> &middot; 
                        <a href="<?php echo url_for('@homepage_show?id='.$oggetto->getStampa()->getId()) ?>#commenti"><?php echo format_number_choice('[0]0 commenti|[1]1 commento|(1,+Inf]%nb% commenti', array('%nb%' => $oggetto->getNbComments()), $oggetto->getNbComments()) ?></a>#}
                    </h5>

                    <h3 title="{{ object.getTitle }}"><a href="{{ path('homepage_show', {'id': object.id}) }}">{{ object.getTitle }}</a></h3>

                    {% if object.getSubtitle is not empty %}{{ object.getSubtitle }}{% endif %}

                    {{ entity_short_text(object) }}
                    {#<?php echo show_extract($oggetto->getStampa()->getRawValue()->getNotizia(), $oggetto->getStampa()->getRawValue()->getEstratto(), false, 200) ?>#} 
            
                </div>             
                
            {% endfor %}
        
        </div>            
    </div>
    
    <!--<p class="destra"><?php echo link_to(__('View complete archive'), 'homepage/archive') ?>--> 
                                           
    <a href="#" class="box_home-prev"></a>
    <a href="#" class="box_home-next"></a>
        
</div>  