{% set action = action|default('index') %}

{#<?php isset($categoria) ? $category = $categoria : $category = $sf_request->getParameter('categoria', null) ?>#}

<div class="tabs">
    <ul>
        <li><a href="{{ path('homepage_index') }}"{% if action == 'index' %} class="attivo"{% endif %}>{{ 'Home'|trans }}</a></li>
        {% for category in categories if not category.rubric %}
            <li>
                <a href="{{ path('homepage_category', {'slug': category.getSlug}) }}"{% if category == categoryPage %} class="attivo"{% endif %}>
                    {#<?php //$categoria['icona'] != '' and print image_tag('icons/'.$categoria['icona']) ?>#}
                    {{ category.getName }}
                </a>
            </li>
        {% endfor %}                                                                                                                                                                       
        {#<!--<li><a href="<?php echo url_for('@homepage_rubriche') ?>"<?php $action == 'rubriche' and print ' class="attivo"' ?>><?php echo image_tag('icons/balloons-box') ?> Rubriche</a></li>-->#} 
        
        {% if not is_granted('ROLE_USER') %}
            <div class="row"><a href="{{  path('fos_user_registration_register') }}"><img src="{{ asset(banners_dir ~ '/' ~ app.session.get('_locale') ~ '/circuito_musica_subscribe_660x200.jpg') }}" /></a></div> 
        {% else %}
            <div class="separatore"></div> 
        {% endif %}
        {#<?php if (!$sf_user->isAuthenticated()): ?>
            <li><a href="<?php echo url_for('@signup') ?>"><?php echo image_tag('icons/star') ?> Iscriviti</a></li>     
        <?php endif ?>#}
        
    </ul>
</div>