<div id="writers_box" class="box">
    <h2>{{ 'Writing on Circuito Musica'|trans }}</h2>                                                                  
    
    <div id="writers_box-container">
        
        {% for user in writers %}
            
            <div class="elemento oggetto">   
                
                {% if user.img is not null %}
                    <div class="immagine">
                        {{ show_img_box(user.img|imagine_filter('50'), {'width': 50, 'height': 50, 'offset': user.imgOffset, 'link': path('user_show', {'id': user.id, 'slug': user.slug})}) }}
                    </div>
                {% endif %}
                <div class="contenuto">

                    <h3><a href="{{ path('user_show', {'id': user.id, 'slug': user.slug}) }}">{{ user }}</a> <span class="piccolo">{% for nb in nbArticles if nb.userId == user.id %}{{ nb[1] }}{% endfor %}{#<?php echo format_number_choice('[0]0 articoli|[1]1 articolo|(1,+Inf]%nb% articoli', array('%nb%' => $oggetto->getNbArticles()), $oggetto->getNbArticles()) ?>#}</span></h3>
                    
                    {#<?php if ($oggetto->getSfGuardUser()->getHomepagePartnerUsers()->getFirst()): ?>  
                        <h4><?php echo link_to($oggetto->getSfGuardUser()->getHomepagePartnerUsers()->getFirst()->getHomepagePartner()->getName(), $oggetto->getSfGuardUser()->getHomepagePartnerUsers()->getFirst()->getHomepagePartner()->getLink(), array('target' => '_blank')) ?></h4>   
                    <?php endif ?>#}                                 
                </div>
            
            </div>             
        
        {% endfor %}
        
    </div>                                                                                    
    
</div>