{% if images|length > 1 %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Photo') }} {{ 'Photos'|trans }} <small><a href="{{ path('entity_album', {id: entityId, type: entityType, slug: entitySlug}) }}">{{ 'View all photos'|trans }} ({{ count }})</a></small></h2>
        </div>
        <div class="box-body clearfix">
            
            <a href="{{ path('image_show', {id: images[0].id}) }}" {{ lightbox(images[0]) }}>
                <img src="{{ images[0]|default_img|imagine_filter('medium') }}" class="img-responsive" />
            </a>


            <div class="entity-assets">
                {% for image in images[1:] %}
                    <div class="entity-asset">
                        {{ show_img_box(image|default_img|imagine_filter('small'), {ratio: 1, link: path('image_show', {id: image.id}), box_attributes: {class: 'pull-left'}, lightbox: {image: image}}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}