{% if images|length > 1 %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Photo') }} {{ 'Photos'|trans }} <small><a href="{#{{ path('user_album', {'slug': event.post.user.slug, 'id': event.id}) }}#}">{{ 'View all photos'|trans }} ({{ images|length }})</a></small></h2>
        </div>
        <div class="box-body clearfix entity-assets">
            {% for image in images %}
                {{ show_img_box(image.img|imagine_filter('350'), {width: 112, height: 112, link: path('image_show', {id: image.id}), link_attributes: {class: 'pull-left entity-asset'}}) }}
            {% endfor %}
        </div>
    </div>
{% endif %}