<div class="btn-group ajax-link-target">
    {% if not imFan %}
	    <a href="{{ path('fan_become', {fanId: userId, object: object, btn: btn}) }}" class="btn btn-default fan-become ajax-link" {% if btn %}title="{{ 'Become fan'|trans }}"{% endif %}>{{ icon('Fan') }}{% if not btn %} {{ 'Become fan'|trans }}{% endif %}</a>
    {% else %}
	    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" {% if btn %}title="{{ 'You are fan'|trans }}"{% endif %}>{{ icon('Fan') }}{% if not btn %} {{ 'You are fan'|trans }}{% endif %}</button>
        <ul class="dropdown-menu">
	        <li><a href="{{ path('fan_unbecome', {fanId: userId, object: object, btn: btn}) }}" class="fan-become ajax-link">{{ 'Unbecome fan'|trans }}</a></li>
        </ul>
    {% endif %}
</div>