{% if userId != app.user.id %}
    <span class="dropdown ajax-link-target">
        <a href="#" data-toggle="dropdown">{{ icon('Fan') }}</a>
        <ul class="dropdown-menu">
            {% if not imFan %}

                <li><a href="{{ path('fan_become', {'fanId': userId, 'object': object}) }}" class="fan-become ajax-link">{{ 'Become fan'|trans }}</a></li>

            {% else %}

                <li class="dropdown-header">{{ 'You are fan'|trans }}</li>
                <li class="divider"></li>
                <li><a href="{{ path('fan_unbecome', {'fanId': userId, 'object': object}) }}" class="fan-become ajax-link">{{ 'Unbecome fan'|trans }}</a></li>

            {% endif %}
        </ul>
    </span>
{% endif %}