<div class="dropdown ajax-link-target">
    <a href="#" data-toggle="dropdown" class="btn btn-default">{{ icon('Fan') }}</a>
    <ul class="dropdown-menu">
        {% if not imFan %}

            <li><a href="{{ path('fan_become', {'fanId': userId, 'object': object}) }}" class="fan-become ajax-link">{{ 'Become fan'|trans }}</a></li>

        {% else %}

            <li>{{ 'You are fan'|trans }}</li>
            <li class="divider"></li>
            <li><a href="{{ path('fan_unbecome', {'fanId': userId, 'object': object}) }}" class="fan-become ajax-link">{{ 'Unbecome fan'|trans }}</a></li>

        {% endif %}
    </ul>
</div>