<div class="btn-group ajax-link-target">
    {% if not imFan %}
	    <a href="{{ path('fan_become', {'fanId': userId, 'object': object}) }}" class="btn btn-default fan-become ajax-link">{{ icon('Fan') }} {{ 'Become fan'|trans }}</a>
    {% else %}
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ icon('Fan') }} {{ 'You are fan'|trans }}</button>
        <ul class="dropdown-menu">
	        <li><a href="{{ path('fan_unbecome', {'fanId': userId, 'object': object}) }}" class="fan-become ajax-link">{{ 'Unbecome fan'|trans }}</a></li>
        </ul>
    {% endif %}
</div>