{% if userId != app.user.id %}
    <div class="btn-group btn-group-sm ajax-link-target">
        {% if not imFan %}
            <a href="{{ path('fan_become', {'fanId': userId, 'object': object}) }}" class="btn btn-default fan-become ajax-link ajax-link-target">{{ show_icon('Fan')|raw }} {{ 'Become fan'|trans }}</a>
        {% else %}
        
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ show_icon('Fan')|raw }} {{ 'You are fan'|trans }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{ path('fan_unbecome', {'fanId': userId, 'object': object}) }}" class="fan-become ajax-link">{{ show_icon('Fan')|raw }} {{ 'Unbecome fan'|trans }}</a></li>
          </ul>
        {% endif %}
    </div>
{% endif %}


{#<?php if ($user_id != $sf_user->getId()): ?>
    <?php if (!$imFan): ?>
        <?php echo link_to(isset($fanBecomeText) ? $sf_data->getRaw('fanBecomeText') : '<i class="glyphicon glyphicon-flag"></i> '.__('Become fan'), '@become_fan?object=user&fan_id='.$user_id, array('class' => isset($class) ? 'btn fan-become'.' '.$class : 'btn fan-become ajax-link ajax-link-target')) ?>
    <?php elseif ($imFan): ?>
        <div class="btn-group ajax-link-target">
          <button class="btn dropdown-toggle<?php isset($class) and print ' '.$class ?>" data-toggle="dropdown">
                <i class="glyphicon glyphicon-flag"></i> <?php echo __('You are fan') ?> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><?php echo link_to(__('Unbecome fan'), '@unbecome_fan?object=user&fan_id='.$user_id, array('class' => isset($class) ? 'fan-become'.' '.$class : 'fan-become ajax-link')) ?></li>
          </ul>
        </div>
    <?php endif ?>  
<?php endif ?>#}