{% for album in albums %}
    <div class="media object">
        <div class="meda-body">
            {% if album.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_PROFILE') %}
                <h4 class="media-heading">{{ 'Profile images'|trans }}</h4>
                {{ show_img_box(album.image.getImg|imagine_filter('small'), {width: 150, offset: album.image.imgOffset, link: path(link, {slug: publisher.slug, id: album.id}), box_attributes: {class: 'pull-left img-thumbnail'}}) }}
            {% elseif album.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_COVER') %}
                <h4 class="media-heading">{{ 'Cover images'|trans }}</h4>
                {{ show_img_box(album.image.getImg|imagine_filter('small'), {width: 150, link: path(link, {slug: publisher.slug, id: album.id}), box_attributes: {class: 'pull-left img-thumbnail'}}) }}
            {% elseif album.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_BACKGROUND') %}
                <h4 class="media-heading">{{ 'Background images'|trans }}</h4>
                {{ show_img_box(album.image.getImg|imagine_filter('small'), {width: 150, link: path(link, {slug: publisher.slug, id: album.id}), box_attributes: {class: 'pull-left img-thumbnail'}}) }}
            {% elseif album.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_ALBUM') %}
                <h4 class="media-heading">{{ album }}</h4>
                {{ show_img_box(album.image.getImg|imagine_filter('small'), {width: 150, link: path(link, {slug: publisher.slug, id: album.id}), box_attributes: {class: 'pull-left img-thumbnail'}}) }}
            {% endif %}
        </div>
    </div>
{% endfor %}

{% if albums.paginationData.current < albums.paginationData.last %}
    <div class="well well-small" load_more>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ page: albums.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
    </div>
{% endif %}