<div class="box">

    <div class="box-heading box-heading-big">
        <div class="media">
            <div class="pull-right">
                <a href="{{ path('imagealbum_new') }}" class="btn btn-default btn-sm">{{ icon('Plus')|raw }} {{ 'Create a new album'|trans }}</a>
            </div>
            <div class="media-body">
                <h2>{{ icon('Image')|raw }} {{ 'Entities'|trans }}</h2>
            </div>
        </div>
        
        {{ include('CMBundle:ImageAlbum:menu.html.twig', {'inEntitiesPage': true}) }}
    </div>
    
    <div class="objects">
        {{ include('CMBundle:ImageAlbum:imageEntityList.html.twig', {'link': publisherType ~ '_album'}) }}
    </div>
    
</div>