{% for entity in entities %}
    <li class="object album" data-type="post" data-id="{{ entity.id }}">
        <div class="image-container">
        {% if can_manage(entity) %}
            <div class="btn-group pull-right hide">
              <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('imagealbum_add_image', {id: entity.id}) }}">{{ icon('Edit') }} {{ 'Edit'|trans }}</a></li>
                {#<?php if ($album->getImageAlbum()->getType() == 'album'): ?>
                    <li><?php delete_link('@image_album_delete?id='.$album->getEntityId(), 'album') ?></li>
                <?php endif ?>#}
              </ul>
            </div>
        {% endif  %}
        <div class="album-preview">
            {% for image in entity.images|slice(0, 3) %}
                {{ show_img_box(image.getImg|imagine_filter('medium'), {width: 150, link: path(link, {slug: publisher.slug, id: entity.id})}) }}
            {% endfor  %}
        </div>
        <div class="album-details">
            <h4><a href="{{ path(link, {slug: publisher.slug, id: entity.id}) }}">{{ entity }}</a></h4>
            <div>
                {% set count = entity.images|length %}
                {% transchoice count %}
                    {0} No photos|{1} 1 photo|]1,Inf] %count% photos
                {% endtranschoice %}
            </div>
            {{ include('CMBundle::social.html.twig', {post: entity.post}) }}
        </div>
        </div>
    </li>
{% endfor %}

{% if entities.paginationData.current < entities.paginationData.last %}
    <div class="well well-small" load_more>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ page: entities.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
    </div>
{% endif %}