<div class="image" data-type="image" data-id="{{ image.id }}" data-toggle-hover>

    {% if can_manage(image.entity) %}
        <div class="btn-group pull-right invisible" data-toggle>
            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                {{ icon('Down')|raw }}
            </a>
            <ul class="dropdown-menu">
                {% if album is defined and (album|class_name != 'ImageAlbum' or album.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_ALBUM')) %}
                    <li><a class="ajax-link" href="{{ path('imagealbum_main', {'id': image.id}) }}">{{ 'Make album cover'|trans }}</a></li>
                    <li class="divider"></li>
                {% endif %}
                <li><a class="ajax-link" href="{{ path('image_make_profile', {'id': image.id}) }}">{{ 'Make profile picture'|trans }}</a></li>
                <li><a class="ajax-link" href="{{ path('image_make_cover', {'id': image.id}) }}">{{ 'Make cover picture'|trans }}</a></li>
                <li class="divider"></li>
                {#<li><a href="{{ path('rotate_left', {'id': image.id}) }}">{{ 'Rotate left'|trans }}</a></li>
                <li><a href="{{ path('rotate_right', {'id': image.id}) }}">{{ 'Rotate right'|trans }}</a></li>#}
            </ul>
        </div>
    {% endif %}
    
    <div class="image-container">
        <a href="{{ path('image_show', {id: image.id}) }}" {{ lightbox(image, true) }}>
            {{ show_img_box(image.getImg|imagine_filter('medium'), {width: 185}) }}
            <div class="image-overlay"></div>
        </a>
    </div>
    <input type="hidden" name="{{ image.id }}" />
</div>
