<li class="object image" data-type="image" data-id="{{ image.id }}" data-toggle-hover>

    {% if can_manage(image.entity) %}
        <div class="btn-group pull-right invisible" data-toggle>
            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                {{ icon('Down')|raw }}
            </a>
            <ul class="dropdown-menu">
                {% if album is defined and (album|class_name != 'ImageAlbum' or album.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_ALBUM')) %}
                    <li><a class="ajax-link" href="{{ path('imagealbum_main', {'id': image.id}) }}">{{ 'Make album cover'|trans }}</a></li>
                    <li class="divider"></li>
                {% endif %}
                <li><a class="ajax-link" href="{{ path('image_make_profile', {'id': image.id}) }}">{{ 'Make profile picture'|trans }}</a></li>
                <li><a class="ajax-link" href="{{ path('image_make_cover', {'id': image.id}) }}">{{ 'Make cover picture'|trans }}</a></li>
                <li class="divider"></li>
                <li><a href="{#{{ path('rotate_left', {'id': image.id}) }}#}">{{ 'Rotate left'|trans }}</a></li>
                <li><a href="{#{{ path('rotate_right', {'id': image.id}) }}#}">{{ 'Rotate right'|trans }}</a></li>
            </ul>
        </div>
    {% endif %}
    
    <div class="image-container">
            {{ show_img_box(image.getImg|imagine_filter('medium'), {width: 180, link: link, box_attributes: {'class': 'pull-left'}})|raw }}
            <div class="image-overlay"></div>
        <div class="image-overlay-content">
                <p>{{ image.text }}</p>
            {#<h4><?php echo link_to(__($image->getImageAlbum()), '@image_album_show?id='.$image->getEntityId()) ?></h4>
            <div class="image-overlay-content-bottom">
                <?php if ($sf_context->getSito()->getLikesEnabled() && $sf_context->getSito()->getLikesDisplay()): ?>   
                    <?php include_partial('like/likeActions', array('post' => $image)) ?>
                <?php endif ?>
                <div class="pull-right">
                    <?php if ($sf_context->getSito()->getLikesEnabled() && $sf_context->getSito()->getLikesDisplay()): ?>   
                        <?php include_partial('like/likeCount', array('post' => $image)) ?>
                    <?php endif ?>
                    <?php if ($sf_context->getSito()->getCommentsEnabled() && $sf_context->getSito()->getCommentsDisplay()): ?> 
                        <?php include_partial('comment/commentCount', array('post' => $image)) ?>
                    <?php endif ?>
                </div>
            </div>#}
        </div>
    </div>
    <input type="hidden" name="{{ image.id }}" />
</li>