<div protagonist_new_id="0" class="collection-item protagonists_user media ajax-link-target alert alert-{% if member.status == constant('CM\\CMBundle\\Entity\\GroupUser::STATUS_ACTIVE') %}success{% else %}warning{% endif %}" user_id="{{ member.userId }}">

    <div class="immagine">
        {{ show_img_box(member.user.img|imagine_filter('medium'), {'width': 75, 'height': 75, 'offset': member.user.imgOffset, 'default': 'user', 'box_attributes': {'class': 'pull-left'}})|raw }}
    </div>

    <div class="contenuto">

        <h3><a href="{{ path('user_show', {'slug': member.user.slug}) }}">{{ member.user }}</a></h3>

        <select name="tags[{{ member.id }}][]" multiple id="roles_{{ member.userId }}" style="width: 500px;" class="form-control col-lg-offset-2 col-lg-10">
            {% for tag in tags %}
                <option value="{{ tag.id }}"{% if member.hasUserTag(tag.id) %} selected{% endif %}>{{ tag }}</option>
            {% endfor %}
        </select>

        <div class="btn-group">

            {% if app.user.id != member.userId %}
            {#<?php if ($group->getUserId() != $member->getUserId()): ?>#}

                {% if member.admin %}
                    <a href="{{ path('group_remove_admin', {'id': member.id}) }}" class="btn btn-default ajax-link">{{ icon('Down')|raw }} {{ 'Remove as admin'|trans }}</a>
                {% else %}
                    <a href="{{ path('group_promote_admin', {'id': member.id}) }}" class="btn btn-default ajax-link">{{ icon('Up')|raw }} {{ 'Promote to admin'|trans }}</a>
                {% endif %}

                <a href="{{ path('group_remove_user', {'id': member.id})}}" class="btn btn-default ajax-link">{{ icon('Minus')|raw }} {{ 'Remove member'|trans }}</a>

            {% endif %}

        </div><!-- end bottom -->

    </div><!-- end contenuto -->

</div><!-- end oggetto elemento -->