{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}{{ render(controller('CMBundle:Fan:fanButton', {'userId': group.id, 'object': group|class_name})) }}{% endif %}

    {{ include('CMBundle:Group:top.html.twig', {'inPage': 'multimedia'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homegroup') ?></li>
      <li><?php echo link_to(__('Users'), '@group_list') ?></li>
      <li class="active"><?php echo $group ?></li>
    </ul>#}


    <div class="box">

        {% if is_admin(group) %}<a href="{{ path('imagealbum_new', {'object': group|class_name, 'objectId': group.id}) }}">{{ 'Add a new multimidia'|trans }}</a>{% endif %}

        <ul class="media-list objects">
            {{ include('CMBundle:Multimedia:multimediaList.html.twig', {'link': 'group_multimedia_show', 'publisher': group}) }}
        </ul>
    </div>
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'groupFans', array('group' => $group)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}