{% extends 'CMBundle::layout.html.twig' %}

{% block bodyHeading %}
    {{ include('CMBundle:Group:top.html.twig') }}
{% endblock %}

{% block body %}
    <div data-ajax-url="{{ path('group_biography', {slug: group.slug, simple: true}) }}"></div>

    {{ include('CMBundle:Group:membersMini.html.twig') }}

    {% if is_admin(group) %}
        <a href="{{ path('group_members_settings', {slug: group.slug}) }}">{{ 'Manage members'|trans }}</a>
    {% endif %}

    <div data-ajax-url="{{ path('wall_group', {slug: group.slug, simple: true}) }}"></div>
{% endblock %}

{% block sidebar %}
    <div data-ajax-url="{{ path('fan_group_sidebar', {slug: group.slug}) }}"></div>

    <div data-ajax-url="{{ path('event_next_dates', {object: 'group', objectId: group.id, limit: 3}) }}"></div>
{% endblock %}