{% extends 'CMBundle::layout.html.twig' %}

{% block heading %}
    {{ include('CMBundle:Group:top.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('CMBundle:Biography:box.html.twig', {publisher: group, publisherType: 'group', simple: true}) }}

    {{ include('CMBundle:Group:membersMini.html.twig') }}

    {% if is_admin(group) %}
        <a href="{{ path('group_members_settings', {slug: group.slug}) }}">{{ 'Manage members'|trans }}</a>
    {% endif %}

    <div class="row" id="wall"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
         '@CMBundle/Resources/public/js/wall.js'
    %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}