<div class="box profile-header">
    <div class="clearfix">
    
        <div class="col-md-4 box-body profile-header-info text-center">
            <div class="profile-header-picture thumbnail">
                {{ show_img_box(group.img|imagine_filter('medium'), {width: 120, offset: group.imgOffset}) }}
            </div>
            <h2>{{ group }}</h2>
        </div>
        
        <div class="col-md-8 profile-header-cover">
            {% if group.coverImg != '' %}
                {{ show_img_box(group.coverImg|imagine_filter('large'), {width: 780, height: 300, offset: group.coverImgOffset}) }}
            {% endif %}
            <div class="profile-header-buttons btn-toolbar" role="toolbar">
                {% if is_granted('ROLE_USER') %}
                    {{ render(controller('CMBundle:Fan:button', {userId: group.id, object: group|class_name})) }}
                {% endif %}
                {{ include('CMBundle:GroupUser:requestAdd.html.twig') }}
            </div>
            
        </div>
    </div>
    
    <div class="profile-menu">
        {% spaceless %}
            <a href="{{ path('group_show', {slug: group.slug}) }}"{% if controller_name() == 'group' %} class="active"{% endif %}>{{ icon('User') }} {{ 'Profile'|trans }}</a>
            <a href="{{ path('group_wall', {slug: group.slug}) }}"{% if controller_name() == 'wall' %} class="active"{% endif %}>{{ icon('Wall') }} {{ 'Wall'|trans }}</a>
            <a href="{{ path('group_biography', {slug: group.slug}) }}"{% if controller_name() == 'biography' %} class="active"{% endif %}>{{ icon('Biography') }} {{ 'Biography'|trans }}</a>
            <a href="{{ path('group_events', {slug: group.slug}) }}"{% if controller_name() == 'event' %} class="active"{% endif %}>{{ icon('Event') }} {{ 'Events'|trans }}</a>
            <a href="{{ path('group_images', {slug: group.slug}) }}"{% if controller_name() == 'image' %} class="active"{% endif %}>{{ icon('Image') }} {{ 'Images'|trans }}</a>
            <a href="{{ path('group_multimedia', {slug: group.slug}) }}"{% if controller_name() == 'multimedia' %} class="active"{% endif %}>{{ icon('Multimedia') }} {{ 'Multimedia'|trans }}</a>
            <a href="{{ path('group_discs', {slug: group.slug}) }}"{% if controller_name() == 'disc' %} class="active"{% endif %}>{{ icon('Disc') }} {{ 'Discs'|trans }}</a>
        {% endspaceless %}
    </div>
</div>