{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ '%group%&#39;s wall' | trans({'%group%': group}) | raw }}{% endblock %}

{% block body %}
    {{ include('CMBundle:Group:top.html.twig', {'inPage': 'wall'}) }}
    
    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li class="active">{{ block('title') }}</li>
    </ul>#}


    <div class="box">
        <div class="box-heading">
            <h3>{{ icon('Wall') | raw }} <span>{{ 'Last posts' | trans }}</span></h3>
        </div>
        <ul class="media-list objects">
            {{ include('CMBundle:Wall:posts.html.twig', {'slug': group.slug}) }}
        </ul>
    </div>

{% endblock %}