{% extends 'CMBundle:Form:layout.html.twig' %}

{% set inAccountPage = true %}

{% block bodyHeading %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">{{ 'Account edit'|trans }}</h2>
        </div>
    </div>
{% endblock %}

{% block accountSidebar %}
    <div class="media">
        <div class="pull-left">{{ show_img_box(app.user.img|imagine_filter('avatar'), {'width': 50, 'height': 50, 'offset': app.user.imgOffset}) }}</div>
        <div class="media-body">
            <h4 class="media-heading">
                {{ app.user }}
            </h4>
        </div>
    </div>

    <ul class="nav nav-pills nav-stacked">
        <li{% if controller_name() == 'profile' %} class="active"{% endif %}>
            <a href="{{ path('fos_user_profile') }}">{{ icon('Options') }} {{ 'Basic information'|trans }}</a>
        </li>
        <li{% if action_name() == 'imageedit' %} class="active"{% endif %}>
            <a href="{{ path('user_image_edit') }}"></span>{{ icon('Photo') }} {{ 'Profile & Cover pictures'|trans }}</a>
        </li>
        <li{% if controller_name() == 'biography' %} class="active"{% endif %}>
            <a href="{{ path('user_biography_edit') }}">{{ icon('Biography') }} {{ 'Biography'|trans }}</a>
        </li>
        <li{% if action_name() == 'tagsedit' %} class="active"{% endif %}>
            <a href="{{ path('user_tags_edit') }}"><span class="glyphicon glyphicon-tags"></span> {{ 'Tags'|trans }}</a>
        </li>
        <li{% if action_name() == 'groups' %} class="active"{% endif %}>
            <a href="{{ path('user_groups') }}">{{ icon('Group') }} {{ 'Groups'|trans }}</a>
        </li>
        <li{% if action_name() == 'pages' %} class="active"{% endif %}>
            <a href="{{ path('user_pages') }}"><span class="glyphicons bank"></span> {{ 'Pages'|trans }}</a>
        </li>
        <li{% if controller_name() == 'education' %} class="active"{% endif %}>
            <a href="{{ path('user_education') }}">{{ icon('Education') }} {{ 'Education'|trans }}</a>
        </li>
        <li{% if controller_name() == 'relation' %} class="active"{% endif %}>
            <a href="{{ path('relation_user') }}"><span class="glyphicons git_branch"></span> {{ 'Relations'|trans }}</a>
        </li>
    </ul>
{% endblock %}