{% extends 'CMBundle:Form:layout.html.twig' %}

{% block title %}{{ 'Account'|trans }}{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>{{ 'Account'|trans }} &gt; {% block section %}{% endblock %}</h2>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="heading-buttons">
                {% block headingButtons %}{% endblock %}
                <a href="{{ path('user_show', {'slug': app.user.slug}) }}" class="btn btn-default">{{ icon('User') }} {{ 'View profile'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
    
        <div class="col-md-4 col-lg-3">
            <div class="box">
                <div class="box-body">
                    <div class="media">
                        <div class="pull-left">{{ show_img_box(app.user.img|imagine_filter('avatar'), {'width': 50, 'height': 50, 'offset': app.user.imgOffset}) }}</div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ app.user }}
                            </h4>
                        </div>
                    </div>
                </div>
        
                <ul class="nav nav-pills nav-stacked">
                    <li{% if controller_name() == 'profile' %} class="active"{% endif %}>
                        <a href="{{ path('fos_user_profile') }}">{{ icon('Options') }} {{ 'Basic information'|trans }}</a>
                    </li>
                    <li{% if action_name() == 'imageedit' %} class="active"{% endif %}>
                        <a href="{{ path('user_image_edit') }}"></span>{{ icon('Photo') }} {{ 'Profile & Cover pictures'|trans }}</a>
                    </li>
                    <li{% if controller_name() == 'biography' %} class="active"{% endif %}>
                        <a href="{{ path('user_biography_edit') }}">{{ icon('Biography') }} {{ 'Biography'|trans }}</a>
                    </li>
                    <li{% if action_name() == 'tagsedit' %} class="active"{% endif %}>
                        <a href="{{ path('user_tags_edit') }}"><span class="glyphicon glyphicon-tags"></span> {{ 'Tags'|trans }}</a>
                    </li>
                    <li{% if action_name() == 'pages' %} class="active"{% endif %}>
                        <a href="{{ path('user_pages') }}">{{ icon('Page') }} {{ 'Pages'|trans }}</a>
                    </li>
                    <li{% if controller_name() == 'education' %} class="active"{% endif %}>
                        <a href="{{ path('user_education') }}">{{ icon('Education') }} {{ 'Education'|trans }}</a>
                    </li>
                    <li{% if controller_name() == 'work' %} class="active"{% endif %}>
                        <a href="{{ path('user_work') }}">{{ icon('Work') }} {{ 'Work'|trans }}</a>
                    </li>
                    <li{% if controller_name() == 'relation' %} class="active"{% endif %}>
                        <a href="{{ path('relation_user') }}"><span class="glyphicons git_branch"></span> {{ 'Relations'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
            
        <div class="col-md-8 col-lg-9">
            {% block main %}{% endblock %}
        </div>
        
    </div>
{% endblock %}