{% extends 'CMBundle::layout.html.twig' %}

{% set inAccountPage = true %}

{% block bodyHeading %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">{{ 'Account edit'|trans }}</h2>
        </div>
    </div>
{% endblock %}

{% block accountSidebar %}
    <div class="media">
        <div class="pull-left">{{ show_img_box(app.user.img|imagine_filter('50'), {'width': 50, 'height': 50, 'offset': app.user.imgOffset})|raw }}</div>
        <div class="media-body">
            <h4 class="media-heading">
                {{ app.user }}
            </h4>
            <small>{{ app.user.userTags|join(', ')|trim }}</small>
        </div>
    </div>

    <ul class="nav nav-pills nav-stacked">
        <li{% if inProfilePage is defined and inProfilePage %} class="active"{% endif %}>
            <a href="{{ path('fos_user_profile') }}">{{ icon('Options') }} {{ 'Basic information' | trans }}</a>
        </li>
        <li{% if inPicturesPage is defined and inPicturesPage %} class="active"{% endif %}>
            <a href="{{ path('user_image_edit') }}"></span>{{ icon('Photo') }} {{ 'Profile & Cover pictures' | trans }}</a>
        </li>
        <li{% if inBiographyPage is defined and inBiographyPage %} class="active"{% endif %}>
            <a href="{{ path('user_biography_edit') }}"><span class="glyphicon glyphicon-book"></span> {{ 'Biography' | trans }}</a>
        </li>
        <li{% if inTagsPage is defined and inTagsPage %} class="active"{% endif %}>
            <a href="{{ path('user_tags_edit') }}"><span class="glyphicon glyphicon-tags"></span> {{ 'Tags' | trans }}</a>
        </li>
        <li{% if inGroupsPage is defined and inGroupsPage %} class="active"{% endif %}>
            <a href="{{ path('user_groups') }}"><span class="glyphicons group"></span> {{ 'Groups' | trans }}</a>
        </li>
        <li{% if inPagesPage is defined and inPagesPage %} class="active"{% endif %}>
            <a href="{{ path('user_pages') }}"><span class="glyphicons bank"></span> {{ 'Pages' | trans }}</a>
        </li>
        <li{% if inImagesPage is defined and inImagesPage %} class="active"{% endif %}>
            <a href="{{ path('user_image_edit') }}"><span class="glyphicons book_open"></span> {{ 'Pages' | trans }}</a>
        </li>
        <li{% if inImagesPage is defined and inImagesPage %} class="active"{% endif %}>
            <a href="{{ path('user_image_edit') }}"><span class="glyphicons more_items"></span> {{ 'Pages' | trans }}</a>
        </li>
        <li{% if inRelationsPage is defined and inRelationsPage %} class="active"{% endif %}>
            <a href="{{ path('user_tags_edit') }}"><span class="glyphicons git_branch"></span> {{ 'Relations' | trans }}</a>
        </li>
    </ul>
{% endblock %}