{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block section %}{{ 'Groups'|trans }}{% endblock %}

{% block headingButtons %}
    <a href="{{ path('group_new') }}" class="btn btn-default">{{ icon('Add') }} {{ 'Create a group'|trans }}</a>
{% endblock %}

{% form_theme form _self %}

{#
{% block _cm_cmbundle_groupUser_collection_groups_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th>{{ 'status'|trans }}</th>
                    <th></th>
                    <th>{{ 'visible on my profile'|trans }}</th>
                    <th>{{ 'hidden on my profile'|trans }}</th>
                    <th>{{ 'send me a request'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {{ block('form_rows') }}
            </tbody>
        </table>
    </div>
{% endblock %}
#}

{#
{% block _cm_cmbundle_groupUser_collection_groups_entry_widget %}
    {{ form_row(form.joinArticle) }}
    {{ form_row(form.joinDisc) }}
    {{ form_row(form.joinEvent) }}
    {% if form.vars.data.group.creatorId == app.user.id or is_admin(form.vars.data.group) %}
        <tr>
            <td></td>

            <td colspan="6">
                {% if form.vars.data.group.creatorId == app.user.id %}
                    {{ 'Creator'|trans }}
                {% endif %}
                {% if form.vars.data.group.creatorId == app.user.id and is_admin(form.vars.data.group) %}
                &middot;
                {% endif %}
                {% if is_admin(form.vars.data.group) %}
                    {{ 'Admin'|trans }}
                    <a href="{{ path('group_edit', {slug: form.vars.data.group.slug})}}">{{ 'Edit group'|trans }}</a>,
                    <a href="{{ path('group_members_settings', {slug: form.vars.data.group.slug}) }}">{{ 'Manage members'|trans }}</a>,
                    <a href="{{ path('group_delete', {slug: form.vars.data.group.slug})}}">{{ 'Delete group'|trans }}</a>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endblock %}
#}

{#
{% block _cm_cmbundle_groupUser_collection_groups_entry_joinArticle_widget %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <tr {{ block('widget_container_attributes') }}>
        <td rowspan="3">{{ show_img_box(form.parent.vars.data.group|default_img|imagine_filter('small'), {width: 50, box_attributes: {class: 'pull-left img-thumbnail'}}) }}</td>

        <td rowspan="3"><a href="{{ path('group_show', {slug: form.parent.vars.data.group.getSlug}) }}">{{ form.parent.vars.data.group }}</a></td>

        <td rowspan="3">{{ form.parent.vars.data.status }}</td>

        <td class="join-input">{{ label|trans({}, translation_domain) }}</td>
        {% for child in form.children %}<td>{{ form_row(child) }}</td>{% endfor %}
    </tr>
{% endblock %}
#}

{#
{% block _cm_cmbundle_groupUser_collection_groups_entry_joinDisc_widget %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <tr {{ block('widget_container_attributes') }}>
        <td class="join-input">{{ label|trans({}, translation_domain) }}</td>
        {% for child in form.children %}<td>{{ form_row(child) }}</td>{% endfor %}
    </tr>
{% endblock %}

{% block _cm_cmbundle_groupUser_collection_groups_entry_joinEvent_widget %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <tr {{ block('widget_container_attributes') }}>
        <td class="join-input">{{ label|trans({}, translation_domain) }}</td>
        {% for child in form.children %}<td>{{ form_row(child) }}</td>{% endfor %}
    </tr>
{% endblock %}
#}








{% block _cm_cmbundle_groupUser_collection_groups_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_rows') }}
{% endblock %}

{% block _cm_cmbundle_groupUser_collection_groups_entry_widget %}
    
    <div class="well well-sm">
        <div class="media">
            {{ show_img_box(form.vars.data.group|default_img|imagine_filter('small'), {width: 50, box_attributes: {class: 'pull-left img-thumbnail'}}) }}
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ path('group_show', {slug: form.vars.data.group.getSlug}) }}">{{ form.vars.data.group }}</a></h4>
                {{ form.vars.data.status }}
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">{{ 'visible on my profile'|trans }}</th>
                    <th class="text-center">{{ 'hidden on my profile'|trans }}</th>
                    <th class="text-center">{{ 'send me a request'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {{ form_row(form.joinEvent) }}
                {{ form_row(form.joinArticle) }}
                {{ form_row(form.joinDisc) }}
                
                {% if form.vars.data.group.creatorId == app.user.id or is_admin(form.vars.data.group) %}
                    <tr>
                        <td></td>
            
                        <td colspan="6">
                            {% if form.vars.data.group.creatorId == app.user.id %}
                                {{ 'Creator'|trans }}
                            {% endif %}
                            {% if form.vars.data.group.creatorId == app.user.id and is_admin(form.vars.data.group) %}
                            &middot;
                            {% endif %}
                            {% if is_admin(form.vars.data.group) %}
                                {{ 'Admin'|trans }}
                                <a href="{{ path('group_edit', {slug: form.vars.data.group.slug})}}">{{ 'Edit group'|trans }}</a>,
                                <a href="{{ path('group_members_settings', {slug: form.vars.data.group.slug}) }}">{{ 'Manage members'|trans }}</a>,
                                <a href="{{ path('group_delete', {slug: form.vars.data.group.slug})}}">{{ 'Delete group'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        
        </table>
    </div>
{% endblock %}

{% block _cm_cmbundle_groupUser_collection_groups_entry_joinEvent_widget %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <tr {{ block('widget_container_attributes') }}>
        <td>{{ 'When the group publishes an event'|trans }}</td>
        {% for child in form.children %}<td class="text-center">{{ form_widget(child) }}</td>{% endfor %}
    </tr>
{% endblock %}

{% block _cm_cmbundle_groupUser_collection_groups_entry_joinArticle_widget %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <tr {{ block('widget_container_attributes') }}>
        <td>{{ 'When the group publishes an article'|trans }}</td>
        {% for child in form.children %}<td class="text-center">{{ form_widget(child) }}</td>{% endfor %}
    </tr>
{% endblock %}

{% block _cm_cmbundle_groupUser_collection_groups_entry_joinDisc_widget %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <tr {{ block('widget_container_attributes') }}>
        <td>{{ 'When the group publishes a disc'|trans }}</td>
        {% for child in form.children %}<td class="text-center">{{ form_widget(child) }}</td>{% endfor %}
    </tr>
{% endblock %}













{% block main %}

    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Group') }} {{ block('section') }}</h2>
        </div>

        <div class="box-body">
            {{ form_start(form) }}
                {{ form_row(form) }}                
                <div class="text-right">
                    <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
                    <button type="submit" name="commit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
  
{% endblock %}