{% for group in groups %}
    <div class="media">
        {{ show_img_box(group|default_img|imagine_filter('medium'), {width: 150, box_attributes: {class: 'pull-left img-thumbnail'}}) }} {# TODO: add image show link #}

        <div class="media-body">
        
            <h4 class="media-heading"><a href="{{ path('group_show', {slug: group.getSlug}) }}">{{ group }}</a></h4>

            {% if group.groupUsers[app.user.id].status != constant('CM\\CMBundle\\Entity\\GroupUser::STATUS_ACTIVE') %}
                {{ group.groupUsers[app.user.id].status }}
            {% endif %}

            {{ include('CMBundle:GroupUser:joinType.html.twig', {object: 'Event'}) }}
            {{ include('CMBundle:GroupUser:joinType.html.twig', {object: 'Disc'}) }}

            {% if group.creatorId == app.user.id %}
                {{ 'Creator'|trans }}
            {% endif %}
            {% if is_admin(group) %}
                {{ 'Admin'|trans }}
                <ul>
                    <li><a href="{{ path('group_edit', {slug: group.slug})}}">{{ 'Edit'|trans }}</a></li>
                    <li><a href="{{ path('group_members_settings', {slug: group.slug}) }}">{{ 'Manage members'|trans }}</a></li>
                    <li><a href="{{ path('group_delete', {slug: group.slug})}}">{{ 'Delete group'|trans }}</a></li>
                </ul>
            {% endif %}

        </div><!-- END Media Body -->

    </div><!-- END Object -->
{% endfor %}