{% extends "CMBundle:User:accountLayout.html.twig" %}

{% block title %}{{ 'Profile & cover pictures'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #profile-pic .fileinput-preview {
            border: 1px solid #bbbbbb;
            margin-bottom: 15px;
            position: relative;
        }
        #profile-pic .fileinput-preview img {
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Photo') }} {{ block('title') }}</h2>
        </div>
        <div class="box-body">
            {{ form_start(form) }}

                <div id="profile-pic">
                    {{ form_row(form.imgFile, {imgEdit: {box: show_img_box(asset(uploaded_images_full_dir ~ '/' ~ user.img), {width: 150, offset: user.imgOffset, box_attributes: {class: 'fileinput-new', style: 'border: 1px solid #bbbbbb; margin-bottom: 10px;'}}), width: 150}}) }}
                </div>

                {{ form_row(form.imgOffset, {attr: {'img-offset-field': null}}) }}

                {#{% if user.img is not null %}
                    <div class="alert alert-info">{{ icon('Alert') }} {{ 'Drag the image to adjust position.'|trans }}</div>
                    {{ show_img_box(asset(uploaded_images_full_dir ~ '/' ~ user.img), {width: 150, height: 150, offset: user.imgOffset, box_attributes: {id: 'profile-pic', style: 'border: 1px solid #bbbbbb; margin-bottom: 15px;'}}) }}
                {% endif %}#}

                {% if user.coverImg is not null %}
                    <div class="alert alert-info">{{ icon('Alert') }} {{ 'Drag the image to adjust position.'|trans }}</div>
                    <div>{{ show_img_box(asset(uploaded_images_full_dir ~ '/' ~ user.coverImg), {width: 486, height: 274, offset: user.coverImgOffset, box_attributes: {id: 'cover-pic', style: 'border: 1px solid #bbbbbb; margin-bottom: 10px;' }}) }}</div>
                    {{ form_row(form.coverImgOffset, {attr: {'cover-img-offset-field': null}}) }}
                {% endif %}
            
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

