{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}{{ render(controller('CMBundle:Fan:fanButton', {'userId': user.id})) }}{% endif %}  

    {{ include('CMBundle:User:top.html.twig', {'inPage': 'image'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homeuser') ?></li>
      <li><?php echo link_to(__('Users'), '@user_list') ?></li>
      <li class="active"><?php echo $user ?></li>
    </ul>#}


    <div class="box">

        <div class="box-top box-top-big">
            <div class="media">
                <div class="pull-right">
                    <a href="{{ path('imagealbum_new') }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i> {{ 'Create a new album'|trans }}</a>
                </div>
                <div class="media-body">
                    <h2><i class="glyphicon glyphicon-picture"></i> {{ 'Entities'|trans }}</h2>
                </div>
            </div>
            <ul class="nav">
                <li><a href="{{ path('user_images', {'slug': user.slug}) }}">{{ 'Images'|trans }}</a></li>
                <li class="active"><a href="{{ path('user_albums', {'slug': user.slug}) }}">{{ 'Albums'|trans }}</a></li>
                <li><a href="{{ path('user_entities_albums', {'slug': user.slug}) }}">{{ 'Entities images'|trans }}</a></li>
            </ul>
        </div>
        
        <div class="objects">
            {{ include('CMBundle:ImageAlbum:imageEntityList.html.twig', {'link': 'user_album', 'publisher': user}) }}
        </div>
        
    </div>
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'userFans', array('user' => $user)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}
