<li class="dropdown menu-tab{% if controller_name() == 'message' %} active{% endif %} menu-tab-ajax">
    
    <a href="{{ path('message_index') }}" id="menu-messages" class="dropdown-toggle" data-toggle="dropdown">
        {{ icon('Message') }}
        <span class="countNew" id="messagesCounter">{% if newMessages > 0 %}{{ newMessages }}{% endif %}</span>
    </a>
    
    <div class="dropdown-menu dropdown-menu-right">

        <div class="dropdown-menu-header">
            <h3>{{ 'Messages' | trans }}</h3>
        </div>
    
        <div class="dropdown-menu-body" load_more_container>
            <ul class="media-list"></ul>
            <div class="dropdown-menu-loader"><img src="/images/loader.gif" /></div>
        </div>
    
        <div class="dropdown-menu-footer"><a href="{{ path('message_index') }}">{{ 'View all messages'|trans }}</a></div>
    
    </div>
    
</li>



<li class="dropdown menu-tab{% if controller_name() == 'request' %} active{% endif %} menu-tab-ajax">
    
    <a href="{{ path('request_index') }}" id="menu-requests" class="dropdown-toggle" data-toggle="dropdown">
        {{ icon('Request') }}
        <span class="countNew" id="requestsCounter">{% if newRequests > 0 %}{{ newRequests }}{% endif %}</span>
    </a>
    
    <div class="dropdown-menu dropdown-menu-right">

        <div class="dropdown-menu-header">
            <h3>{{ 'Requests'|trans }}</h3>
        </div>
    
        <div class="dropdown-menu-body" load_more_container>
            <ul class="media-list"></ul>
            <div class="dropdown-menu-loader"><img src="/images/loader.gif" /></div>
        </div>
    
        <div class="dropdown-menu-footer"><a href="{{ path('request_index') }}">{{ 'View all requests'|trans }}</a></div>
    
    </div>
    
</li>



<li class="dropdown menu-tab{% if controller_name() == 'notification' %} active{% endif %} menu-tab-ajax">
    
    <a href="{{ path('user_notifications') }}" id="menu-notifications" class="dropdown-toggle" data-toggle="dropdown">
        {{ icon('Notification') }}
        <span class="countNew" id="notificationsCounter">{% if newNotifications > 0 %}{{ newNotifications }}{% endif %}</span>
    </a>
    
    <div class="dropdown-menu dropdown-menu-right">

        <div class="dropdown-menu-header">
            <h3>{{ 'Notifications'|trans }}</h3>
        </div>

        <div class="dropdown-menu-body" load_more_container>
            <ul class="media-list"></ul>
            <div class="dropdown-menu-loader"><img src="{{ asset('images/loader.gif') }}" /></div>
        </div>
    
        <div class="dropdown-menu-footer"><a href="{{ path('user_notifications') }}">{{ 'View all notifications'|trans }}</a></div>
    
    </div>
    
</li>



<li class="dropdown menu-tab">

    <a href="{{ path('user_show', {"slug": app.getUser.slug}) }}"  id="menu-user" class="dropdown-toggle" data-toggle="dropdown">{{ icon('User') }}</a>

    <ul class="dropdown-menu dropdown-menu-right media-list">
        <li class="media dropdown-menu-header">
            {{ show_img_box(app.getUser|default_img|imagine_filter('avatar'), {width: 50, offset: app.getUser.imgOffset, box_attributes: {class: 'pull-left img-rounded'}}) }}
            <div class="media-body">
                <h4 class="media-heading">{{ app.getUser }}</h4>
            </div>
        </li>
        <li><a href="{{ path('user_show', {"slug": app.getUser.slug}) }}">{{ 'Profile'|trans }}</a></li>
        <li><a href="{{ path('user_biography_edit') }}">{{ 'Biography'|trans }}</a></li>
        <li><a href="{{ path('user_image_edit') }}">{{ 'Images'|trans }}</a></li>
        <li><a href="{{ path('user_tags_edit') }}">{{ 'Tags'|trans }}</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a></li>
    </ul>
</li>