<li class="dropdown menu-tab{% if controller_name() == 'message' %} active{% endif %} menu-tab-ajax">
    
    <a href="{{ path('message_index') }}" id="menu-messages" class="dropdown-toggle" data-toggle="dropdown">
        {{ icon('Message') }}
        <span class="countNew" id="messagesCounter">{% if newMessages > 0 %}{{ newMessages }}{% endif %}</span>
    </a>
    
    <div class="dropdown-menu">

        <div class="dropdown-menu-header">
            <h3>{{ 'Messages' | trans }}</h3>
        </div>
    
        <div class="dropdown-menu-body" load_more_container>
            <ul class="media-list"></ul>
            <div class="dropdown-menu-loader"><img src="/images/loader.gif" /></div>
        </div>
    
        <div class="dropdown-menu-footer"><a href="{{ path('message_index') }}">{{ 'View all messages'|trans }}</a></div>
    
    </div>
    
</li>



<li class="dropdown menu-tab{% if controller_name() == 'request' %} active{% endif %} menu-tab-ajax">
    
    <a href="{{ path('request_index') }}" id="menu-requests" class="dropdown-toggle" data-toggle="dropdown">
        {{ icon('Request') }}
        <span class="countNew" id="requestsCounter">{% if newRequests > 0 %}{{ newRequests }}{% endif %}</span>
    </a>
    
    <div class="dropdown-menu">

        <div class="dropdown-menu-header">
            <h3>{{ 'Requests'|trans }}</h3>
        </div>
    
        <div class="dropdown-menu-body" load_more_container>
            <ul class="media-list"></ul>
            <div class="dropdown-menu-loader"><img src="/images/loader.gif" /></div>
        </div>
    
        <div class="dropdown-menu-footer"><a href="{{ path('request_index') }}">{{ 'View all requests'|trans }}</a></div>
    
    </div>
    
</li>



<li class="dropdown menu-tab{% if controller_name() == 'notification' %} active{% endif %} menu-tab-ajax">
    
    <a href="{{ path('user_notifications') }}" id="menu-notifications" class="dropdown-toggle" data-toggle="dropdown">
        {{ icon('Notification') }}
        <span class="countNew" id="notificationsCounter">{% if newNotifications > 0 %}{{ newNotifications }}{% endif %}</span>
    </a>
    
    <div class="dropdown-menu">

        <div class="dropdown-menu-header">
            <h3>{{ 'Notifications'|trans }}</h3>
        </div>

        <div class="dropdown-menu-body" load_more_container>
            <ul class="media-list"></ul>
            <div class="dropdown-menu-loader"><img src="{{ asset('images/loader.gif') }}" /></div>
        </div>
    
        <div class="dropdown-menu-footer"><a href="{{ path('user_notifications') }}">{{ 'View all notifications'|trans }}</a></div>
    
    </div>
    
</li>