{% if notifications | length == 0 %}
    {{ "There are no notifications." | trans }}
{% else %}
    {% for notification in notifications %}
        <li class="media object">
            {{ show_img_box(notification.fromUser.img | imagine_filter('350'), {'width': 50, 'height': 50, 'offset': notification.fromUser.imgOffset,  'link': path('user_show', {'slug': notification.fromUser.slug}), 'default': 'user', 'box_attributes': {'class': 'pull-left'}}) | raw }}
            <div class="media-body ajax-link-target">
                {{ notification_tag(notification) | raw }}
                {#<?php echo $notification->getRawValue()->getText() ?>#}
                <p class="text-muted">{#<?php echo show_icon($notification->getType()) ?>#} <small>{{ notification.createdAt | format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}</small></p>
            </div> 
        </li>
    {% endfor %}

    {% if notifications.paginationData.current < notifications.paginationData.last %}
        <div class="well well-small load_more">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ 'page': notifications.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
        </div>
    {% else %}
        <div class="well well-small"><span>{{ 'There are no more requests.' | trans }}</span></div>
    {% endif %}
{% endif %}