{% for page in pages %}
    <div class="media">

        {% if page.images|length > 0 %}
            {{ show_img_box(page.images[0]|imagine_filter('350'), {'width': 150, 'height': 150, 'link': '', 'link_attributes': {'class': 'pull-left img-thumbnail'}})|raw }} {# TODO: add image show link #}
        {% endif %}

        <div class="media-body">
        
            <h4 class="media-heading"><a href="{{ path('page_show', {'slug': page.getSlug}) }}">{{ page }}</a></h4>

            {% if page.pageUsers[app.user.id].status != constant('CM\\CMBundle\\Entity\\PageUser::STATUS_ACTIVE') %}
                {{ page.pageUsers[app.user.id].status }}
            {% endif %}
            
            {{ include('CMBundle:PageUser:joinType.html.twig', {'object': 'Event'}) }}
            {{ include('CMBundle:PageUser:joinType.html.twig', {'object': 'Disc'}) }}

            {% if page.creatorId == app.user.id %}
                {{ 'Creator'|trans }}
            {% endif %}
            {% if is_admin(page) %}
                {{ 'Admin'|trans }}
                <ul>
                    <li><a href="{{ path('page_edit', {'slug': page.slug})}}">{{ 'Edit'|trans }}</a></li>
                    <li><a href="{{ path('page_members_settings', {'slug': page.slug}) }}">{{ 'Manage members'|trans }}</a></li>
                    <li><a href="{{ path('page_delete', {'slug': page.slug})}}">{{ 'Delete page'|trans }}</a></li>
                </ul>
            {% endif %}

        </div><!-- END Media Body -->

    </div><!-- END Object -->
{% endfor %}