{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% form_theme form _self %}

{% block _cm_cmbundle_pageUser_collection_pages_entry_widget %}
    <div class="media">
        {{ show_img_box(form.vars.data.page|default_img|imagine_filter('small'), {width: 50, box_attributes: {class: 'pull-left img-thumbnail'}}) }}

        <div class="media-body">
        
            <h4 class="media-heading"><a href="{{ path('page_show', {slug: form.vars.data.page.getSlug}) }}">{{ form.vars.data.page }}</a></h4>

            {% if form.vars.data.status != constant('CM\\CMBundle\\Entity\\form.vars.data.pageUser::STATUS_ACTIVE') %}
                {{ form.vars.data.status }}
            {% endif %}

            {{ form_row(form.joinArticle) }}
            {{ form_row(form.joinDisc) }}
            {{ form_row(form.joinEvent) }}

            {% if form.vars.data.page.creatorId == app.user.id %}
                {{ 'Creator'|trans }}
            {% endif %}
            {% if is_admin(form.vars.data.page) %}
                {{ 'Admin'|trans }}
                <ul>
                    <li><a href="{{ path('page_edit', {slug: form.vars.data.page.slug})}}">{{ 'Edit'|trans }}</a></li>
                    <li><a href="{{ path('page_members_settings', {slug: form.vars.data.page.slug}) }}">{{ 'Manage members'|trans }}</a></li>
                    <li><a href="{{ path('page_delete', {slug: form.vars.data.page.slug})}}">{{ 'Delete page'|trans }}</a></li>
                </ul>
            {% endif %}

        </div><!-- END Media Body -->

    </div><!-- END Object -->
{% endblock %}

{% block title %}{{ 'Pages'|trans }}{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>{{ 'Account edit'|trans }} </h2>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="heading-buttons">
                <a href="{{ path('page_new') }}" class="btn btn-default">{{ icon('Add') }} {{ 'Create a page'|trans }}</a>
                <a href="{{ path('user_show', {'slug': app.user.slug}) }}" class="btn btn-default">{{ icon('User') }} {{ 'View profile'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Page') }} <span>{{ block('title') }}</span></h2>
        </div>

        <div class="box-body">
            {{ form(form) }}
        </div>
    </div>
  
{% endblock %}