{% if user.coverImg is not null %}
    <div class="popover-cover">
        {{ show_img_box(user.coverImg|imagine_filter('small'), {width: 274, height: 105, offset: user.coverImgOffset}) }}
    </div>
{% else %}
    <div class="popover-cover-background"></div>
{% endif %}



<div class="popover-publisher-content">
    <div class="popover-profile">{{ show_img_box(user.img|imagine_filter('xsmall'), {width: 90, offset: user.imgOffset}) }}</div>
    
    <h2><a href="{{ path('user_show', {slug: user.slug}) }}">{{ user }}</a></h2>
    
    <h3>{{ user.userTags|join(', ')|trim }}</h3>
    
    {% if biography is not null %}<div class="popover-publisher-biography">{{ biography|short_text({max: 120}) }}{% endif %}</div>
</div>


<div class="popover-footer">
    {% if is_granted('ROLE_USER') and user.id != app.user.id %}
        {{ render(controller('CMBundle:Fan:button', {userId: user.id, btn: false})) }}
        {{ render(controller('CMBundle:Relation:button', {user: user, btn: false})) }}
        <a href="{{ path('message_new', {userId: user.id}) }}">{{ icon('Message') }}</a>
    {% endif %}
</div>