{% if requests | length == 0 %}
    {{ "There are no requests." | trans }}
{% else %}
    {% for request in requests %}
        <li class="media object">
            {{ show_img_box(request.fromUser.img | imagine_filter('350'), {'width': 50, 'height': 50, 'offset': request.fromUser.offset,  'link': path('user_show', {'slug': request.fromUser.slug}), 'default': 'user', 'box_attributes': {'class': 'pull-left'}}) | raw }}
            <div class="media-body ajax-link-target">
                {{ request.objectId }} : {{ request.status }}
                {{ request_tag(request) | raw }}
                {#<?php echo $request->getRawValue()->getText() ?>#}
                {% if request.isNewOrPending %}
                    <div class="pull-right">
                        <a href="{{ path('user_request_update', {'choice': 'accept', 'object' : request.object | class_name, 'objectId': request.objectId}) }}" class="btn btn-mini ajax-link" data-loading-text="{{ 'Loading' | trans }}"><i class="glyphicon glyphicon-ok"></i> {{ 'Accept' | trans }}</a>
    
                        <a href="{{ path('user_request_update', {'choice': 'refuse', 'object' : request.object | class_name, 'objectId': request.objectId}) }}" class="btn btn-mini ajax-link" data-loading-text="{{ 'Loading' | trans }}"><i class="glyphicon glyphicon-remove"></i> {{ 'Refuse' | trans }}</a>
                    </div>
                {% endif %}
            </div> 
        </li>
    {% endfor %}

    {% if requests.paginationData.current < requests.paginationData.last %}
        <div class="well well-small load_more">
            <a href="{{ path('user_requests', { 'page': requests.getPaginationData.next }) }}">{{ 'Load more' | trans }}</a>
        </div>
    {% else %}
        <div class="well well-small"><span>{{ 'There are no more requests.' | trans }}</span></div>
    {% endif %}
{% endif %}