{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        {{ render(controller('CMBundle:Fan:fanButton', {'userId': user.id})) }}
        {% if user.id != app.user.id %}
            {{ render(controller('CMBundle:Relation:button', {'user': user})) }}
            <div class="btn-group btn-group-sm"><a class="btn btn-default" href="{{ path('message_new', {'userId': user.id}) }}">{{ 'Send a message'|trans }}</a></div>
        {% endif %}
    {% endif %}  

    {{ include('CMBundle:User:top.html.twig', {'inPage': 'profile'}) }}


    
    <div class="box">
        <div class="box-heading">
            <h2><a href="{{ path('user_biography', {'slug': user.slug}) }}">{{ icon('Biography')|raw }} {{ 'Biography'|trans }}</a> <small><a href="{{ path('user_biography', {'slug': user.slug}) }}">{{ 'show complete biography'|trans }}</small></a></h2>
        </div>
        
        <div class="objects">
            <div class="media object">
                <a href="{{ path('user_biography', {'slug': user.slug}) }}" class="pull-left img-thumbnail"><img src='{{ asset(uploaded_images_full_dir~'/'~user.img) }}' width=200 class="media-object" /></a>
                <div class="media-body">
                    <h3 class="media-heading">
                        {{ user }}
                        <small>{{ user.userTags|join(', ')|trim }}</small>
                    </h3>
                    {% if biography is not null %}{{ entity_short_text(biography)|raw }}{% endif %}
                </div>
            </div>
        </div>
    </div>


    
    <div class="box">
        <div class="box-heading">
            <h2><a href="{{ path('user_wall', {'slug': user.slug}) }}">{{ icon('Wall')|raw }} {{ 'Wall'|trans }}</a> <small><a href="{{ path('user_wall', {'slug': user.slug}) }}">{{ 'show all posts'|trans }}</small></a></h2>
        </div>
        
        <ul class="media-list objects">
            {{ include('CMBundle:Wall:posts.html.twig', {'slug': user.slug}) }}
        </ul>
    </div>
  
{% endblock %}

{% block sidebar %}
    {{ render(controller('CMBundle:Fan:userSidebar', {'user': user})) }}
{% endblock %}
