{% extends 'CMBundle:User:accountLayout.html.twig' %}
{% set inTagsPage = true %}

{% block title %}{{ 'Define yourself'|trans }}{% endblock %}

{% block body %}

    <h3>{{ icon('Tags') | raw }} <span>{{ block('title') }}</span></h3>                                                       


     
    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li><?php echo link_to(__('Account'), '@account') ?></li>
      <li class="active"><?php echo $sf_response->getTitle() ?></li>
    </ul>#}



    <div class="objects-container">
        <div class="objects">
            <form class="form-horizontal clearfix" action="{{ path('user_tags_edit') }}" method="post">
                
                <legend>{{ 'My tags'|trans }}</legend>
                <div id="userTags" class="row tag-list">
                    {% for userTag in app.user.userTagsIds %}
                        <div class="span2">
                            <label class="img-thumbnail round tag" title=" {{ tags[userTag] }}"><input type="hidden" name="tag_{{ userTag }}" value="{{ userTag }}">{{ icon('Tag')|raw }} {{ tags[userTag] }}</label>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="text-center">
                    <input type="submit" name="commit" value="{{ 'Save'|trans }}" class="btn btn-primary" />
                </div>

                <legend>{{ 'Available tags'|trans }}</legend>
                <div id="tags" class="row tag-list">
                    {% for tag in availableTags %}
                        <div class="span2">
                            <label class="img-thumbnail round tag" title="{{ tag }}"><input type="hidden" name="tag_{{ tag.id }}" value="{{ tag.id }}">{{ icon('Tag')|raw }} {{ tag }}</label>
                        </div>
                    {% endfor %}
                </div>
                
                <input type="hidden" name="userTagsVal" id="userTagsVal" value="{{ app.user.userTags|join(',') }}" />
            
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">//<![CDATA[ 
        $(function(){   
            /* TAGS */
            if ($('#tags').length > 0) {
                $('#userTags, #tags').sortable({ 
                    connectWith:    '.tag-list', 
                    stop:               function() {
                        tags = new Array();
                        $('#userTags .tag').each(function(i, value) {
                            var tag_id = $(this).find('input').val();
                            tags.push(tag_id);
                        });
                        $('#userTagsVal').val(tags);
                    }
                }).disableSelection();
            }
        });//]]>  
    </script>
{% endblock %}