<div class="box profile-header">
    <div class="profile-header-row clearfix">
    
        <div class="col-sm-4 box-body profile-header-info text-center">
            <div class="profile-header-picture thumbnail">
                {{ show_img_box(user.img|imagine_filter('medium'), {width: 120, offset: user.imgOffset}) }}
            </div>
            <h2 title="{{ user }}">{{ user }}</h2>
            <h3 class="text-muted" {{ user.userTags|length > 3 and tooltip(user.userTags) }}>
                {{ user.userTags[:3]|join(', ')|trim }}{% if user.userTags|length > 3 %}...{% endif %}
            </h3>

            <p title="{{ 'from'|trans }}: {{ user.cityBirth }} - {{ 'lives in'|trans }}: {{ user.cityCurrent }}" class="profile-header-cities">{{ icon('Map') }} {{ 'from'|trans }}: {{ user.cityBirth }} - {{ 'lives in'|trans }}: {{ user.cityCurrent }}</p>
        </div>
        
        <div class="col-sm-8 profile-header-cover">
            {% if user.coverImg != '' %}
                {{ show_img_box(user.coverImg|imagine_filter('large'), {ratio: 2.4, offset: user.coverImgOffset}) }}
            {% endif %}
            <div class="profile-header-buttons btn-toolbar" role="toolbar">
                {% if is_granted('ROLE_USER') and user.id != app.user.id %}
                    {{ render(controller('CMBundle:Fan:button', {userId: user.id})) }}
                    {{ render(controller('CMBundle:Relation:button', {user: user, btn: true})) }}
                    <a href="{{ path('message_new', {userId: user.id}) }}" class="btn btn-default" {{ modal({remote: path('message_new', {userId: user.id}), callback: '$initRecipients()'}) }}>{{ icon('Message') }} {{ 'Send a message'|trans }}</a>
                {% endif %}
            </div>
            
        </div>
    </div>
    
    <div class="profile-menu">
        {% spaceless %}
            <a href="{{ path('user_show', {slug: user.slug}) }}"{% if controller_name() == 'user' %} class="active"{% endif %}>{{ icon('User') }} {{ 'Profile'|trans }}</a>
            <a href="{{ path('wall_user', {slug: user.slug}) }}"{% if controller_name() == 'wall' %} class="active"{% endif %}>{{ icon('Wall') }} {{ 'Wall'|trans }}</a>
            <a href="{{ path('user_biography', {slug: user.slug}) }}"{% if controller_name() == 'biography' %} class="active"{% endif %}>{{ icon('Biography') }} {{ 'Biography'|trans }}</a>
            <a href="{{ path('user_events', {slug: user.slug}) }}"{% if controller_name() == 'event' %} class="active"{% endif %}>{{ icon('Event') }} {{ 'Events'|trans }}</a>
            <a href="{{ path('user_images', {slug: user.slug}) }}"{% if controller_name() == 'image' %} class="active"{% endif %}>{{ icon('Image') }} {{ 'Images'|trans }}</a>
            <a href="{{ path('user_multimedia', {slug: user.slug}) }}"{% if controller_name() == 'multimedia' %} class="active"{% endif %}>{{ icon('Multimedia') }} {{ 'Multimedia'|trans }}</a>
            <a href="{{ path('user_discs', {slug: user.slug}) }}"{% if controller_name() == 'disc' %} class="active"{% endif %}>{{ icon('Disc') }} {{ 'Discs'|trans }}</a>
            <span class="dropdown">
                <a href="#"{% if controller_name() in ['relation', 'education'] %} class="active"{% endif %} data-toggle="dropdown">{{ 'Other'|trans }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('relation_show', {slug: user.slug}) }}">{{ icon('Relation') }} {{ 'Relations'|trans }}</a></li>
                    <li><a href="{{ path('education_show', {slug: user.slug}) }}">{{ icon('Education') }} {{ 'Education'|trans }}</a></li>
                    <li><a href="{{ path('work_show', {slug: user.slug}) }}">{{ icon('Work') }} {{ 'Work'|trans }}</a></li>
                </ul>
            </span>
        {% endspaceless %}
    </div>
</div>