<div class="box profile-header">
    <div class="clearfix">
    
        <div class="col-md-4 box-body profile-header-info text-center">
            <div class="profile-header-picture thumbnail">
                {{ show_img_box(user.img|imagine_filter('medium'), {width: 120, offset: user.imgOffset}) }}
            </div>
            <h2>{{ user }}</h2>
            <h3 class="text-muted" {{ user.userTags|length > 3 and tooltip(user.userTags) }}>
                {{ user.userTags[:3]|join(', ')|trim }}{% if user.userTags|length > 3 %}...{% endif %}
            </h3>

            <p>{{ icon('Map') }} {{ 'comes from'|trans }}: {{ user.cityBirth }} - {{ 'lives in'|trans }}: {{ user.cityCurrent }}</p>
        </div>
        
        <div class="col-md-8 profile-header-cover">
            {% if user.coverImg != '' %}
                {{ show_img_box(user.coverImg|imagine_filter('large'), {width: 780, height: 300, offset: user.coverImgOffset}) }}
            {% endif %}
            <div class="profile-header-buttons btn-toolbar" role="toolbar">
                {% if is_granted('ROLE_USER') and user.id != app.user.id %}
                    {{ render(controller('CMBundle:Fan:button', {userId: user.id})) }}
                    {{ render(controller('CMBundle:Relation:button', {user: user})) }}
                    <a href="{{ path('message_new', {'userId': user.id}) }}" class="btn btn-default">{{ icon('Message') }} {{ 'Send a message'|trans }}</a>
                {% endif %}
            </div>
            
        </div>
    </div>
    
    <div class="profile-menu">
        {% spaceless %}
            <a href="{{ path('user_show', {slug: user.slug}) }}"{% if controller_name() == 'user' %} class="active"{% endif %}>{{ icon('User') }} {{ 'Profile'|trans }}</a>
            <a href="{{ path('wall_user', {slug: user.slug}) }}"{% if controller_name() == 'wall' %} class="active"{% endif %}>{{ icon('Wall') }} {{ 'Wall'|trans }}</a>
            <a href="{{ path('user_biography', {slug: user.slug}) }}"{% if controller_name() == 'biography' %} class="active"{% endif %}>{{ icon('Biography') }} {{ 'Biography'|trans }}</a>
            <a href="{{ path('user_events', {slug: user.slug}) }}"{% if controller_name() == 'event' %} class="active"{% endif %}>{{ icon('Event') }} {{ 'Events'|trans }}</a>
            <a href="{{ path('user_images', {slug: user.slug}) }}"{% if controller_name() == 'image' %} class="active"{% endif %}>{{ icon('Image') }} {{ 'Images'|trans }}</a>
            <a href="{{ path('user_multimedia', {slug: user.slug}) }}"{% if controller_name() == 'multimedia' %} class="active"{% endif %}>{{ icon('Multimedia') }} {{ 'Multimedia'|trans }}</a>
            <a href="{{ path('user_discs', {slug: user.slug}) }}"{% if controller_name() == 'disc' %} class="active"{% endif %}>{{ icon('Disc') }} {{ 'Discs'|trans }}</a>
            <span class="dropdown">
                <a href="#"{% if controller_name() in ['relation', 'education'] %} class="active"{% endif %} data-toggle="dropdown">{{ 'Other'|trans }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('relation_show', {slug: user.slug}) }}">{{ icon('Relation') }} {{ 'Relations'|trans }}</a></li>
                    <li><a href="{{ path('user_education', {slug: user.slug}) }}">{{ icon('Education') }} {{ 'Education'|trans }}</a></li>
                </ul>
            </span>
        {% endspaceless %}
    </div>

{#
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse user-menu">
            <ul class="nav navbar-nav">
                <li{% if controller_name() == 'profile' %} class="active"{% endif %}>
                    <a href="{{ path('user_show', {'slug': user.slug}) }}">{{ icon('User')|raw }} {{ 'Profile'|trans }}</a>
                </li>
                <li{% if controller_name() == 'wall' %} class="active"{% endif %}>
                    <a href="{{ path('wall_user', {'slug': user.slug}) }}">{{ icon('Wall')|raw }} {{ 'Wall'|trans }}</a>
                </li>
                <li{% if controller_name() == 'biography' %} class="active"{% endif %}>
                    <a href="{{ path('user_biography', {'slug': user.slug}) }}">{{ icon('Biography')|raw }} {{ 'Biography'|trans }}</a>
                </li>
                <li{% if controller_name() == 'event' %} class="active"{% endif %}>
                    <a href="{{ path('user_events', {'slug': user.slug}) }}">{{ icon('Event')|raw }} {{ 'Events'|trans }}</a>
                </li>
                <li{% if controller_name() == 'image' %} class="active"{% endif %}>
                    <a href="{{ path('user_images', {'slug': user.slug}) }}">{{ icon('Image')|raw }} {{ 'Images'|trans }}</a>
                </li>
                <li{% if controller_name() == 'multimedia' %} class="active"{% endif %}>
                    <a href="{{ path('user_multimedia', {'slug': user.slug}) }}">{{ icon('Multimedia')|raw }} {{ 'Multimedia'|trans }}</a>
                </li>
                <li{% if controller_name() == 'disc' %} class="active"{% endif %}>
                    <a href="{{ path('user_discs', {'slug': user.slug}) }}">{{ icon('Disc')|raw }} {{ 'Discs'|trans }}</a>
                </li>
            </ul>
            <ul class="nav nav navbar-nav pull-right">
                <li class="dropdown{% if controller_name() == 'fan' or controller_name() == 'relation' or controller_name() == 'education' %} active{% endif %}">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ 'More'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li>
                            <a href="{{ path('fan_user', {'slug': user.slug}) }}">{{ icon('Fan')|raw }} {{ 'Fans'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('relation_user', {'slug': user.slug}) }}">{{ icon('Relation')|raw }} {{ 'Relations'|trans }}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a href="{{ path('fan_user', {'slug': user.slug}) }}">{{ icon('Work')|raw }} {{ 'Work and education [TODO]'|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
#}
</div>