{% if not user.coverImg or user.coverImg == '' %}
    <div class="media">
        {{ show_img_box(user.img|imagine_filter('350'), {'width': 35, 'height': 35, 'offset': user.imgOffset, 'default': 'user', 'box_attributes': {'class': 'pull-left'}})|raw }}
        <div class="media-body">
            <h2{{ user }}</h2>
        </div>
    </div>
{% endif %}

<div class="profile-header shadow">
    {% if user.coverImg != '' %}
        <div class="cover image_box">
            {{ show_img_box(user.coverImg|imagine_filter('770'), {'width': 770, 'height': 285, 'offset': user.coverImgOffset, 'img_only': true})|raw }}
            <div class="cover-shadow"></div>
            <h2>{{ user }}</h2>
        </div>
    {% endif %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse user-menu">
            <ul class="nav navbar-nav">
                <li{% if inPage == 'profile' %} class="active"{% endif %}>
                    <a href="{{ path('user_show', {'slug': user.slug}) }}">{{ show_icon('User')|raw }} {{ 'Profile'|trans }}</a>
                </li>
                <li{% if inPage == 'wall' %} class="active"{% endif %}>
                    <a href="{{ path('user_wall', {'slug': user.slug}) }}">{{ show_icon('Wall')|raw }} {{ 'Wall'|trans }}</a>
                </li>
                <li{% if inPage == 'biography' %} class="active"{% endif %}>
                    <a href="{{ path('user_biography', {'slug': user.slug}) }}">{{ show_icon('Biography')|raw }} {{ 'Biography'|trans }}</a>
                </li>
                <li{% if inPage == 'event' %} class="active"{% endif %}>
                    <a href="{{ path('user_events', {'slug': user.slug}) }}">{{ show_icon('Event')|raw }} {{ 'Events'|trans }}</a>
                </li>
                <li{% if inPage == 'image' %} class="active"{% endif %}>
                    <a href="{{ path('user_show', {'slug': user.slug}) }}">{{ show_icon('Image')|raw }} {{ 'Images [TODO]'|trans }}</a>
                </li>
                <li{% if inPage == 'disc' %} class="active"{% endif %}>
                    <a href="{{ path('user_show', {'slug': user.slug}) }}">{{ show_icon('Disc')|raw }} {{ 'Discs [TODO]'|trans }}</a>
                </li>
                {#<li{% if $inPage == 'fan' %} class="active"{% endif %}><?php echo link_to(show_icon('fan').' '.__('Fans'), '@fan_user?user='.$user->getUsername()) ?></li>#}
            </ul>
            <ul class="nav nav navbar-nav pull-right">
                <li class="dropdown{% if inPage == 'fan' or inPage == 'education' %} active{% endif %}">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ 'More'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li>
                            <a href="{{ path('fan_user', {'slug': user.slug}) }}">{{ show_icon('Fan')|raw }} {{ 'Fans'|trans }}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a href="{{ path('fan_user', {'slug': user.slug}) }}">{{ show_icon('Work')|raw }} {{ 'Work and education [TODO]'|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>


{#<?php if (!$user->getCoverImg() || !is_file('uploads/images/770/'.$user->getCoverImg())): ?>
    <div class="media">
        
        <?php show_img_box($user->getImg(), array('width' => 35, 'height' => 35, 'offset' => $user->getImgOffset(), 'default' => 'user', 'box_attributes' => array('class' => 'pull-left'))) ?>
        <div class="media-body">
            <h2><?php echo $user ?></h2>
        </div>
    </div>
<?php endif ?>

<div class="profile-header shadow">
    <?php if ($user->getCoverImg() && is_file('uploads/images/770/'.$user->getCoverImg())): ?>
        <div class="cover image_box">
            <?php show_img_box($user->getCoverImg(), array('width' => 770, 'height' => 285, 'offset' => $user->getCoverImgOffset(), 'img_only' => true)) ?>
            <div class="cover-shadow"></div>
            <h2><?php echo $user ?></h2>
        </div>
    <?php endif ?>
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse user-menu">
            <ul class="nav navbar-nav">
                <li<?php $inPage == 'show' and print ' class="active"' ?>><?php echo link_to(show_icon('user').' '.__('Profile'), $user->getRawValue()->getLinkShow()) ?></li>
                <li<?php $inPage == 'wall' and print ' class="active"' ?>><?php echo link_to(show_icon('wall').' '.__('Wall'), '@wall_user?user='.$user->getUsername()) ?></li>
                <li<?php $inPage == 'biography' and print ' class="active"' ?>><?php echo link_to(show_icon('biography').' '.__('Biography'), '@biography_user?user='.$user->getUsername()) ?></li>
                <li<?php $inPage == 'event' and print ' class="active"' ?>><?php echo link_to(show_icon('event').' '.__('Events'), '@image_user?user='.$user->getUsername()) ?></li>
                <li<?php $inPage == 'image' and print ' class="active"' ?>><?php echo link_to(show_icon('image').' '.__('Images'), '@image_user?user='.$user->getUsername()) ?></li>
                <li<?php $inPage == 'disc' and print ' class="active"' ?>><?php echo link_to(show_icon('disc').' '.__('Discs'), '@disc_user?user='.$user->getUsername()) ?></li>
            </ul>
            <ul class="nav nav navbar-nav pull-right">
                <li class="dropdown<?php in_array($inPage, array('fan', 'education')) and print ' active' ?>">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><?php echo __('More') ?> <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li><?php echo link_to(show_icon('fan').' '.__('Fans'), '@fan_user?user='.$user->getUsername()) ?></li>
              <li role="presentation" class="divider"></li>
                <li><?php echo link_to(show_icon('work').' '.__('Work and education'), '@work_education_user?user='.$user->getUsername()) ?></li>
            </ul>
          </li>
            </ul>
        </div>
    </nav>
</div>#}