{% extends 'CMBundle:Form:layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-5">
            <h2>{{ block('title') }}</h2>
        </div>
        {{ include('CMBundle:Disc:menu.html.twig') }}
    </div>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.image) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.translations) }}
                {% if form.posts is defined %}{{ form_row(form.post) }}{% endif %}
                {{ form_row(form.category) }}
                {{ form_row(form.label) }}
                {{ form_row(form.date) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}