{% if discs|length > 0 %}
    {% set link = link|default(path('disc_index')) %}

    <div class="box box-system">
        <div class="box-heading">
            <h2>
                {{ icon('Disc') }} {{ 'Latest discs'|trans }}{% if count is defined %}
                <small><a href="{{ link }}" class="pull-right">{{ 'Show all (%count%)'|trans({'%count%': count}) }}</a></small>{% endif %}
            </h2>
        </div>

        <div class="box-body objects">
            {% for disc in discs %}
                <div class="media object">
                    {{ show_img_box(disc.image|default_img|imagine_filter('medium'), {width: 100, height: 66, offset: disc.imgOffset, box_attributes: {class: 'pull-left'}}) }}
                    <div class="media-body">
                        <h3><a href="{{ path('disc_show', {id: disc.id, slug: disc.getSlug}) }}" title="{{ disc }}">{{ disc }}</a></h3>
                        
                        <p><strong>{{ 'Label'|trans }}</strong> {{ disc.label }} &middot; <strong>{{ 'Year'|trans }}</strong> {{ disc.year|date('Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}