<div class="discs-row clearfix">
    {% for disc in discs %}
        {% if loop.index0 > 0 and loop.index0 % 5 == 0 %}</div><div class="discs-row clearfix">{% endif %}
        
        <div class="disc">
            {{ disc.id }}  
            {% if disc.getImages|length > 0 %}
                <a href="{{ path('disc_show', { 'id': disc.id, 'slug': disc.getSlug }) }}" class="pull-left img-thumbnail disc-cover">
                    <img src='{{ asset(uploaded_images_full_dir ~ '/' ~ disc.images[0].img) }}' width="200px" />
                </a>
            {% endif %}
            <h4><a href="{{ path('disc_show', { 'id': disc.id, 'slug': disc.getSlug }) }}">{{ disc.getTitle }}</a></h4>
        </div>
        
    {% endfor %}
</div>

{% if discs.paginationData.current < discs.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ 'page': discs.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
    </div>
{% endif %}