<div class="row">
    {% for disc in discs %}
        
        <div class="disc">
            <div class="disc-cover">
                <a href="{{ path('disc_show', {id: disc.id, slug: disc.getSlug}) }}">
                    {% if disc.image is not null %}
                        <img src="{{ disc.image|default_img|imagine_filter('medium') }}" />
                    {% endif %}
                </a>
            </div>

            <h3><a href="{{ path('disc_show', {id: disc.id, slug: disc.getSlug }) }}">{{ disc.getTitle }}</a></h3>
            <h4><a {{ publisher_box(disc.post.publisher) }} href="{{ path(disc.post.publisherType ~ '_show', {slug: disc.post.publisher.slug}) }}">{{ disc.post.publisher }}</a></h4>
        </div>
        
    {% endfor %}
</div>

{% if discs.paginationData.current < discs.paginationData.last %}
    <div class="well well-small" load_more>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: discs.getPaginationData.next })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}