<div class="col-sm-12 disc-content">
    <div class="box">
        <div class="box-body">
            <div class="row object">
                <div class="col-md-4 col-lg-3">
                    {% if disc.getImages|length > 0 %}
                        <img src='{{ disc.image|default_img|imagine_filter('medium') }}' class="img-responsive" />
                    {% endif %}
                </div>
    
    
    
                <div class="col-md-8 col-lg-9">
                    <h3>{{ disc }}</h3>
    
                    {#<p class="text-muted"><?php echo __('Published on') ?> <?php echo format_date($post->getCreatedAt(), 'D') ?> <?php echo __('by') ?> <?php echo link_to($post->getPublisher(), $post->getRawValue()->getPublisher()->getLinkShow()) ?>, <?php echo __('with') ?> <?php include_component('protagonist', 'protagonists', array('post' => $post)) ?></p>#}
    
                    <p>
                        {% if disc.label is not null %}<dt>Label</dt><dd>{{ disc.label }}</dd>{% endif %}
                        {% if disc.year is not null %}<dt>Year</dt><dd>{{ disc.year|date('Y') }}</dd>{% endif %}
                    </p>
    
                    {{ disc|short_text }}
                </div>
            </div>

            {{ include('CMBundle::social.html.twig', {'post': disc.post}) }}

        </div>
        
        <div class="box-footer">
            <div class="pull-right">
                <a href="{{ path('disc_show', {id: disc.id, slug: disc.getSlug}) }}">Disco</a>
            </div>
        </div>
    </div>
</div>