<div class="media object post-content">

    {% if post.entity.image is not null %}
        <a href="{{ path('disc_show', {id: post.entity.id, slug: post.entity.getSlug}) }}" class="pull-left">
            <img src="{{ post.entity.image|imagine_filter('xsmall') }}" width="150px" />
        </a>
    {% endif %}

    <div class="media-body">
    
        <h4><a href="{{ path('disc_show', {id: post.entity.id, slug: post.entity.getSlug}) }}">{{ post.entity }}</a></h4>
        {% if post.entity.getSubtitle is not null %}<h5>{{ post.entity.getSubtitle }}</h5>{% endif %}

        {{ post.entity|short_text({more: true}) }}
        
        <p><strong>{{ 'Label'|trans }}</strong> {{ post.entity.label }} &middot; <strong>{{ 'Year'|trans }}</strong> {{ post.entity.year|date('Y') }}</p>

    </div><!-- END Media Body -->

</div><!-- END Object -->