{% extends 'CMBundle::layout.html.twig' %}
{% set noColumns = true %}

{% block title %}{{ disc.getTitle }}{% endblock %}
{% set meta = {
    description: disc|short_text({max: 155, stripped: true}),
    image: disc.image|default_img|imagine_filter('full')
} %}

{% block heading %}
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>{{ icon('Disc') }} {{ disc }}</h2>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="heading-buttons">
                {% if is_granted('ROLE_USER') %}
                    <div class="btn-group btn-group-sm">
                        {{ include('CMBundle:Like:likeActions.html.twig', {post: disc.post, button: true, selector: '#social'}) }}
                        <a href="{# {{ path('post_show', {post_id: postId}) }} #}" class="comment_new-show {{ is_granted('ROLE_USER') ? '' : 'unlogged' }} btn btn-default">{{ icon('Comment') }}{% if disc.post.comments|length > 0 %} {{ disc.post.comments|length }}{% endif %}</a>
                    </div>
                {% endif %}
                {% if can_manage(disc) %}
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('disc_edit', {id: disc.id, slug: disc.getSlug}) }}" class="btn btn-default">{{ icon('Edit') }} {{ "Edit"|trans }}</a>
                        <a href="{{ path('disc_delete', {id: disc.id}) }}" class="btn btn-default" {{ modal({title: 'Delete disc'|trans, text: 'Are you sure you want to delete this disc?'|trans, size: 'sm'}) }}>{{ icon('Delete') }} {{ "Delete"|trans }}</a>
                    </div>
                {% endif %}
                {{ include('CMBundle:EntityUser:requestAdd.html.twig', {entity: disc}) }}
            </div>
        </div>
    </div>
{% endblock %}



{% block body %}

    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div data-ajax-url="{{ path('image_entity', {id: disc.id, slug: disc.getSlug, type: 'discs'}) }}"></div>

            <div data-ajax-url="{{ path('multimedia_entity', {id: disc.id, type: disc|class_name}) }}"></div>
            
            <div data-ajax-url="{{ path('entityuser_publisher', {type: disc.post.publisherType, id: disc.post.publisherId}) }}"></div>
            
            <div data-ajax-url="{{ path('entityuser_protagonists', {id: disc.id}) }}"></div>
        </div>

        <div class="col-md-8 col-lg-5">
            <div class="box">
                <div class="box-heading">
                    <h2>{{ icon('Info') }} {{ 'Details'|trans }}</h2>
                </div>
                <div class="box-body">
                    <div class="object">
                        <p>
                            {{ "Created by %publisher%"|trans({'%publisher%': '<a ' ~ publisher_box(disc.post.publisher) ~ ' href="' ~ path(disc.post.publisherType ~ '_show', {'slug': disc.post.publisher.slug}) ~ '">' ~ disc.post.publisher~'</a>'})|raw }}
                            &middot;
                            <a href="{{ path('disc_category', { 'categorySlug': disc.category.getSlug }) }}">{{ disc.category|capitalize }}</a>
                        </p>
                    </div>
                    <div class="media object">
                        <div>
                            <div class="text-justify">{{ disc.getText|raw }}</div>

                            <p><strong>{{ 'Label'|trans }}</strong> {{ disc.label }} &middot; <strong>{{ 'Year'|trans }}</strong> {{ disc.year|date('Y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div data-ajax-url="{{ path('disc_tracks', {id: disc.id}) }}"></div>

            <div data-ajax-url="{{ path('wall_entity', {id: disc.id}) }}"></div>
        </div>

        <div class="col-md-12 col-lg-4">
            <div data-ajax-url="{{ path('disc_latests', {object: disc.post.publisherType, objectId: disc.post.publisher.id, exclude: disc.id, limit: 3}) }}"></div>

            <div data-ajax-url="{{ path('disc_sponsored') }}"></div>

            <div data-ajax-url="{{ path('wall_banner', {count: 1}) }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language={{ app.request.locale }}"></script>
    {{ parent() }}
{% endblock %}

{#
{% block body %}

    <div class="box-heading">
        <h3>{{ icon('Disc')|raw }} <span>{{ disc }}</span></h3>
    </div>

    {% if can_manage(disc) %}
        <div class="media">
            <div class="btn pull-left alert-info"><a href="{{ path('disc_edit', {'id': disc.id, 'slug': disc.getSlug}) }}">{{ "Edit"|trans }}</a></div>
            <div class="btn pull-right alert-danger"><a href="{{ path('disc_delete', {'id': disc.id}) }}">{{ "Delete"|trans }}</a></div>
        </div>
    {% endif %}


    {{ include('CMBundle:EntityUser:requestAdd.html.twig', {'entity': disc}) }}

    <ul>
        {% for protagonist in disc.entityUsers if protagonist.status == constant('CM\\CMBundle\\Entity\\EntityUser::STATUS_ACTIVE') %}
            <li>
                {{ protagonist.id }} : {{ protagonist.user }}
                {% for userTag in protagonist.userTags %}
                    <ul>
                        <li>{{ tags[userTag] }}</li>
                    </ul>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <div class="media">
        {% if disc.getImages|length > 0 %}
            <img src='{{ disc.image|defauult_img|imagine_filter('small')) }}' width="200px" />
        {% endif %}


    </div>

    {{ include('CMBundle::social.html.twig', {'post': disc.post}) }}
{% endblock %}
#}