{% extends 'CMBundle:Form:layout.html.twig' %}
{% set noFooter = true %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/cm/css/messages.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ 'Messages'|trans }}{% endblock %}

{% block body %}

    <div id="message-interface">
        <div class="row">

            <div class="col-md-12">
                <h2>
                    {{ icon('Message') }}
                    {{ block('title') }}
                </h2>
            </div>

            <div id="conversations" class="col-md-4">

                <div class="objects-container">

                    <div class="objects">

                        <div class="objects">
                            <ul class="media-list">
                                {{ include('CMBundle:Message:messageList.html.twig') }}
                            </ul>
                        </div>

                    </div>
                    
                </div>

            </div>
            <div id="conversation" class="col-md-8">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function getPosition(element) {
            var xPosition = 0;
            var yPosition = 0;
          
            do {
                xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
            } while (element = element.offsetParent)

            return {left: xPosition, top: yPosition};
        }
        var messageHeight = document.getElementById('body').clientHeight - getPosition(document.getElementById('message-interface')).top - 1;
        document.getElementById('message-interface').style.height = messageHeight + 'px';
    </script>
    {{ parent() }}
    {% javascripts
        'bundles/cm/js/messages.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}