{% extends 'CMBundle:Form:layout.html.twig' %}
{% set noFooter = true %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/cm/css/messages.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ 'Messages'|trans }}{% endblock %}

{% block body %}

    <div id="message-interface">
        <div class="row">

            <div class="col-md-12">
                <h2>
                    {{ block('title') }}
                </h2>
            </div>

            <div id="conversations" class="col-md-4">

                <div class="objects-container">

                    <div class="objects">

                        <div class="objects">
                            <ul class="media-list">
                                {{ include('CMBundle:Message:messageList.html.twig') }}
                            </ul>
                        </div>

                    </div>
                    
                </div>

            </div>
            <div id="conversation" class="col-md-8">
                {% if threadId is not null %}
                    {{ render(controller('CMBundle:Message:show', {threadId: threadId, force: true})) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function getPositionTop(element) {
            var top = 0;

            do {
                top += (element.offsetTop + element.clientTop);
            } while (element = element.offsetParent)

            return top;
        }
        function resizeMessages() {
            var messages = document.getElementById('messages');
            var conversation = document.getElementById('conversation');
            var height = 0;
            if (messages) {
                conversation.style.height = '';
                height = document.getElementById('body').clientHeight - getPositionTop(messages) - document.getElementById('message-new').clientHeight;
            } else {
                height = document.getElementById('body').clientHeight - getPositionTop(conversation) - 1;
            }
            (messages || conversation).style.height = height + 'px';
            if (messages) {
                messages.scrollTop = messages.scrollHeight;
            }
        }

        resizeMessages();
    </script>
    {{ parent() }}
    {% javascripts
        'bundles/cm/js/messages.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}