{% for thread in threads %}
    <li class="media object">
        {{ show_img_box(thread.creator.img|imagine_filter('avatar'), {'width': 50, 'height': 50, 'offset': thread.creator.imgOffset,  'link': path('user_show', {'slug': thread.creator.slug}), 'default': 'user', 'box_attributes': {'class': 'pull-left'}})|raw }}
        <div class="media-body ajax-link-target">
            
            <div class="media-body">
                <p><b>{{ thread.subject }}</b></p>
                {{ thread.lastMessage.body|length > 30 ? thread.lastMessage.body|slice(0, 27) ~ '...' : thread.lastMessage.body }}
                <p class="text-muted"><small>{{ thread.lastMessage.createdAt|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}</small></p>
            </div>
        </div>
    </li>
{% else %}
    {{ "There are no sent messages."|trans }}
{% endfor %}

{#{% if threads.paginationData.current < threads.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path('thread_index', { 'page': threads.getPaginationData.next }) }}">{{ 'Load more'|trans }}</a>
    </div>
{% else %}
    <div class="well well-small"><span>{{ 'There are no more threads.'|trans }}</span></div>
{% endif %}#}