{% form_theme form 'CMBundle:Form:compact.html.twig' %}

{{ form_start(form, {action: formAction}) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ 'Send a message to %user%'|trans({'%user%': user}) }}</h4>
    </div>
    <div class="modal-body">
        {{ form_row(form.recipients) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
    </div>
    <div class="modal-footer">
        {{ form_row(form.send) }}
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
    </div>
{{ form_end(form) }}
{% if user is defined and user is not null %}<div class="hidden" data-recipient="{{ user }}" data-recipient-id="{{ user.id }}" data-recipient-username="{{ user.slug }}"></div>{% endif %}