<div class="message">   
    {{ show_img_box(message.sender|default_img|imagine_filter('avatar'), {width: 32, offset: message.sender.imgOffset, box_attributes: {class: 'pull-left'}}) }}

    <div class="message-heading">
        <h2>
            {{ message.sender }}
            {#<a href="{{ path('message_delete_message', {threadId: message.threadId, messageId: message.id}) }}" {{ tooltip('Remove message'|trans) }}>{{ icon('Remove') }}</a>#}
            <small class="message-date">{{ message.createdAt|format_time(null, null, null, constant('IntlDateFormatter::MEDIUM')) }}</small>
        </h2>
    </div>
    <div>
        {{ message.body }}
    </div>
</div>