<div id="message_{{ message.id }}">   
    <div>{% if loop is defined %}{{ loop.index }}{% endif %}
        {% if message.senderId == app.user.id %}{{ 'you'|trans }}{% else %}{{ message.sender }}{% endif %}
        <a href="{{ path('message_delete_message', {threadId: message.threadId, messageId: message.id}) }}">{{ 'Remove message'|trans }}</a>
    </div>
    <div>{{ message.createdAt|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}</div>
    <div>
        {{ message.body }}
    </div>
</div>