<div class="col-lg-7 text-right">
    <div class="btn-group btn-group-sm">
        <a href="{{ path('article_index') }}" class="{{ app.request.attributes.get('_route') == 'article_index' ? 'btn btn-default active' : 'btn btn-default'}}">{{ show_icon('List')|raw }} {{ 'List'|trans }}</a>
        <a href="{{ path('article_new') }}" class="{{ app.request.attributes.get('_route') == 'article_new' ? 'btn btn-default active' : 'btn btn-default'}}">{{ show_icon('Plus')|raw }} {{ 'Create' | trans }}</a>
        <div class="btn-group btn-group-sm">
            <a href="{{ path('article_index') }}" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ show_icon('Tag')|raw }} {{ 'Categories'|trans }} <b class="caret"></b></a>
            <ul class="dropdown-menu pull-right text-left" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="{{ path('article_index') }}">{{ 'Articles'|trans }}</a></li>
                <li class="divider"></li>
                {% for category in categories %}
                    <li><a href="{{ path('article_category', { 'categorySlug': category.getSlug }) }}">{{ category.getPlural|capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>