{% for article in articles %}
        
    <div class="box-heading">
        <h2>{{ icon('Article') }} <a href="{{ path('article_show', {'id': article.id, 'slug': article.getSlug }) }}"><span>{{ article.getTitle }}</span></a></h2>
    </div>

    <ul class="media-list objects{# article#}">
        {{ include('CMBundle:Article:object.html.twig') }}
    </ul>
    
{% endfor %}

{% if articles.paginationData.current < articles.paginationData.last %}
    <div class="well well-small" load_more>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ 'page': articles.getPaginationData.next })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}